<div class="wrapper">
  <div class="main-container">
    <div class="plan-vecation">
      <div class="heading">
        Plan Your Vacation
        <% if @trip.errors.full_messages.present? %>
          <% @trip.errors.full_messages.flatten.each do |msg| %>
            <p style="font-size: 11px; font-weight: normal; color: red;"> <%= msg %> </p>
          <% end %>
        <% end %>
      </div>
      <div class="form-vecation">
        <% if flash[:errors].present? %>
          <div class="errors" align="center">
            <% flash[:errors].each do |err| %>
              <span class="error"><%= err %><br></span>
            <% end %>
          </div>
        <% end %>
        <%= form_for @trip, html: {autocomplete: 'off'} do |f| %>
          <div class="guest">
            <label>Number Of Guests:</label>
            <%= f.number_field :no_of_guest, placeholder: 'Number of guest', required: true %>
          </div>
          
          <div class="dest">
            <label>Destination</label>
          </div>
          
          <div id="trip_destinations">
            <%= f.fields_for :trip_destinations do |td| %>
              <%= render 'trip_destination_fields', f: td %>
            <% end %>
            <div class="links">
              <%= link_to_add_association '+ Add more destinations', f, :trip_destinations, class: "add" %>
            </div>
          </div>
          <%= f.hidden_field :start_date%>
          <%= f.hidden_field :end_date%>
          <%= f.submit 'Plan Now', class: "plan-btn" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<style lang="sass">
  body {
    margin: 0;
    font-family: sans-serif;
  }
  
  .plan-vecation {
    position: absolute;
    width: 340px;
    height: auto;
    left: 79px;
    top: 86px;
    background: #FFFFFF;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.26);
    border-radius: 2px;
  }
  
  .heading {
    padding: 16px 21px;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 22px;
    font-weight: bold;
    line-height: 26px;
    color: #333333;
  }

  .form-vecation {
    overflow: hidden; 
    padding: 0 21px 10px 21px;
    box-sizing: border-box;
  }
  .check1 {
    width: 50%;
    float: left;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 14px;
  }
  .check1 input {
    width: 100%;
    padding: 8px 10px;
    box-sizing: border-box;
    border: 1px solid #ECECEC;
    margin-top: 7px;
  }
  
  .dest-field {
    width: 33%;
    float: left;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 14px;
  }
  .dest-field input {
    width: 100%;
    padding: 8px 10px;
    box-sizing: border-box;
    border: 1px solid #ECECEC;
    margin-top: 7px;
  }

  .guest {
    display: block;
    margin-bottom: 10px;
    overflow: hidden;
  }

  .guest label {
    display: block;
    font-weight: bold;
    font-size: 14px;
  }
  
  .dest label {
    display: block;
    font-weight: bold;
    font-size: 14px;
  }

  .guest input {
    width: 100%;
    padding: 10px 10px;
    box-sizing: border-box;
    border: 1px solid #ECECEC;
    margin-top: 7px;
    font-size: 13px;
    color: gray;
  }
  .add, .remove {
    font-size: 14px;
    line-height: 17px;
    color: #ED365B;
    margin: 0;
    padding: 5px 0;
    box-sizing: border-box;
    font-weight: normal !important;
  }
  
  .remove{
    float: right;
  }

  .plan-btn {
    display: block;
    width: 100%;
    line-height: 37px;
    background: #ED365B;
    text-transform: uppercase;
    border: none;
    color: #fff;
  }

  @media only screen and (max-width: 540px){
    .plan-vecation {
      left: 10px;
    }
  }
  
  @media only screen and (max-width: 480px){
    .plan-vecation {
      width: 250px; 
    }
    .check {
      width: 100%;
    }
  }
</style>

<script>
  $("a.remove_fields:first").remove();
  $( "form" ).submit(function( event ) {
    var start_date = $('.dest-start-date').first().val();
    $('#trip_start_date').val(start_date);
    var end_date = $('.dest-end-date').last().val();
    $('#trip_end_date').val(end_date);
  });
</script>