<div class="nested-fields">
  <div class="guest">
    <div class="dest-field">
      <%= autocomplete_field_tag 'city', '', autocomplete_city_name_cities_path, placeholder: 'City', required: true, value: "#{f.object.city.name rescue ''}", class: 'auto_city' %>
      <%= f.hidden_field :city_id %>
    </div>
    <div class="dest-field">
      <%= f.text_field :start_date, class: 'dest-start-date', placeholder: 'Check in', required: true %>
    </div>
    <div class="dest-field">
      <%= f.text_field :end_date, class: 'dest-end-date', placeholder: 'Check out', required: true %>
    </div>
  </div>
  <div class="guest">
    <%= link_to_remove_association "Remove", f, class: "remove" %>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    $('.auto_city').keyup(function(){
      var term = $(this).val();
      for(i=0; i < $(".ui-menu-item").length ; i++){
        if($($(".ui-menu-item")[i]).find('div').text().toLowerCase() == term.toLocaleLowerCase()){
          $($(".ui-menu-item")[i]).find('div').trigger('click');
        }
      }
    });
    $('input').bind('railsAutocomplete.select', function(event, data){
      $(this).next().val(data.item.id);
    });
    var fmt = 'YYYY-MM-DD';
    var tomorrow = '';
    var today = moment().format(fmt);
    $('.dest-end-date').datepicker({minDate: today});
    $('.dest-start-date').datepicker({
      minDate: today, 
      onSelect: function(dateText, inst) {
        var date = $(this).val();
        $(this).parent().next('.dest-field').find('.dest-end-date').val(date);
      }
    });

    $('.dest-start-date, .dest-end-date').on('click, focus',datePicker);
    
    function datePicker(){
      var selected_date = new Date();
      month = $('.ui-datepicker-title').find('.ui-datepicker-month').text();
      year = $('.ui-datepicker-title').find('.ui-datepicker-year').text();
      selected_date = new Date(year+' '+month+' '+"01");

      $('.dest-start-date').attr('data-event','');
      $('.dest-end-date').attr('data-event','');
      if ($(this).hasClass('dest-start-date')){
        $(this).attr('data-event', 'clicked');
        $(this).parent().next('.dest-field').find('input').attr('data-event', 'clicked');
        var current_start_date = $(this).val();
        var current_end_date = $(this).parent().next('.dest-field').find('input').val();
        edate = new Date(current_end_date);
        sdate = new Date(current_start_date);        
        if ((edate.getDate() < sdate.getDate()) && (edate.getMonth()+1 == sdate.getMonth()+1)){
          if(edate.getDate().toString() == $('.ui-datepicker-current-day').children().text()){
            $('.ui-datepicker-current-day').children().removeClass('ui-state-active');
          }
          $(this).parent().next('.dest-field').find('input').val(current_start_date);
          current_end_date = current_start_date;
        }
        colorSelectedDateRange(current_start_date, current_end_date, selected_date);
      }
      else {
        $(this).attr('data-event', 'clicked');
        $(this).parent().prev('.dest-field').find('input').attr('data-event', 'clicked');
        var current_start_date = $(this).parent().prev('.dest-field').find('input').val();
        var current_end_date = $(this).val();
        edate = new Date(current_end_date);
        sdate = new Date(current_start_date);
        if ((edate.getDate() < sdate.getDate()) && (edate.getMonth()+1 == sdate.getMonth()+1)){
          if(edate.getDate().toString() == $('.ui-datepicker-current-day').children().text()){
            $('.ui-datepicker-current-day').children().removeClass('ui-state-active');
          }
          $(this).val(current_start_date);
          current_end_date = current_start_date;
        }
        colorSelectedDateRange(current_start_date, current_end_date, selected_date);
      }
    }
    $(document).on('click, focus', '.ui-datepicker-next, .ui-datepicker-prev', function () {
      current_start_date = $('.dest-start-date[data-event="clicked"]').val();
      current_end_date = $('.dest-end-date[data-event="clicked"]').val();
      edate = new Date(current_end_date);
      sdate = new Date(current_start_date);
      if ((edate.getDate() < sdate.getDate()) && (edate.getMonth()+1 == sdate.getMonth()+1)) {
        if(edate.getDate().toString() == $('.ui-datepicker-current-day').children().text()){
          $('.ui-datepicker-current-day').children().removeClass('ui-state-active');
        }
        $('.dest-end-date[data-event="clicked"]').val(current_start_date);
        current_end_date = current_start_date;
      }
      month = $('.ui-datepicker-title').find('.ui-datepicker-month').text();
      year = $('.ui-datepicker-title').find('.ui-datepicker-year').text()
      selected_date = new Date(year+' '+month+' '+"01");
      colorSelectedDateRange(current_start_date, current_end_date, selected_date);
    })
    var getDaysInMonth = function(month,year) {
      // Here January is 1 based
      //Day 0 is the last day in the previous month
      return new Date(year, month, 0).getDate();
      // Here January is 0 based
      // return new Date(year, month+1, 0).getDate();
    };
    function colorSelectedDateRange(current_start_date,current_end_date,selected_date){
      if (current_start_date != '' && current_end_date !=''){
        current_date_range = getDateArray(current_start_date,current_end_date);
      }else{
        current_date_range = [current_start_date,current_end_date];
      }
      
      current_month = selected_date.getMonth()+1;
      current_year = selected_date.getFullYear();
      days_in_selected_month = getDaysInMonth(current_month, current_year);

      for(j=0; j < current_date_range.length; j++){
        selected_month = parseInt(current_date_range[j].split('-')[1]);
        selected_day = parseInt(current_date_range[j].split('-')[2]);
        var color = '#ED365B';
        var disabled = false;
        colorSelectedMonthDates(days_in_selected_month, current_month, selected_day,selected_month,color,disabled);
      }
      for (i = 0; i < $('#trip_destinations').find('.nested-fields').length; i++) {
        start_date = $('#trip_destinations').find('.dest-start-date')[i].value
        end_date = $('#trip_destinations').find('.dest-end-date')[i].value
        if(start_date != current_start_date && end_date != current_end_date){
          date_array = getDateArray(start_date,end_date);
          for(j=0; j < date_array.length; j++){
            selected_month = parseInt(date_array[j].split('-')[1]);
            selected_day = parseInt(date_array[j].split('-')[2]);
            var color = 'rgb(199, 85, 108)';
            var disabled = true;
            colorSelectedMonthDates(days_in_selected_month, current_month, selected_day,selected_month,color,disabled);
          }
        }
      }
    }
    function colorSelectedMonthDates(days_in_selected_month, month, selected_day,selected_month, color, disabled){
      for(k=0; k < days_in_selected_month; k++){
        if ($($('.ui-datepicker-calendar tbody tr td').not('.ui-datepicker-other-month')[k])[0].firstChild !== undefined){
          day = parseInt($($('.ui-datepicker-calendar tbody tr td').not('.ui-datepicker-other-month')[k])[0].firstChild.innerText);
          if(month !== undefined && day !== undefined){
            if(month == selected_month && day == selected_day){
              if(disabled){
                $($('.ui-datepicker-calendar tbody tr td').not('.ui-datepicker-other-month')[k]).addClass('ui-state-disabled');
              }
              if($($('.ui-datepicker-calendar tbody tr td').not('.ui-datepicker-other-month')[k]).find('a').length == 0){
                $($('.ui-datepicker-calendar tbody tr td').not('.ui-datepicker-other-month')[k]).find('span').attr('style', 'background-color: '+color+' !important; color: #fff;');
              }else{
                $($('.ui-datepicker-calendar tbody tr td').not('.ui-datepicker-other-month')[k]).find('a').attr('style', 'background-color: '+color+' !important; color: #fff;');
              }
            }
          }
        }
      }
    }
    function getDateArray(startDate, stopDate) {
      var dateArray = [];
      var currentDate = moment(startDate);
      var stopDate = moment(stopDate);
      while (currentDate <= stopDate) {
        dateArray.push( moment(currentDate).format('YYYY-MM-DD') )
        currentDate = moment(currentDate).add(1, 'days');
      }
      return dateArray;
    }

    $('#trip_destinations').on('cocoon:after-insert', function() {
      last_dates = $('.dest-end-date').toArray();      
      new_end_date = $(last_dates[last_dates.length - 2]).val();
      date = moment(new_end_date).add(1, 'days')
      $('.dest-start-date').last().val(moment(date).format('YYYY-MM-DD'));
      $('.dest-end-date').last().val(moment(date).format('YYYY-MM-DD'));
    });
  });
</script>