<div class="container-fluid">
  <%= render 'shared/messages' %>
</div>

<div class="container-fluid">
  <div class="main-table">
    <table width="100%">
      <thead>
        <tr>
          <th>Details</th>
          <th>Active</th>
          <th>Created at</th>
          <th>Radnja</th>
        </tr>
      </thead>
      <tbody>
        <% unless @trips.blank? %>
          <% @trips.each do |trip| %>
            <tr>
              <td>
                <% trip.trip_destinations.each do |destinations| %>
                  <%= destinations.city.name+", From "+destinations.start_date.strftime("%Y-%m-%d")+ " To "+destinations.end_date.strftime("%Y-%m-%d")+ " With "+trip.no_of_guest.to_s+ " Guest" %><br>
                <% end %>
              </td>
              <td><%= label_tag(trip.active) %></td>
              <td><%= trip.created_at.strftime('%Y-%m-%d') %></td>
              <td>
                <% unless trip.active %>
                  <%= link_to 'Resume', edit_trip_path(trip), class: "table_anchor" %>
                     | <%= link_to 'Delete', trip_path(trip), method: 'delete', :data => {:confirm => 'Are you sure?'}, class: "table_anchor_delete" %>
                <% else %>
                  <%= link_to 'View', list_chosen_trip_path(trip), class: "table_anchor" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% else %>
          <tr><td colspan="4"> No trip found </td></tr>
        <% end %>  
      </tbody>
    </table>
  </div>
</div>