<div class="planner_container">
  <%= render 'shared/messages' %>
  <div class="planner_left">
    <div class="l_planner_content">
      <div class="planner_grey">
        <ul>
          <li style="width: 15%;"><%= link_to "Edit", edit_trip_path(@trip) %></li>
          <li style="width: 15%;" class="lodging">Lodging</li>
          <li style="width: 5%;"></li>
          <li style="width: 60%; border-right:none;" class="activity_top">Activity</li>
          <li style="width: 5%;"></li>
        </ul>
      </div>
      <% if @all_dates_destinations.count > 5 %>
      <div class="top_arrow">
        <a href="javascript:void(0);" id='upClick'>
          <i class="fa fa-angle-up"></i>
        </a>
      </div>
      <% end %>
      <div id="planner_calendar">
        <% @all_dates_destinations.each_with_index do |d, i| %>
        <% trip_destination = get_destination(d[:id]) %>
        <% destination_ts_range = Date.parse(trip_destination.start_date.strftime('%Y-%m-%d'))..Date.parse(trip_destination.end_date.strftime('%Y-%m-%d')) %>
        <% @accommodation = get_accomodation(trip_destination.id) %>
        <% @activities = get_activities(trip_destination.id) %>
        <% @arranged_activities = arranged_trip_activities(@activities, d) %>
        <div class="<%= i.even? ? 'planner_grey2' : 'planner_grey3'%>" >
          <ul id="date-menu-content">
            <% date_str_day = d[:date].strftime('%d')%>
            <% date_str_month = d[:date].strftime('%B') %>

            <li style="width: 15%;" id="date_list">
              <h3 class="date_value"><%= date_str_day %></h3>             
              <span class="month_value"><%= date_str_month%></span>
              <span class="mont_event_bottom_txt"><%= City.find(d[:city_id]).name %></span>
            </li>

           <li style="width: 15%;" class="li_hover">
            <span class="add_panner add_link" id="<%= i%>" data-horizontal="">
              <% if !@accommodation.blank? %>
              <% img_name = get_trip_accom_img(@accommodation) %>
              <img src="<%= asset_path(img_name) %>" class="icon_img" data-reservable_type = "<%= @accommodation.item_type %>" data-reservable_id = "<%= @accommodation.item_id %>" data-city_id = "<%= @accommodation.trip_destination.city_id %>" data-ts_range = "<%= Date.parse(@accommodation.trip_destination.start_date.strftime('%Y-%m-%d'))..Date.parse(@accommodation.trip_destination.end_date.strftime('%Y-%m-%d')) %>" data-trip_destination_id = "<%= trip_destination.id %>"  data-trip_item_id = "<%= @accommodation.id %>">
              <% else %>
              <%= link_to 'Add', accommodation_type_trip_destination_path(trip_destination.id,city_id: d[:city_id], ts_range: destination_ts_range, trip_id: trip_destination.trip_id), { class: 'planner_active_black add_button', id: 'add_button'+i.to_s } %>
              <% end %>
            </span>
          </li>

          <li style="width: 5%;">
            <span class="add_panner">
              <a href="javascript:void(0);" class="leftClick" data-row-id="<%= i %>"><i class="fa fa-angle-left"></i></a>
            </span>
          </li>

          <% active_link = true %>
          <li style="border: none !important; width:60%;">
            <ul class="list_activities" id="activity_row_<%= i %>" >
              <% li = 1 %>
              <% @arranged_activities.each do |a| %>
                <li style="width: 25%;" class="li_hover">
                  <span class="add_panner " id="<%= i%>" data-horizontal="present">
                    <% unless a.blank? %>
                      <% img_name = get_trip_image_name(a) %>
                      <img src="<%= asset_path(img_name) %>" class="icon_img" data-reservable_type = "<%= a.item_type %>" data-reservable_id = "<%= a.item_id %>" data-city_id = "<%= a.trip_destination.city_id %>"  data-ts_range = "<%= a.start_date..a.end_date %>"data-trip_destination_id = "<%= trip_destination.id %>"  data-trip_item_id = "<%= a.id %>" >
                    <% else %>
                      <% if active_link %>
                        <%= link_to 'Add', activity_type_trip_destination_path(trip_destination.id,city_id: d[:city_id], date: d[:date],trip_id: @trip), { class: 'planner_active_black add_button', id: 'add_button_horz'+i.to_s } %>
                        <% active_link = false %>
                      <% else %>
                      <% end %>
                    <% end %>
                  </span>
                </li>
                <% li+=1 %>
              <% end %>
              <% if li <= 4 %>
                <li style="width: 25%;" class="li_hover">
                  <span class="add_panner">
                  </span>
                </li>
              <% end %>
            </ul>
          </li>

          <li style="width: 5%;">
            <span class="add_panner">
              <a href="javascript:void(0);" class="rightClick" data-row-id="<%= i %>"><i class="fa fa-angle-right"></i></a>
            </span>
          </li>
        </ul>
      </div>
      <% end %>
    </div>

    <% if @all_dates_destinations.count > 5 %>
    <div class="bottom_arrow" >
      <a href="javascript:void(0);" id="downClick">
        <i class="fa fa-angle-down"></i>
      </a>
    </div>
    <% end %>
  </div>

  <div class="planner_grey4">
    <ul>
      <li class="" style="width: 26.66%; text-align: left;">
        <span class="add_panner grey_txt_new">
          <font>Summary</font>
        </span>
      </li>
      <li class="" style="width: 26.66%; text-align: left;">
        <span class="add_panner green_txt_new">
          <font class="planner_active1"> Payed: 0€ </font>
        </span>
      </li>
      <li class="" style="width: 26.66%; text-align: left;">
        <span class="add_panner pinktxt_new">
          <font style="color:#ee3762">
            To Pay: €<%= @trip.total_amount rescue '0.00' %>
          </font>
        </span>
      </li>
        
      <li class="" style="width:19.6%;">
        <span class="add_panner_a pinktxt2_new">
          <% if @trip.total_amount == 0 %>
            <a href="javascript:void(0)" class="planner_active_pay">PAY NOW</a>
          <% else %>
            <%= link_to 'PAY NOW', reserve_payment_trip_path(@trip), class: 'planner_active_pay' %>
          <% end %>
        </span>
      </li>
    </ul>
  </div>
</div>
  <div class="planner_right">
    <div class="planner_right_heading">
      <h1 class="planner_right_heading_txt">Pick our lodadging and activities for the dates.</h1>
    </div>
  </div>
</div>
<style type="text/css">
  #downClick {
    opacity: 0;
  }

  #downClick:hover {
    opacity: 1;
  }
  #upClick {
    opacity: 0;
  }

  #upClick:hover {
    opacity: 1;
  }
  .planner_active_black{
    color: rgb(2, 4, 33) !important;
  }
</style>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.scrollbar/0.2.11/jquery.scrollbar.js"></script>

<script type="text/javascript">
  $( document ).ready(function() {
    count = "<%= @all_dates_destinations.count %>"
    if(count < 5){
      $('#planner_calendar').height(count*100)
    }
  });

  $('.icon_img').click(function(){
    reservable_type = $(this).data('reservable_type')
    reservable_id = $(this).data('reservable_id')
    city_id = $(this).data('city_id')
    ts_range = $(this).data('ts_range')
    trip_destination_id = $(this).data('trip_destination_id')
    trip_item_id = $(this).data('trip_item_id')
    $.ajax({
      type: "GET", 
      url: "/trip_items/"+trip_item_id,
      data: {item_type: reservable_type, item_id: reservable_id, city_id: city_id, ts_range: ts_range, trip_destination_id: trip_destination_id},
      success:function(result){
        $('.planner_right').html('')
        $('.planner_right').html(result)
      }
    })
  });
  var scrolled = 0;
  $("#downClick").on("click" ,function(){
    scrolled = scrolled+400;
    $("#planner_calendar").animate({
      scrollTop:  scrolled
    });
  });
  $("#upClick").on("click" ,function(){    
    scrolled = scrolled-400;
    $("#planner_calendar").animate({
      scrollTop:  scrolled
    });
  });

  $(".rightClick").on("click" ,function(){
    row_id = $(this).data('row-id')
    var navwidth = $("#activity_row_"+row_id);
    wdt = $('ul.list_activities li').last().width()+2.5
    navwidth.scrollLeft(navwidth.scrollLeft() + wdt);
  });
  $(".leftClick").on("click" ,function(){
    row_id = $(this).data('row-id')
    var navwidth = $("#activity_row_"+row_id);
    wdt = $('ul.list_activities li').last().width()+2.5
    navwidth.scrollLeft(navwidth.scrollLeft() - wdt);
  });

  $(document).ready(function(){
    $("#planner_calendar").smoothWheel()
  });
</script>
<script>
  $(document).ready(function(){
    $('.li_hover').mouseover(function() {
      //alert($(this).closest('span.add_panner').attr('id'))
      myvar = this.firstChild.nextElementSibling.attributes.id.value;
      horz = this.firstChild.nextElementSibling.attributes[2].value;
      if(horz=="present"){
        $(this).find('a.add_button').addClass('planner_active')
        $('#add_button_horz'+myvar).css({'color': '#ee325c !important', 'transition': 'color .8s'}).show();
        $('.activity_top').css({'color': '#ee325c !important', 'transition': 'color .8s'});
        $(this).parent('ul').parent().parent().children('#date_list').find('h3').css('color','#ee325c');
        $(this).parent('ul').parent().parent().children('#date_list').find('span.month_value').css('color','#ee325c');
      }else{
        $(this).find('a.add_button').addClass('planner_active')
        $('#add_button'+myvar).css({'color': '#ee325c !important', 'transition': 'color .8s'}).show();
        $('.lodging').css({'color': '#ee325c !important', 'transition': 'color .8s'});
        $(this).prev('li').children('.date_value').css({'color': '#ee325c', 'transition': 'color .8s'})
        $(this).prev('li').children('.month_value').css({'color': '#ee325c', 'transition': 'color .8s'})
        $(this).prev('li').children('.mont_event_bottom_txt').css({'color': '#ee325c', 'transition': 'color .8s'})
      }
    });
    $('.li_hover').mouseout(function() {
      $("a.add_button").removeClass('planner_active');
      $("a.add_button").addClass('planner_active_black');
      $('.activity_top').css('color','#020421 !important');
      $('.lodging').css('color','#020421 !important');
      $('.date_value').css('color','#020421');
      $('.month_value').css('color','#020421');
      $('.mont_event_bottom_txt').css('color','#888');
    });
  });
</script>

<style type="text/css">
  span.month_value{
    font-size: 15px;
    display: block;
    line-height: 30px;
    text-align: center;
    color: #000;
    font-weight: bolder;
  }
  span.mont_event_bottom_txt {
    font-size: 13px;
    line-height: 18px;
    font-weight: 500;
    color: #888;
  }
  h1.planner_right_heading_txt {
    color: #b4b4b4;
    font-weight: normal;
    font-size: 31px;
    line-height: 27px;
  }
  .planner_right_heading {
    padding: 0px 23px;
  }
  span.add_panner.grey_txt_new font {
    color: #646464;
    font-weight: 600;
    padding-left: 15px;
    box-sizing: border-box;
    text-transform: uppercase;
  }
  span.add_panner.green_txt_new font {
    color: #4ec75b;
    font-weight: normal;
    padding-left: 15px;
    box-sizing: border-box;
    
  }
  span.add_panner.pinktxt_new font {
    color: #ee4f6f!important;
    font-weight: normal;
  }
  span.add_panner.pinktxt2_new {
    color: #ee4f6f;
    font-size: 14px;
    font-weight: 600;
  }
  .add_panner_a a {
    font-size: 16px !important;
    line-height: 20px !important;
    color: #ee4f6f !important;
    text-align: center !important;
  }
</style>