<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<div class="container-fluid">
  <div align="center">
    <div class="col-sm-6 payment-form-div">
      <span>
        <%= link_to list_chosen_trip_path(@trip), class: "back-btn" do %>
          <i class="fa fa-angle-left"></i>
            Back
        <% end %>
      </span>
      <h3>Book your trip</h3>
      <article class="card">
        <div class="card-body p-5">

          <ul class="nav bg-light nav-pills rounded nav-fill mb-3" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="pill" href="#nav-tab-card" style="background-color: #50bebe;">
              <i class="fa fa-credit-card"></i> 
                Credit Card
              </a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade show active" id="nav-tab-card" style="background-color: white;">
              <%= render 'shared/messages'%>
              <%= form_tag register_card_trip_path(@trip), role: "form" do %>
                <div class="form-group">
                  <label for="username">Full name (on the card)</label>
                  <%= text_field_tag :username, "", class: "form-control", placeholder: "Full name", required: true %>
                </div> <!-- form-group.// -->

                <div class="form-group">
                  <label for="cardNumber">Card number</label>
                  <div class="input-group">
                    <%= text_field_tag :card_number, "", class: "form-control", placeholder: "Card number", required: true %>
                    <div class="input-group-append">
                      <span class="input-group-text text-muted">
                        <i class="fa fa-cc-visa"></i>   <i class="fa fa-cc-amex"></i>   
                        <i class="fa fa-cc-mastercard"></i> 
                      </span>
                    </div>
                  </div>
                </div> <!-- form-group.// -->

                <div class="row">
                  <div class="col-sm-8">
                    <div class="form-group">
                      <label><span class="hidden-xs">Expiration</span> </label>
                      <div class="input-group">
                        <%= select_tag :month, options_for_select((1..12).map {|m| [Date::MONTHNAMES[m], format('%02d', m)]}), class: "form-control" %>
                        <%= select_tag :year, options_for_select((Date.today.year..(Date.today.year + 10)).map {|m| [m, m % 100]}), class: "form-control" %>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label data-toggle="tooltip" title="" data-original-title="3 digits code on back side of the card">CVV <i class="fa fa-question-circle"></i></label>
                      <%= number_field_tag :cvv, "", class: "form-control", required: true, max: 999, min: 000 %>
                      <span class="error-cvv" style="color: red; font-size: 12px;"></span>
                    </div> <!-- form-group.// -->
                  </div>
                </div> <!-- row.// -->
                <input class="subscribe btn btn-primary btn-block" type="submit" style="background-color: #50bebe;" value="Confirm">
              <% end %>
            </div> <!-- tab-pane.// -->
          </div> <!-- tab-content .// -->
          <img src="<%=image_path('powered-by-mangopay.png') %>" style="width: 470px;">

        </div> <!-- card-body.// -->
      </article> <!-- card.// -->
    </div>
  </div>
</div>

<script type="text/javascript">
  $('#cvv').on('change keyup', function(){
    $('.error-cvv').text("");
    var cvv = $(this).val();
    if($.trim(cvv).length > 3){
      $('.error-cvv').text("Only three digit of your card cvv number required!");
    }
  });
</script>