<footer>
  <div class="footer-content clearfix">
    <div class="footer-list clearfix">
      <ul class="clearfix">
        <li>
          <button class="input-field-btn">English</button>
        </li>
        <li>
          <a href="/about" style="font-size: 12px;"><font class="cool-link-anchor">About us</font></a>
          <a href="javascript:void(0)" style="font-size: 12px;"><font class="cool-link-anchor">How it works?</font></a>
          <a href="/business" style="font-size: 12px;"><font class="cool-link-anchor">Business</font></a>
        </li>
        <li>
          <h3>Call us</h3>
          <p>Talk to our friendly team. We are available <br>24/7 ready to help you and answer all your questions!</p>
        </li>
        <li>
          <h2>+ 358 97 6669 077</h2>
          <p>info@croffers.com</p>
        </li>
      </ul>
    </div>
    <div class="social">
      <div class="social-icons">
        <a href="#" style="color: #cccccc;" ><i class="fa fa-facebook cool-link-social"></i></a>
        <a href="#" style="color: #cccccc;" ><i class="fa fa-twitter cool-link-social"></i></a>
        <a href="#" style="color: #cccccc;" ><i class="fa fa-instagram cool-link-social"></i></a>
      </div>
      <div class="newsletter" align="right">
        <form>
          <label>Newsletter: </label>
          <input type="email" name="" placeholder="Enter your email" class="input-field-small">
          <button class="signup btn-txt-signup">Sign Up</button>
        </form>
      </div>
    </div>
    <div class="bottom-footer">
      <div class="bottom-logo">
        <%= image_tag "logo_gray.png"%>
        <a href="#" style="color: #ccc;font-size: 12px;"><font class="cool-link-anchor">Terms & Privercy</font></a>
        <a href="#" style="color: #ccc;font-size: 12px;"><font class="cool-link-anchor">Site Map</font></a>
      </div>
      <p><a href="#" style="color: #ccc;font-size: 12px;" class="cool-link-anchor">Back to Top</a></p>
    </div>
  </div>
</footer>

<style type="text/css">
  /*Footer*/
  footer {
    border-top: 1px solid #ccc;
  }
  .footer-content {
    max-width:  1170px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
  }
  .footer-content > .footer-list {
    padding: 50px 0;
    box-sizing: border-box;   
  }
  .footer-content > .footer-list > ul {
    display: flex;
    flex-wrap: wrap;
  }
  .footer-content > .footer-list > ul > li {
    width: 25%;
  }
  .footer-content > .footer-list > ul > li:first-child {
    display: flex;
    align-items: center;
  }
  .footer-content > .footer-list > ul > li > button {
    padding: 10px 35px;
    box-sizing: border-box;
    background: #fff;
    border: 1px solid #ccc;
    color: #4fc7c8;
  }
  .footer-content > .footer-list > ul > li > a {
    display: block;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    line-height: 24px;
  }
  .footer-content > .footer-list > ul > li > h3, .footer-content > .footer-list > ul > li > h2 {
    color: #ee365c;
    font-size: 18px;
    line-height: 30px;
  }
  .footer-content > .footer-list > ul > li > p {
    color: #ee365c;
    line-height: 20px;
  }
  .social {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 35px 0;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
  }
  .social .social-icons {
    width: 50%;
  }
  .social .social-icons a {
    margin: 0 10px;
    color: #333;
  }
  .social .social-icons a .fa {
    font-size: 16px;
  }
  .social .newsletter {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .social .newsletter form {
    width: 100%;
  }
  .social .newsletter > form > input {
    width: 40%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
  }
  .social .newsletter > form > button {
    width: 20%;
    padding: 11px;
    box-sizing: border-box;
    background: #ee365c;
    color: #fff;
    border: none;
    margin-left: -8px;
  }
  .bottom-footer {
    padding: 35px 0;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
  }
  .bottom-footer > .bottom-logo {
    width: 70%;
  }
  .bottom-footer > .bottom-logo > img {
    vertical-align: middle;
    margin-right: 50px;
  }
  .bottom-footer > .bottom-logo > a {
    color: #333;
    display: inline-block;
    margin: 0 20px;
  }
  .bottom-footer p {
    width: 30%;
    text-align: right;
  }
  .bottom-footer > p > a {
    color: #333;
  }
  .clearfix {
    display: block;
    clear: both;
    font-family: sans-serif;
  }
  .cool-link-footer:hover {
    display: block !important;
    text-decoration: underline #ec365c !important;
    transition: width .3s !important;
    cursor: pointer;
  }

  .cool-link-social::after {
    content: '' !important;
    display: block !important;
    width: 0 !important;
    height: 2px !important;
    background: #ec365c !important;
    transition: width .3s !important;
  }

  .cool-link-social:hover::after {
    width: 100% !important;
    //transition: width .3s !important;
  }
  .call-us:hover{
    display: block !important;
    text-decoration: underline #ec365c !important;
    transition: width .3s !important;
    cursor: pointer;
  }
  .talk-txt:hover{
    display: block !important;
    text-decoration: underline #ec365c !important;
    transition: width .3s !important;
    cursor: pointer;
  }
  .news-txt:hover{
    display: block !important;
    text-decoration: underline #ec365c !important;
    transition: width .3s !important;
    cursor: pointer;
  }
  .btn-txt-signup:hover{
    display: inline-block !important;
    color: #fff !important;
    cursor: pointer;
  }

  .cool-link-anchor {
    display: inline-block !important;
    color: #000 !important;
    text-decoration: none !important;
    cursor: pointer;
  }

  .cool-link-anchor::after {
    content: '' !important;
    display: block !important;
    width: 0 !important;
    height: 2px !important;
    background: #ec365c !important;
    transition: width .3s !important;
  }

  .cool-link-anchor:hover::after {
    width: 100% !important;
    //transition: width .3s !important;
  }
  .input-field-small:focus{
    display: inline-block !important;
    border: 1px solid #ee3a8d !important;
  }
</style>