<!DOCTYPE html>
<html>
  <head>
    <title>Croffers | About Us</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
<body>
  <div class="wrapper">
    <div class="main clearfix">
      <div class="top-menu clearfix nav-header">
        <div class="logo">
          <a href="/" class="red"><%= image_tag "logo_new.png" %></a>
          <p class="bar-icon">Menu <i class="fa fa-bars"></i></p>
        </div>
        <div class="menu">
          <ul class="clearfix head-menu" id="show">
            <li class="cool-link-about third_li"><a href="/">Home</a></li>
            <li class="cool-link-about third_li"><a href="/about">About us</a></li>
            <li class="cool-link-about third_li"><a href="/business">Business</a></li>
            <li class="goto-cool-link link goto-btn white-background"><%=link_to new_trip_path, class: 'goto-link' do %>Go to app<% end %></li>
          </ul>
        </div>
      </div>
      <div class="main-content clearfix">
        <div class="about-hero-section">
          <div class="hero-content">
            <p>Our goal is simple we are here to help you organize your ideal vacation in croatia
            </p><br>
            <div class="small-div">The complete croatia's tourist offer should be visible online and Croffers makes it possible </div>
          </div>
        </div>
        <div class="icons-list clearfix">
          <div class="icons-list-head">
            <h1>This is the place where you can :</h1><br>
          </div>
          <div class="icons-list-detail clearfix">
            <ul>
              <li>
                <%= image_tag "ic-1.png" %>
                <h3>Search & Find</h3>
                <p>Find your potential location.All locations are visible online</p>
              </li>
              <li>
                <%= image_tag "ic-2.png" %>
                <h3>Compare</h3>
                <p>Find your potential location.All locations are visible online</p>
              </li>
              <li>
                <%= image_tag "ic-3.png" %>
                <h3>Choose</h3>
                <p>Choose a type of accomodation, activities, leisure, events</p>
              </li>
              <li>
                <%= image_tag "ic-4.png" %>
                <h3>Plan</h3>
                <p>Make yourself sure you are  going  to spend good time in Croatia</p>
              </li>
            </ul>
          </div>
        </div>
        <div class="values-share clearfix">
          <div class="values-share-head clearfix">
            <h1>Values we share</h1><br>
            <p>We believe that perfect vacation reuires good organizing. That is excactly why you should give Croffers a chance.<br>Everything croatia has to offer in one place; no need to search numerous web pages in order to find tourist attractions,places where to eat, sleep or have fun.</p>
          </div>
          <div class="values-img">
            <ul>
              <li><%= image_tag "simplicity.png" %><p class="red">Simplycity</p></li>
              <li class="add-mt"><%= image_tag "happyness.png" %><p class="blue">Happyness</p></li>
              <li><%= image_tag "memories.png" %><p class="yellow">Memories</p></li>
              <li class="add-mt"><%= image_tag "satisfaction.png" %><p class="green">Satisfaction</p></li>
            </ul>
          </div>
        </div>
        <div class="tailor clearfix">
          <div class="tailor-content">
            <div class="user-detail">
              <p>Tailor made vacation is possible<br>in just a few simple clicks</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= render 'footer' %>
  </div>
  <style>
    .cool-link-about {
      display: inline-block !important;
      color: #ec365c !important;
      text-decoration: none !important;
      cursor: pointer;
    }

    .cool-link-about::after {
      content: '' !important;
      display: block !important;
      width: 0 !important;
      height: 2px !important;
      background: #ec365c !important;
      transition: width .3s !important;
    }

    .cool-link-about:hover::after {
      width: 100% !important;
      //transition: width .3s !important;
    }

    .sticky-header-link {
      display: inline-block !important;
      color: white !important;
      text-decoration: none !important;
      cursor: pointer;
    }

    .sticky-header-link::after {
      content: '' !important;
      display: block !important;
      width: 0 !important;
      height: 2px !important;
      background: white !important;
      transition: width .3s !important;
    }

    .sticky-header-link:hover::after {
      width: 100% !important;
      //transition: width .3s !important;
    }
    .white-background{
      background-color: #fff !important;
      border: 1px solid #ec365c;
      padding: 9px;
    }
    .white-background a{
      color: #000 !important;
    }
    .cool-link {
      display: inline-block !important;
      color: #fff !important;
      text-decoration: none !important;
      cursor: pointer;
    }

    .cool-link::after {
      content: '' !important;
      display: block !important;
      width: 0 !important;
      height: 2px !important;
      background: #fff !important;
      transition: width .3s !important;
    }

    .cool-link:hover::after {
      width: 100% !important;
      //transition: width .3s !important;
    }

    .try-hov:hover{
      display: inline-block !important;
      color: #ec365c !important;
      text-decoration: underline !important;
      cursor: pointer;
    }
    
    .cnt-txt:hover{
      display: inline-block !important;
      color: gray !important;
      
      cursor: pointer;
    }
    
    .input-field:hover{
      display: inline-block !important;
      border: 2px solid #ee3a8d !important;
    }

    .goto-cool-link:hover{
      background: #ee3a8d !important;
      border: 1px solid #ee3a8d !important;
      padding: 9px !important;
      text-decoration: none !important;
    }
    .input-field-btn:hover{
      display: inline-block !important;
      border: #ee3a8d !important;
      background: #ee3a8d !important;
      color: #fff !important;
      text-decoration: underline !important;
      cursor: pointer;
    }
    .sticky-header{
      position: fixed;
      padding: 10px 6px 10px 0px;
      background: white;
      width: 100%;
      z-index:999;
      box-shadow: 0px 2px 3px 2px #d9d9d9;
      border-left: 4px solid #d9d9d9;
    }
    @media only screen and (max-width: 480px) {
      .top-menu ul > .goto-btn {
        border-bottom: 1px solid #ec365c !important;
      }
      .goto-btn{
        width: 100px;
      }
    }
    @media only screen and (max-width: 320px) {
      .top-menu ul > .goto-btn {
        border-bottom: 1px solid #ec365c !important;
      }
      .goto-btn{
        width: 100px;
      }
    }
  </style>
  <script>
    $( document ).ready(function() {
      $('.goto-btn, .goto-link').hover(function(){
        $('.goto-btn').removeClass('white-background');
        $('.goto-btn').addClass('red-background');
      });
      $('.goto-btn, .goto-link').mouseout(function() {
        $('.goto-btn').removeClass('red-background');
        $('.goto-btn').addClass('white-background');
      });
      $(window).scroll(function () {
        if ($(window).scrollTop() > 0) {
          $('.nav-header').addClass('sticky-header');
        } else{
          $('.nav-header').removeClass('sticky-header');
          $('.nav-header').addClass('top-menu');
        }
      });
    });
  </script>
</body>
</html>