<!DOCTYPE html>
<html>
<head>
  <title>Croffers | Business</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
  <div class="wrapper">
    <div class="main clearfix">
      <div class="top-menu clearfix nav-header">
        <div class="logo">
          <a href="/"><%= image_tag "logo_new.png" %></a>
          <p class="bar-icon">Menu <i class="fa fa-bars"></i></p>
        </div>
        <div class="menu">
          <ul class="clearfix head-menu" id="show">
            <li class="cool-link-business third_li"><a href="/">Home</a></li>
            <li class="cool-link-business third_li"><a href="/about">About us</a></li>
            <li class="cool-link-business third_li"><a href="/business">Business</a></li>
            <li class="goto-cool-link-business link goto-btn white-background"><%=link_to new_trip_path, class: 'goto-link' do %>Go to app<% end %></li>
          </ul>
        </div>
      </div>
      <div class="main-content clearfix">
        <div class="hero-section">
          <div class="hero-content">
            <p>Do you want to provide your guest the full experience of staying in Croatia, save your time and, in the process, make money?
            </p>
          </div>
        </div>
        <div class="why-advertise clearfix">
          <div class="adertise-head">
            <h1>Why advertise through Croffers app</h1><br>
            <p>Promote your offer and make it visible, recognizable and available, together with all well known products and services Croatia offers its guests </p>
          </div>
          <div class="adertise-details clearfix">
            <ul>
              <li>
                <%= image_tag "ic-1.png" %>
                <h3>Free Advertising</h3>
                <p>You have the oppourtunity to advertise your service of charge</p>
              </li>
              <li>
                <%= image_tag "ic-2.png" %>
                <h3>Safty & Reliablity</h3>
                <p>You can contact us 24/7<span>salaes@croffers.com</span></p>
              </li>
              <li>
                <%= image_tag "ic-3.png" %>
                <h3>Easy Communication</h3>
                <p>Communicate with your clients in a quick and simple way through our app</p>
              </li>
              <li>
                <%= image_tag "ic-4.png" %>
                <h3>Supply management</h3>
                <p>Make yourself sure you are going to spend good time in Croatia</p>
              </li>
            </ul>
          </div>
        </div>
        <div class="palcing-offer clearfix">
          <div class="palcing-offer-head clearfix">
            <h1>Enrich Croatian tourism by placing offer on Croffers</h1><br>
            <p>All services in one place, including famous destinations and attractions, accommodation as well as small businesses offering service for travelers</p>
          </div>
          <div class="icons-full-img">
            <%= image_tag "bottom-hero.jpg", width: "100%" %>
          </div>
        </div>
        <div class="user-help clearfix">
          <div class="user-help-content">
            <div class="user-detail">
              <p>Croffers helps its users to plan and organize their trip by offering them the possibility of arranging it themselves</p>
            </div>
            <div class="user-img">
              <%= image_tag "computer.png" %>
            </div>
          </div>
        </div>
        <div class="stay-in-touch clearfix">
          <div class="stay-in-touch-head clearfix">
            <h1>Stay in Touch</h1>
            <p>Always be the first to find out about our new offers, discounts and more</p>
          </div><br>
          <div class="subscribe-form">
            <div class="form-inner">
              <input type="email" name="" placeholder="Write your email here" class="input-field-big"><button class="input-field-btn"><font class="btn-txt">Sign Up</font></button>  
            </div>          
          </div>
        </div>
      </div>
    </div>
    <%= render 'footer' %>  
  </div>
  <style>
    .cool-link-business {
      display: inline-block !important;
      color: #ec365c !important;
      text-decoration: none !important;
      cursor: pointer;
    }

    .cool-link-business::after {
      content: '' !important;
      display: block !important;
      width: 0 !important;
      height: 2px !important;
      background: #ec365c !important;
      transition: width .3s !important;
    }

    .cool-link-business:hover::after {
      width: 100% !important;
      //transition: width .3s !important;
    }
    .white-background{
      background-color: #fff !important;
      border: 1px solid #ec365c;
    }
    .white-background a{
      color: #000 !important;
    }
    .cool-link {
      display: inline-block !important;
      color: #fff !important;
      text-decoration: none !important;
      cursor: pointer;
    }

    .cool-link::after {
      content: '' !important;
      display: block !important;
      width: 0 !important;
      height: 2px !important;
      background: #fff !important;
      transition: width .3s !important;
    }

    .cool-link:hover::after {
      width: 100% !important;
      //transition: width .3s !important;
    }

    .sticky-header-link {
      display: inline-block !important;
      color: white !important;
      text-decoration: none !important;
      cursor: pointer;
    }

    .sticky-header-link::after {
      content: '' !important;
      display: block !important;
      width: 0 !important;
      height: 2px !important;
      background: #ec365c !important;
      transition: width .3s !important;
    }

    .sticky-header-link:hover::after {
      width: 100% !important;
      //transition: width .3s !important;
    }
    .make-good-hov:hover {
      display: inline-block !important;
      color: #ec365c !important;
      text-decoration: underline !important;
      cursor: pointer;
    }
    .try-hov:hover{
      display: inline-block !important;
      color: #ec365c !important;
      text-decoration: underline !important;
      cursor: pointer;
    }
    
    .cnt-txt:hover{
      display: inline-block !important;
      color: gray !important;
      text-decoration: underline !important;
      cursor: pointer;
    }
    
    .input-field-big:focus{
      padding: 21px !important;
      display: inline-block !important;
      border: 1px solid #ee3a8d !important;
    }
    .goto-cool-link-business:hover{
      background: #ee3a8d !important;
      border: 1px solid #ee3a8d !important;
      padding: 9px !important;
    }
    .input-field-btn:hover{
      display: inline-block !important;
      border: #ee3a8d !important;
      background: #ee3a8d !important;
      color: #fff !important;
      cursor: pointer;
    }
    .sticky-header{
      position: fixed;
      padding: 10px 6px 10px 0px;
      background: white;
      width: 100%;
      z-index:999;
      box-shadow: 0px 2px 3px 2px #d9d9d9;
      border-left: 4px solid #d9d9d9;
    }
    @media only screen and (max-width: 480px) {
      .top-menu ul > .goto-btn {
        border-bottom: 1px solid #ec365c !important;
      }
      .goto-btn{
        width: 100px;
      }
    }
    @media only screen and (max-width: 320px) {
      .top-menu ul > .goto-btn {
        border-bottom: 1px solid #ec365c !important;
      }
      .goto-btn{
        width: 100px;
      }
    }
  </style>
  <script>
    $( document ).ready(function() {
      $('.goto-btn, .goto-link').hover(function(){
        $('.goto-btn').removeClass('white-background');
        $('.goto-btn').addClass('red-background');
      });
      $('.goto-btn, .goto-link').mouseout(function() {
        $('.goto-btn').removeClass('red-background');
        $('.goto-btn').addClass('white-background');
      });
      $(window).scroll(function () {
        if ($(window).scrollTop() > 0) {
          $('.nav-header').addClass('sticky-header');
          $('.head-menu .third_li').removeClass('cool-link-business');
          $('.head-menu .third_li').addClass('sticky-header-link');
        } else{
          $('.nav-header').removeClass('sticky-header');
          $('.nav-header').addClass('top-menu');
          $('.head-menu .third_li').addClass('cool-link-business');
          $('.head-menu .third_li').removeClass('sticky-header-link');
        }
      });
    });
  </script>
</body>
</html>