<!DOCTYPE html>
<html>
<head>
  <title>Croffers | Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
  <div class="wrapper">
    <div class="main clearfix">
      <div class="copy-3-top-menu clearfix nav-header">
        <div class="logo logo-menu">
          <a href="/" class="red" style="display: none;"><%= image_tag "logo_new.png" %></a>
          <a href="/" class="white" ><%= image_tag "logo_white.png" %></a>
          <p class="copy-3-bar-icon">Menu <i class="fa fa-bars"></i></p>
        </div>
        <div class="menu right-menu">
          <ul class="clearfix head-menu" id="show">
            <li class="cool-link third_li"><a href="/">Home</a></li>
            <li class="cool-link third_li"><a href="/about">About us</a></li>
            <li class="cool-link third_li"><a href="/business">Business</a></li>
            <%=link_to new_trip_path do %>
              <li class="go-to-cool-link link goto-btn white-background">
                <font class='goto-link'>Go to app</font>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="main-content clearfix">
        <div class="copy-3-hero-section">
          <div class="video-overlay"></div>
          <video id="video" autoplay loop>
            <source src="<%= video_path 'landing_video.mp4' %>" type="video/mp4" />
            <source src="<%= video_path 'landing_video.webm' %>" type="video/webm" />
          </video>
          <div class="copy-3-hero-content">
            <p>Ever dreamed of the <br>perfect vacation ?
            </p><br>
            <div class="small-div">Lets make it real<br>
              <%=link_to new_trip_path do %>
              <font class="cool-link">Get started </font>&nbsp;&nbsp; <i class="fa fa-arrow-right"></i>
              <% end %>
            </div>
          </div>
        </div>
        <div class="destination-slider extra_pd clearfix">
          <div class="destination-slider-heading">
            Discover your destination, search<br>everything Croatia offers!
          </div><br><br>
          <div class="img_gallery_inner">
            <div class="img_item">
              <%= image_tag "img14.png", class: "img_gll" %>
            </div>
            <div class="img_item">
              <%= image_tag "img15.png", class: "img_gll" %>
            </div>
            <div class="img_item">
              <%= image_tag "img17.png", class: "img_gll" %>
            </div>
            <div class="img_item">
              <%= image_tag "img11.png",class: "img_gll" %>
            </div>
            <div class="img_item">
              <%= image_tag "img12.png",class: "img_gll" %>
            </div>
            <div class="img_item">
              <%= image_tag "img16.png",class: "img_gll" %>
            </div>
            <div class="img_item">
              <%= image_tag "img13.png",class: "img_gll" %>
            </div>
            <div class="img_item">
              <%= image_tag "img18.png",class: "img_gll" %>
            </div>
          </div>
        </div>
        <div class="organize-plan clearfix">
          <ul class="clearfix">
            <li><%= image_tag "hand5.png"%></li>
            <li>
              <h2>Plan and organize<br>Your entire stay in Crotia!</h2>
              <p>to make a type specimen book survivedto make a type specimen book survivedto make a type specimen book survivedto make a type specimen book survivedto make a type specimen book survivedto make a type specimen book survivedto make a type specimen book survivedto make a type specimen book survivedto make a type specimen book survived</p>
              <p><a href="#"><font class="cool-link-txt">Explore Now</font>  &nbsp;<i class="fa fa-arrow-right"></i></a></p>
            </li>
          </ul>
        </div>
        <div class="tailor clearfix">
          <div class="tailor-content">
            <div class="user-detail">
              <p>Making good memories!</p>
              <p><a href="#" class="cool-link-txt">Try Now  &nbsp;<i class="fa fa-arrow-right"></i></a></p>
              <span class="msg-text">Always be the first to find out about our new offers, discounts and more</span>
            </div>
          </div>
          <div class="subscribe-form">
            <div class="form-inner">
              <input type="email" name="" placeholder="Write your email here" class="input-field-big"><button class="input-field-btn"><font class="btn-txt">Sign Up</font></button>  
            </div>          
          </div>
        </div>
      </div>
    </div>
    <%= render "footer" %>  
  </div>
  <style type="text/css">
    .cool-link {
      display: inline-block !important;
      color: #fff !important;
      text-decoration: none !important;
      cursor: pointer;
    }

    .cool-link::after {
      content: '' !important;
      display: block !important;
      width: 0 !important;
      height: 2px !important;
      background: #fff !important;
      transition: width .3s !important;
    }

    .cool-link:hover::after {
      width: 100% !important;
      //transition: width .3s !important;
    }

    .sticky-header-link a{
      color: #000 !important;
    }
    .sticky-header-link {
      display: inline-block !important;
      color: #000 !important;
      text-decoration: none !important;
      cursor: pointer;
    }

    .sticky-header-link::after {
      content: '' !important;
      display: block !important;
      width: 0 !important;
      height: 2px !important;
      background: #ec365c !important;
      transition: width .3s !important;
    }

    .sticky-header-link:hover::after {
      width: 100% !important;
      //transition: width .3s !important;
    }

    .cool-link-txt {
      display: inline-block !important;
      color: #ec365c !important;
      text-decoration: none !important;
      cursor: pointer;
    }

    .cool-link-txt::after {
      content: '' !important;
      display: block !important;
      width: 0 !important;
      height: 2px !important;
      background: #ec365c !important;
      transition: width .3s !important;
    }

    .cool-link-txt:hover::after {
      width: 100% !important;
      //transition: width .3s !important;
    }

    .cool-link-anchor {
      display: inline-block !important;
      color: #000 !important;
      text-decoration: none !important;
      cursor: pointer;
    }

    .cool-link-anchor::after {
      content: '' !important;
      display: block !important;
      width: 0 !important;
      height: 2px !important;
      background: #ec365c !important;
      transition: width .3s !important;
    }

    .cool-link-anchor:hover::after {
      width: 100% !important;
      //transition: width .3s !important;
    }
    
/*    .cnt-txt:hover{
      display: inline-block !important;
      color: gray !important;
      text-decoration: underline !important;
      cursor: pointer;
    }*/
    
    .input-field-big:focus{
      padding: 21px !important;
      display: inline-block !important;
      border: 1px solid #ee3a8d !important;
    }
    
    .go-to-cool-link:hover{
      background: #ee3a8d !important;
    }
    .input-field-btn:hover{
      display: inline-block !important;
      border: #ee3a8d !important;
      background: #ee3a8d !important;
      color: #fff !important;
      /*text-decoration: underline !important;
      */
      cursor: pointer;
    }
    /*.btn-txt:hover{
      display: inline-block !important;
      color: #ee3a8d !important;
      cursor: pointer;
    }*/
    .explore:hover{
      display: inline-block !important;
      text-decoration: underline !important;
      cursor: pointer; 
    }
    .slider_ul{
      width: 100% !important;
      margin: 0 !important;
    }

    #slider {
      width: 100% !important;
    }
    .white-background{
      background-color: #fff !important;
    }
    .white-background font{
      color: #000 !important;
    }
    .white-background-sticky-nav{
      background-color: #fff !important;
      border: 1px solid #ec365c;
      padding: 9px;
    }
    .white-background-sticky-nav font{
      color: #000 !important;
    }
    .sticky-header{
      position: fixed;
      padding: 0px 0px 10px 0px;
      background: white;
      z-index:999;
      box-shadow: 0px 2px 3px 2px #d9d9d9;
      border-left: 4px solid #d9d9d9;
    }
    @font-face {
      font-family: "Effra";
      src: url("/fonts/Effra-webfont.woff") format("woff2"),
      url("/fonts/OpenSans-Regular-webfont.woff") format("woff");
    }
    @font-face {
      font-family: Effra;
      src: url(Effra-Bold.woff);
    }

  </style>
  <script>
    $( document ).ready(function() {
      $('.video-overlay').height($('#video').height());
      $('.goto-btn, .goto-link').hover(function(){
        $('.goto-btn').removeClass('white-background');
        $('.goto-btn').addClass('red-background');
      });
      $('.goto-btn, .goto-link').mouseout(function() {
        $('.goto-btn').removeClass('red-background');
        $('.goto-btn').addClass('white-background');
      });
      $(window).scroll(function () {
        if ($(window).scrollTop() > 0) {
          $('.nav-header').addClass('sticky-header');
          $('.head-menu .third_li').removeClass('cool-link');
          $('.head-menu .third_li').addClass('sticky-header-link');
          $('.goto-btn').removeClass('white-background');
          $('.goto-btn').addClass('white-background-sticky-nav');
          $('.red').css('display','block');
          $('.white').css('display','none');
        } else{
          $('.nav-header').removeClass('sticky-header');
          $('.nav-header').addClass('copy-3-top-menu');
          $('.head-menu .third_li').addClass('cool-link');
          $('.head-menu .third_li').removeClass('sticky-header-link');
          $('.goto-btn').removeClass('white-background-sticky-nav');
          $('.goto-btn').addClass('white-background');
          $('.red').css('display','none');
          $('.white').css('display','block');
        }
      });
    });
  </script>