<div class="image planner_right_img">
	<% img_url = @accommodation_details.photographs[0].photograph.url(:regular) rescue "" %>
  <%= image_tag img_url, class: 'planner_img' %>
</div>
<div class="planner_plus_txt">
  <div class="planner_l_img">
    <img src="<%= asset_path('profile_user.jpg') %>" class="p_img">
    <span class="planner_name">
      lvana
    </span>
  </div>
  <div class="planner_r_txt">
    <h3 class="p_bold_txt"><%= @accommodation_details.name %></h3>
    <p class="planner_sb_hed"><%= @accommodation_details.class.name == 'Room' ? @accommodation_details.lodging_provider.address.full_address : @accommodation_details.address.full_address %></p>
    <div class="rating_bdy">
      <ul class="star_list">
        <li><i class="fa fa-star"></i></li>
        <li><i class="fa fa-star"></i></li>
        <li><i class="fa fa-star"></i></li>
        <li><i class="fa fa-star"></i></li>
      </ul>
      <span class="planner_memories"> 32 memories</span>
    </div>
  </div>
</div>
<div class="mail_btn">
  <a href="javascript:void(0);">
  <i class="fa fa-envelope-o"></i> <span class="btn_spn">Contact Host</span>
  </a>
</div>
<div class="availablity_list">
  <div class="availablity_list_left">
    <p>Stay type : <span> Room</span></p>
    <p>Stay :<span> <%= (@ts_range.split('..').last.to_date - @ts_range.split('..').first.to_date).to_i+1 %> days</span></p>
    <p>Guests : <span> 2</span></p>
  </div>

  <% if @accommodation_details.class.name == 'Room' %>
    <div class="availablity_list_right">
      <p>Bathrooms : <span><%= (@accommodation_details.bathroom.to_i rescue 0 ) + (@accommodation_details.shared_bathroom.to_i rescue 0) + (@accommodation_details.guest_bathroom.to_i rescue 0) %></span></p>
      <p>Bedrooms :<span> 2</span></p>
      <p>Beds : <span> <%= (@accommodation_details.single_beds.to_i rescue 0) + (@accommodation_details.double_beds.to_i rescue 0) + (@accommodation_details.queen_beds.to_i rescue 0) + (@accommodation_details.king_beds.to_i rescue 0) + (@accommodation_details.bunk_beds.to_i rescue 0) + (@accommodation_details.sofa_beds.to_i rescue 0) %></span></p>
    </div>
  <% end %>
</div>
<div class="planner_grey5">
  <ul>
    <li style="width: 50%">
      <span class="add_panner5">
        <%= link_to 'Cancel', trip_item_path(@accommodation.id), method: 'delete', :data => {:confirm => 'Are you sure?'} %>
      </span>
    </li>
    <li style="width: 50%">
      <span class="add_panner5">
      <a href="#" > Total Coast: €<%= @accommodation.price %> </a>
      </span>
    </li>
  </ul>
</div>
