<div class="image planner_right_img">
	<% img_url = @activity_details.photographs[0].photograph.url(:regular) rescue "" %>
  <%= image_tag img_url, class: 'planner_img' %>
</div>
<div class="planner_plus_txt">
  <div class="planner_l_img">
    <img src="<%= asset_path('profile_user.jpg') %>" class="p_img">
    <span class="planner_name">
      lvana
    </span>
  </div>
  <div class="planner_r_txt">
    <h3 class="p_bold_txt"><%= @activity_details.name %></h3>
    <p class="planner_sb_hed"><%= @activity_details.address.full_address %></p>
    <div class="rating_bdy">
      <ul class="star_list">
        <li><i class="fa fa-star"></i></li>
        <li><i class="fa fa-star"></i></li>
        <li><i class="fa fa-star"></i></li>
        <li><i class="fa fa-star"></i></li>
      </ul>
      <span class="planner_memories"> 32 memories</span>
    </div>
  </div>
</div>
<div class="mail_btn">
  <a href="javascript:void(0);">
  <i class="fa fa-envelope-o"></i> <span class="btn_spn">Contact Host</span>
  </a>
</div>

<div class="planner_grey5">
  <ul>
    <li class="mr_30px">
      <span class="add_panner5">
        <%= link_to 'Cancel', trip_item_path(@activity.id), method: 'delete', :data => {:confirm => 'Are you sure?'} %>
      </span>
    </li>
    <li class="mr_58">
      <span class="add_panner5">
      <a href="#" > Total Coast: €<%= @activity.price.to_s%> </a>
      </span>
    </li>
  </ul>
</div>
</div>
