var init_map = function (map_div_id, latitude_field, longitude_field,
			 existing_latitude, existing_longitude)
{
  this.remove_marker =  function() {
    if (this.marker !== null)
      map.removeLayer(this.marker);
  }

  this.add_marker = function(latitude, longitude) {
    this.marker = new L.marker(
      [latitude, longitude],
      {draggable: true,
        icon: new L.icon({
          iconUrl: '<%= image_path 'leaflet/marker-icon.png' %>',
          iconRetinaUrl: '<%= image_path 'leaflet/marker-icon-2x.png' %>',
          shadowUrl: '<%= image_path 'leaflet/marker-shadow.png' %>',
          iconSize: [25, 41],
          iconAnchor: [12, 41],
          popupAnchor: [1, -34],
          shadowSize: [41, 41]
        })
      }
    );

    marker.addEventListener('dragend', marker_drag, this.marker);
    map.addLayer(this.marker);
    map.panTo(new L.LatLng(latitude, longitude));
  }

  function marker_drag (e) {
    $('#' + longitude_field).val(this.getLatLng().lng);
    $('#' + latitude_field).val(this.getLatLng().lat);
  }

  var map = L.map(map_div_id,
	  { 
      center: [44.5435052132082, 16.50146484375],
	    zoom: 6,
	    minZoom: 6
    }
  );

  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);

  this.marker = null;
  if (existing_longitude !== undefined && existing_latitude !== undefined)
    this.add_marker(existing_latitude, existing_longitude);

  map.on('click', function(e) {
    this.remove_marker();

    $('#' + longitude_field).val(e.latlng.lng);
    $('#' + latitude_field).val(e.latlng.lat);

    this.add_marker(e.latlng.lat, e.latlng.lng);
  }, this);

  return this;
};
