function add_listing_pin_to_map(dom_id, asset_url, latitude, longitude) {
  var listing_border = $('#' + dom_id);
  var spiderfied;

  var default_icon_options = {
      iconUrl: '<%= image_path 'leaflet/marker-icon.png' %>',
      iconRetinaUrl: '<%= image_path 'leaflet/marker-icon-2x.png' %>',
      shadowUrl: '<%= image_path 'leaflet/marker-shadow.png' %>',
      iconSize: [25, 41],
      iconAnchor: [12, 41],
      popupAnchor: [1, -34],
      shadowSize: [41, 41]
  };

  var default_icon = new L.icon(default_icon_options);

  var hl_icon_options = {
      iconUrl: '<%= image_path 'leaflet/marker-icon-red.png' %>',
      iconRetinaUrl: '<%= image_path 'leaflet/marker-icon-red-2x.png' %>',
      shadowUrl: '<%= image_path 'leaflet/marker-shadow.png' %>',
      iconSize: [25, 41],
      iconAnchor: [12, 41],
      popupAnchor: [1, -34],
      shadowSize: [41, 41]
  };

  var hl_icon = new L.icon(hl_icon_options);

  var marker = new L.marker(
    [latitude, longitude],
    {icon: default_icon}
  );

  marker.addEventListener('mouseover', function () {
    listing_border.addClass('listing-fit-border');
    listing_border.children('.border-wrapper').addClass('pink-border');
  });

  marker.addEventListener('mouseout', function () {
    listing_border.removeClass('listing-fit-border');
    listing_border.children('.border-wrapper').removeClass('pink-border');
  });

  listing_border.on('mouseenter', function () {
    var marker_group = markers.getVisibleParent(marker);
    map.panTo(new L.LatLng(latitude, longitude));
    
    try {
      marker_group.spiderfy();
      spiderfied = marker_group;

    } catch (e) {
      // should be TypeError, ignore
    }

    marker.refreshIconOptions(hl_icon_options, true);
  });

  listing_border.on('mouseleave', function () {
    marker.refreshIconOptions(default_icon_options, true);

    try {
      spiderfied.unspiderfy();
    } catch (e) {
      // should be TypeError, ignore
    }
  });

  markers.addLayer(marker);
}
