/*
 * Javascript support for marketing page, used by marketing layout,
 * not application layout.
 * Rules and conventions:
 * - there are two types of background media: video and slideshow
 * - video is restricted to resolutions above 1024px (var breakpoint)
 * - if screen ratio is larger than media_ratio, media is stretched so that
 *   it fills vertical space and is cropped horizontally, and vice-versa
 * - all media is assumed to be of the same dimensions (currently 1920x1080)
 */
//= require jquery
//= require jquery-ui/ui/widgets/datepicker
//= require knockoutjs
//= require slicknav
//= require moment
//= require setup_daterange_picker


var Croffers = Croffers || {};

$.datepicker.setDefaults({
    dateFormat: "yy-mm-dd",
    firstDay: 1
});

Croffers.media_background = (function () {
    var video, video_el, slideshow;
    var video_positions = ['0', '16', '23', '33', '46',
			   '58', '69', '79', '88', '96'];
    var media_position_id = Math.floor(Math.random() *  video_positions.length);
    var slideshow_plays, ss_to;
    var media_ratio = 1920/1080;
    var breakpoint = 1024; // transition point between video and slideshow
    var viewport_width, viewport_height;

    function rewind_video () {
	video_el.currentTime = video_positions[media_position_id];
    }

    // object-fit: cover; CSS property could be used instead of position_content
    // function, but Internet Explorer does not support it at all
    // *Not* the same effect as object-fit: cover; this function (when paired
    // with _components.scss) crops bottom and right side of video, and bottom
    // side of slideshow pictures. Slideshow pictures are centered horizontally,
    // but not vertically. Video is not centered at all.
    function position_content () {
	if (viewport_width / viewport_height >= media_ratio) {
	    // media cropped vertically
	    video.width(viewport_width).height('auto');

	    $('#slide-2-bg')
		.css('width', '100%')
		.css('height', '');
	    $('#slide-3-bg')
		.css('width', '100%')
		.css('height', '')
		.css('bottom', '-120px');

	    slideshow.find('img')
		.width(viewport_width)
		.height(viewport_width / media_ratio)
		.css('left', '0px');
	} else {
	    // media cropped horizontally
	    var width = viewport_height * media_ratio;
	    video.width('auto').height(viewport_height);

	    $('#slide-2-bg')
		.css('width', '')
		.css('height', '100%');

	    // HACK; img#slide-3-bg does not conform to media_ratio
	    if (viewport_width / viewport_height <= 1920/1496) {
		$('#slide-3-bg')
		    .css('width', '')
		    .css('height', '100%')
		    .css('bottom', '0px');
	    }
	    else {
		$('#slide-3-bg')
		    .css('width', '100%')
		    .css('height', '')
		    .css('bottom', '0px');
	    }

	    var ho = Math.round((width - viewport_width) / 2);
	    slideshow.find('img')
		.width(width)
		.height(this.viewport_height)
		.css('left', -ho + 'px');
	}
    }

    function play_slideshow() {
	slideshow.html(" \
		       <img src=\"<%= image_path 'landing_picture_1.jpg' %>\" \
		       alt=\"Landing image 1\"> \
		       <img src=\"<%= image_path 'landing_picture_2.jpg' %>\" \
		       alt=\"Landing image 2\"> \
		       <img src=\"<%= image_path 'landing_picture_3.jpg' %>\" \
		       alt=\"Landing image 3\"> \
		       <img src=\"<%= image_path 'landing_picture_4.jpg' %>\" \
		       alt=\"Landing image 4\"> \
		       <img src=\"<%= image_path 'landing_picture_5.jpg' %>\" \
		       alt=\"Landing image 5\"> \
		       <img src=\"<%= image_path 'landing_picture_6.jpg' %>\" \
		       alt=\"Landing image 6\"> \
		       <img src=\"<%= image_path 'landing_picture_7.jpg' %>\" \
		       alt=\"Landing image 7\"> \
		       <img src=\"<%= image_path 'landing_picture_8.jpg' %>\" \
		       alt=\"Landing image 8\"> \
		       <img src=\"<%= image_path 'landing_picture_9.jpg' %>\" \
		       alt=\"Landing image 9\"> \
		       <img src=\"<%= image_path 'landing_picture_10.jpg' %>\" \
		       alt=\"Landing image 10\">");
	slideshow.find('img:nth-child(' + media_position_id + ')')
	    .addClass('active');

	change_slideshow_picture();

	video.remove();
	slideshow.show();
    }

    function change_slideshow_picture() {
	var active = slideshow.find('img.active');
	var next;

	if (active.next().length > 0) // next div exists
	    next = active.next();
	else
	    next = slideshow.find('img:first');

	active.removeClass('active');
	next.addClass('active');

	ss_to = window.setTimeout(change_slideshow_picture, 10000);
    }

    function start_playback() {
	this.media_position_id = Math.floor(
	    Math.random() * video_positions.length);

	position_content();

	if (viewport_width <= breakpoint)
	    play_slideshow();
	else
	    rewind_video(); // video plays by default
    }

    function init() {
	viewport_height = Math.round($(window).height());
	viewport_width  = Math.round($(window).width());

	slideshow = $('#slideshow');
	video = $('#video');
	video_el = video[0];

	start_playback();
    }

    return {
	init: init
    };
})();

Croffers.next_slide = (function all_slides () {
    return {
	init: function () {
	    $('a.next-slide').click(function (e) {
		e.preventDefault();
		var to = $('a[name=' + e.currentTarget.hash.slice(1) + ']');
		$('html,body').animate({scrollTop: to.offset().top});
	    });
	}
    };
})();

Croffers.more_details = (function more_details () {
    return {
	init: function () {
	    $('#marketing-slide-3 a#more-info').click(function (e) {
		$('#marketing-more-details').show();
	    });
	    $('#marketing-slide-3 #close').click(function(e) {
		$('#marketing-more-details').hide();
	    });
	}
    };
})();

$(document).ready(function () {
  var slideCount = $('#slider ul li').length;
  var slideWidth = $('#slider ul li').width();
  var slideHeight = $('#slider ul li').height();
  var sliderUlWidth = slideCount * slideWidth;
  
  $('#slider').css({ width: slideWidth, height: slideHeight });
  
  $('#slider ul').css({ width: sliderUlWidth, marginLeft: - slideWidth });
  
  $('#slider ul li:last-child').prependTo('#slider ul');

  function moveLeft() {
    $('#slider ul').animate({
      left: + slideWidth
    }, 200, function () {
      $('#slider ul li:last-child').prependTo('#slider ul');
      $('#slider ul').css('left', '');
    });
  };

  function moveRight() {
    $('#slider ul').animate({
      left: - slideWidth
    }, 200, function () {
      $('#slider ul li:first-child').appendTo('#slider ul');
      $('#slider ul').css('left', '');
    });
  };

  $('a.control_prev').click(function () {
    moveLeft();
  });

  $('a.control_next').click(function () {
    moveRight();
  });

  $(document).ready(function(){
    $(".fa-bars").click(function(){
        $("#show").slideToggle('slow');
    });
  });
});
