.test {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right:0;
  opacity:0.0;
  z-index:0;
}

.container-fluid {
  @extend .clearfix;
  margin-left:auto;
  margin-right:auto;
  width:100%;
}

nav {
  position:relative;
  height:65px;

  img {
    height:31px;
    margin:18px 0px 0px 40px;
    float:left;
  }

  .navbar {
    position:relative;
    float:right;
    text-align:left;
    margin-right:53px;
    padding-left: 0;
  }

  .link {
    margin-right:0;
    padding:9px 20px;
    float:left;
    list-style:none;
  }

  .link-arrow {
    cursor:pointer;
    background-image:image-url("polygon1.png");
    background-repeat:no-repeat;
    background-position:right center;
    height:auto
  }

  .button {
    width: 136px;
    text-align: center;
  }

  .hidden {
    display: none;
  }

  .shown .hidden {
    display: block;
    position: absolute;
    color: #fff;
    top: 100%;
    left: 20px;
  }
}

.top-colors
{
        margin:0px;
	width:100%;
	height:3px
}
.top-colors div
{
	float:left;
	width:25%;
	height:100%
}

.business-slide
{
	height:100%;
	position:relative
}
#business-slide-1
{
	background-image:image-url("business_landing_picture_1.png");
	background-size:cover;
	background-position:top;
	height:900px;
	height:100vh;
	.big-text
	{
	    position: absolute;
	    width: 60%;
	    text-align: center;
	    top: 32%;
	    left: 20%;
	    p{
		line-height: 1.1;
		margin-bottom: 4%;
	    }
	}
	.overlay
	{
		background-color: rgba(39, 189, 190, 0.6);
	}
}

#business-slide-2
{
	background-color:#f9faf7;
	color:#747474;
	padding-bottom:40px;
		.main-title
	{
		color:#27bdbe;
		font-size:1.4em;
		line-height: 1;
	margin-bottom: 0;
	}
		div.text-wrapper
	{
		padding-top:30px;
	    width: 90%;
	    margin: 0 auto;
		text-align:center;
	}
		p.top-text
	{
		color: #a1a1a1;
		margin:20px auto 80px auto
	}
		div.icon
	{
		float:left;
		width:100%;
		text-align:center;
	    padding: 45px 10px 0;
		margin-bottom: 20px;
	    background-position: center 0;
		background-repeat: no-repeat;
	}

		.icon.free_advertising
	{
		background-image: image-url("free_advertising.png");
	}
		.icon.security_and_trust
	{
		background-image: image-url("security_and_trust.png");
		background-position: center 16%;
	}
		.icon.simple_comunication
	{
		background-image: image-url("simple_comunication.png");
	}
		.icon.managing_offer
	{
		background-image: image-url("managing_offer.png");
		    background-position: center 10%;
	}
		p.title
	{
		font-weight:700;
		margin-top:45px;
		margin-bottom:8px
	}
		p.text
	{
		margin-top:0px
	}
		a.email
	{
		color:#ee365c;
		word-wrap: break-word;
	}
}

	#business-slide-3
{
	background-color: #f8f9f9;
	padding-bottom:30px;
		.container-fluid
	{
		background-color:#27bdbe;
	}
		div.text-wrapper
	{
		color:#f9faf7;
		width:100%;
		line-height:1.5;
	    padding: 100px 0 50px;
		.title{
			font-size: 1.4em;
		}
	}
		img
	{
	    position: relative;
	    float: right;
		margin-right: -20px;
		margin-bottom: -30px;
	    width: 70%;
	}

}



#business-slide-4
{
	background-color: #f8f9f9;
	padding-top:100px;
    padding-bottom: 165px;
}
#business-slide-4 .text
{
	    margin: 0 15% 3%;
    text-align: center
}
#business-slide-4 .text p
{
    color: #27bdbe;
    font-weight: 100;
    font-size: 1.4em;
    margin: 0 0 20px 0;
}
#business-slide-4 img
{
	display: block;
	width:100%;
    max-width: 1080px;
    margin: 0 auto 50px;
}
#business-slide-4 .button
{
	    margin: 0 auto;
    width: 290px;
    text-align: center;
    display: block;
	padding: 20px 0;
}


.business-footer
{
	text-align: center;
	color:#9ca5aa;
	background-color: #2b2d2e;
	background-image:image-url("business_footer.png");
	    background-position: bottom center;
    height: 70px;

}


.relative
{
	position:relative
}
.button
{
	display:inline-block;
	color:white;
	border:0px;
	padding:10px 40px 11px
}
.transparent
{
	background:rgba(0,0,0,0.43)
}
.overlay
{
	position:absolute;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	background:rgba(0,0,0,0.25)
}
.flex-horizontal
{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-between
}
.flex-vertical
{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction:column;
	height:100%
}



.about-panel
{
	position:relative;
	width:100%;
	background-color:#f9faf7
}


#about-panel-1 .big-text
{
    position: absolute;
    width: 53%;
    text-align: center;
    top: 32%;
    left: 22%;
    p{
	line-height: 1.2;
    }
}


#about-panel-1 {
  height: 1000px;
  height: 100vh;
  background: image-url("about_background_1.png") no-repeat center;
  background-size:cover;

 .big-text {
    position: absolute;
    width: 53%;
    text-align: center;
    top: 32%;
    left: 22%;

    p {
      line-height: 1.2;
    }
  }

  .overlay {
    background-color: rgba(0, 0, 0, 0.6);
  }
}

#about-panel-2 {
  text-align: center;
  padding: 43px 0 60px 0;
  background-color: #27bdbe;

  p {
    margin: 0;
    font-weight: 300;
    font-size: 1.62em;
    color: white;
    line-height: 1.4;
    letter-spacing: 0.5px;
  }
}

#about-panel-3 {
  .flex-horizontal{
    flex-direction: column;
  }

  .flex-vertical {
    height: 315px;
  }

  .flex-upper {
    flex: 4 0 auto;
    font-size:1.4em;
    text-align:center;
    color: #27bdbe;
    padding-top:28px;
    font-weight: 700;
  }

  .flex-lower {
    flex: 1 0 auto;
    font-size:1em;
    text-align:center;
    color: #6d6d6d;
    padding:0px 15px
  }

  .flex-item {
    position: relative;
    flex: 0 1 24.9%;
    margin-bottom: 4px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .find {
    background-image:image-url("find-img.png");
  }

  .compare {
    background-image:image-url("compare-img.png");
  }

  .choose {
    background-image:image-url("choose-img.png");
  }

  .plan {
    background-image:image-url("plan-img.png");
    margin-right: 0px;
  }
}


#about-panel-4 {
  padding-bottom: 5%;
  text-align: center;
  font-size: 1.6em;

  .title {
    color:#898686;
    padding: 15px 0px 25px;
    font-weight: 700;
  }

  .text {
    width: 85%;
    color: #6d6d6d;
    margin:0 auto;
    line-height: 1.5;
    margin-bottom: 5px;
    font-weight: 300;
  }
}

#about-panel-5, #about-panel-6, #about-panel-7, #about-panel-8 {
  height: 380px;
  line-height: 344px;
  text-align: center;
  font-size: 3em;
  font-weight: 300;
  color: white;
}

#about-panel-5 {
  background: image-url('image-simplicity.png') no-repeat #ee365c 13% 46%;
}

#about-panel-6 {
  background: image-url('image-happiness.png') no-repeat #27bdbe 88% 50%;
}

#about-panel-7 {
  background: image-url('image-memories.png') no-repeat #f1d901 15% 50%;
}

#about-panel-8 {
  background: image-url('image-satisfaction.png') no-repeat #49b96d 88% 50%;
}

#about-panel-9
{
  background: image-url("about_background_2.jpg") no-repeat bottom;
  background-size: cover;
  text-align: center;

  .overlay {
    background-color:  rgba(81, 201, 201, 0.6);
  }

  .big-text {
    padding: 10% 0;
  }

  p {
    position: relative;
    line-height: 1.2;
    color: #f9faf7;
    margin: 0 auto;
  }
}



#about-panel-10 {
	.flex-horizontal
	{
		flex-direction: row;
	}
	.flex-item
	{
		flex:1 0 50%;
	    padding: 15px 5%;
	}
	input[type=email]
	{
		font-size:1em;
		width:100%;
		border:1px solid #898686;
		padding:10px 8px;
		margin-bottom:17px
	}
	input[type=submit]
	{
		color:white;
		background-color:#ee365c;
		font-size:1em;
		padding:10px 0px 12px;
		border:0px;
		width:100%;
		cursor: pointer;
	}
	.title
	{
	    font-size: 1.6em;
	    font-weight: 700;
		margin:30px 0px 9px
	}
	.description
	{
		font-size:1em;
		line-height:1.8;
		margin-bottom:9px
	}
	.telephone a
	{
		font-size:1.6em
	}
	.social{
		ul{
			list-style:none;
			padding:0;
			li{
				display: inline-block;
				margin-right: 10px;
			}
			img{
				width:30px;
				height:30px;
			}
		}
	}
}






.about-footer
{
	text-align: center;
	color:#9ca5aa;
	background-color: #2b2d2e;
	padding: 15px 0;
}






.marketing-slide
{
	height:800px;
	height:100vh;
	position:relative;
	overflow:hidden;
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
}
#marketing-slide-1 .big-text
{
	position:absolute;
	width:100%;
	left:0;
	text-align:center;
	top:33%;
	p{
		margin-bottom: 17px;
		letter-spacing: 0;
		line-height: 1.2;
	}
}


.marketing-slide-shaddow{
    position: absolute;
	background: rgba(0,0,0,0.1);
    height: 100%;
    width: 100%;
}
.marketing-slide .content-bottom
{
	position:absolute;
	bottom:0px;
	left:0px;
	right:0px;
	z-index:2
}
.marketing-slide .next-slide-wrapper
{
	width:100%;
	background:rgba(0,0,0,0.43);
	text-align:center
}
.marketing-slide .next-slide-wrapper .next-slide
{
	display:inline-block;
	padding:25px 30px 20px;
	color:white
}
.marketing-slide .next-slide-wrapper img
{
	height:40px
}
.marketing-slide .anchor
{
	position:absolute;
	top:0px;
	z-index:-100
}


	#marketing-slide-2
{
  background-image:image-url("slide_2.jpg");
	background-position:35% center;
	.big-text{
		margin-top: 8%;
	    width: 50%;
	}
}

	#marketing-slide-3
{
	background-position:bottom;
	background-image:image-url("slide_3.jpg");
}
	#marketing-slide-3 .big-text
{
	text-align:right;
	margin-top: 5%;
	width:100%;
}
	#marketing-slide-3 .more
{
	position:relative;
	display:inline-block;
	padding: 12px 48px;
	margin-top: 31px;
}
	#marketing-more-details
{
  background-image:image-url("about_background_2.jpg");
	background-size:cover;
	background-position:center;
	display:none;
	position:absolute;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	z-index:3
}
	#marketing-more-details
	{
		color: #fff;
		#close{
			position: absolute;
			top:5px;
			right: 5px;
			z-index: 4;
		}
		.item
		{
			width:50%;
		    padding: 10px 5%;
			position:relative;
			height: 50vh;
			float:left;
		}

		span{
			opacity:1.0;
		    display: block;
		}
		.title
		{
			font-weight:100;
			font-size:2em;
		}
		.description
		{
			position:absolute;
		    left: 10%;
			right: 10%;
			bottom:20px
		}
	}




	#marketing-slide-4
{
	background-position: top;
//	background-image:image-url("slide_4_bg.png");
}
	#marketing-slide-4 .logo
{
	height:33px;
	margin-top:20px
}

	#marketing-slide-4 .big-text
{
	margin-top: 14%;
    margin-bottom: 4%;
}

	#marketing-slide-4 .big-text {
	text-align: center;
          p {
	@extend .pink-text;
          font-style: 'light';
          margin-bottom: 5%;
          }
            strong {
              font-weight: 300;
              }
}
	#marketing-slide-4 .select{
		margin:0 auto;
	    text-align: center;
	}


	#marketing-slide-4 .select p
{
	@extend .pink-text;
    display: inline-block;
    margin-right: 10px;
}

#marketing-slide-4 .select select
{
    padding: 5px 44px 5px 7px;
    font-family: 'Effra';
    font-size: 1em;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 34px;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    overflow: hidden;
    background-image: image-url("button-arrow.png");
    background-repeat: no-repeat;
    background-position: 90px center;
    color: #fff;

}




#media-wrapper {
  position:absolute;
  top:0px;
  z-index:-1;
  width: 100%;
  height: 100%;
}

#media-overlay {
  position:absolute;
  top:0px;
  bottom:0px;
  left:0px;
  right:0px;
  z-index:1;
  background:rgba(0,0,0,0.17)
}
  
#slideshow {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: -1;

  img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    visibility: hidden;
    transition: visibility 1s;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.6s,opacity 0.6s linear;
    -webkit-transition: visibility 0s linear 0.6s,opacity 0.6s linear;

    &.active {
      visibility: visible;
      opacity: 1;
      transition-delay: 0s;
    }
  }
}

#video {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

#icons {
  height: 60px;
  overflow: hidden;

  .icon {
    display: table-row;
    float: left;
    padding: 0px 7px;
  }
}

#signup_logo {
  width: 150px;
  padding: 40px 20px;
}
