#ui-datepicker-div{
  padding: 10px;
  border: 1px solid #eaeaea;
  .ui-datepicker-header{
    background: #fff !important;
    border: none !important;
    a{
      border: 1px solid #A8A8A8;
      margin: -1px;
    }
    a:hover{
      border: 1px solid #A8A8A8;
      background: transparent;
      margin: 0px;
    }
    .ui-datepicker-title{
      color: #777777;
    }
  }
}

table.ui-datepicker-calendar{
  th{
    padding: .4em .3em;
    text-align: center;
    border: 0;
    font-size: 0.9em;
    font-color: #b8b8b8;
    font-weight: normal !important;
  }
  
  td {
    padding: 1px;    
    span, a {
      display: block;
      text-align: center;
      text-decoration: none;
      color: #949494;
      padding: 6px;
      font-weight: normal !important;
      background: #fff !important;
    }
  }  
}

.ui-icon {
  width: 24px;
  height: 24px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.ui-icon-circle-triangle-w {
  background: image-url('icon_left.png') no-repeat center !important;
  width: 16px !important;
  height: 18px !important;
}
.ui-icon-circle-triangle-e {
  background: image-url('icon_right.png') no-repeat center !important;
  width: 16px !important;
  height: 18px !important;
}

ui-state-default ui-state-active, .ui-state-default:hover{
  background-color: #ee365b !important;
  color: white !important;
  border: none !important;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
  background: #ee365b !important;
  font-weight: normal !important;
  color: #ffffff !important;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
  border: 1px solid #c5c5c5 !important;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
  border: 1px solid #c5c5c5 !important;
}
