@font-face {
  font-family: 'Effra';
  font-style: regular;
  font-weight: 400;
  src: font-url('Effra-Regular.eot');
  src: font-url('Effra-Regular.eot#iefix') format('embedded-opentype'), font-url('Effra-Regular.ttf') format('truetype'), font-url('Effra-Regular.woff') format('woff')
}

@font-face {
  font-family: 'Effra';
  font-style: 'bold';
  font-weight: 700;
  src: font-url('Effra-Bold.eot');
  src: font-url('Effra-Bold.eot#iefix') format('embedded-opentype'), font-url('Effra-Bold.ttf') format('truetype'), font-url('Effra-Bold.woff') format('woff')

}

@font-face {
  font-family: 'Effra';
  font-style: 'light';
  font-weight: 100;
  src: font-url('EffraLight-Regular.eot');
  src: font-url('EffraLight-Regular.eot#iefix') format('embedded-opentype'), font-url('EffraLight-Regular.ttf') format('truetype'), font-url('EffraLight-Regular.woff') format('woff')
}