.show-listings-wrapper {
  background: $grey-bg;
}

img.header_image {
  display: block;
  height: 500px;
  width: 100%;
  object-fit: cover;
}

section.title {
  color: $grey-text-heavier;
  background-color: white;
  padding: 20px 210px;
  height: 210px;

  h1 {
    font-size: 24px;
    margin: 0px 0px 6px 0px;
  }

  p {
    margin: 0px;
    font-size: 16px;
  }

  .title-icons-row {
    margin-top: 30px;
  }
}

aside.controls {
  position: relative;
  top: -48px;
  width: 335px;
  margin-right: 10%;
  background-color: white;

  div.green-background {
    color: white;
    height: 48px;
    line-height: 48px;
    padding: 0px 25px;
  }

  div.inner-wrapper {
    padding: 17px 25px;
    border: 1px solid $grey-text-lighter;
    border-top: none;
  }

  span.big {
    font-size: 24px;
  }

  form {
    display: table;
    color: $grey-text-heavier;
  }

  input {
    width: 90%;
    border-radius: 0px;
    border: 1px solid #a1a1a1;
    background-color: white;
    padding: 10px 5px;
  }

  div.form-unit {
    display: table-cell;
  }

  div.wide {
    width: 40%;
  }

  div.narrow {
    width: 20%;

    input {
      width: 100%;
    }
  }

  label {
    display: block;
    margin-bottom: 8px;
  }

  div.button {
    color: white;
    font-weight: bold;
    font-size: 16px;
    width: 100%;
    height: 43px;
    line-height: 43px;
    text-align: center;
    padding: 0px 12px;
    margin-top: 20px;
  }

  span.plus {
    font-size: 24px;
  }

  p.report {
    text-align: center;
    color: $grey-text-lighter;
    margin-bottom: 15px;
  }
}

div#room-show-wrapper {
  width: 65%;
  padding-left: 30px;

  h2 {
    color: $grey-text-lighter;
    font-size: 18px;
    margin: 35px 0px 40px;
  }

  section {
    border-bottom: 1px solid #a1a1a1;
  }
}

section.description {
  padding-bottom: 40px;
}

section.details, section.amenities {
  padding: 25px 0px 30px;
}

section.amenities {
  margin-bottom: 20px;
}

.room-details-leftmost-column {
  width: 25%;
  display: inline-block;
  color: $grey-fg-heavier;
  font-family: 'Effra-bold';
}

.room-details-column {
  width: 37%;
  display: inline-block;

  p {
    margin: 4px 0px;
  }
}

.room-details-fill-column {
  width: 74%;
  display: inline-block;
}

span.amenity {
  width: 33%;
  color: $grey-fg-heavier;
  display: inline-block;
  margin: 7px 0px;
}
