.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

*
{
  box-sizing:border-box
}

*:focus
{
      outline:none;
      box-shadow:none
}

body {
  font-family:'Effra';
  font-weight:400;
  font-style:normal;
  margin:0px;
  width:100%;
  height:100%;
  text-rendering: optimizeLegibility;
}

input:invalid {
  outline:none;
  box-shadow:none
}

a, a:hover, a:focus, a:visited {
		       font-weight:700;
		       text-decoration:none;
		       font-size:16px;
		       color:#fff;
		     }

a:hover {
  cursor:pointer
}

p {
  font-weight:400;
  font-size:16px;
}

img {
  border:none;
}

.big-text {
  p {
    font-weight: 100;
    font-size: 2.5em;
    color:#fdfdfd;
    line-height: 1;
    letter-spacing: -1px;
  }

  strong{
    font-weight: 700;
  }
}