.pink-background
{
  background-color:#ee365c;
}
.white-background{
	background-color:#fff;
}
.blue-background
{
  background-color:#27bdbe;
}
.yellow-background
{
  background-color:#edd928;
}
.green-background
{
  background-color:#49b96d;
}
.transparent-background
{
  opacity:0.8;
}
.white-text
{
  color:white;
}
.pink-text
{
  color:#ee365c;
}
.blue-text
{
  color:#27bdbe;
}
.yellow-text
{
  color:#ffe600;
}
.green-text
{
  color:#49b96d;
}



// breakpoints
$breakpoint-small: "screen and (min-width:320px) and (max-width:480px)";
$breakpoint-medium: "screen and (min-width:481px) and (max-width:768px)";
$breakpoint-big: "screen and (min-width:769px)";
