.values-img {
  ul {
    display: flex;
    flex-wrap: wrap;
  }
  > ul > {
    li {
      width: 50%;
      text-align: center;
    }
    .add-mt {
      margin-top: 80px;
    }
    li > {
      p {
        font-size: 20px;
        margin: 20px 0;
        font-weight: bold;
      }
      .red {
        color: #ed365b;
      }
      .blue {
        color: #4fc7c8;
      }
      .yellow {
        color: #f1db00;
      }
      .green {
        color: #48b96d;
      }
    }
  }
}

body, ul, li, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
}

ul, li {
  list-style: none;
}

.red-background{
  background-color: #ec365b;
}

a {
  text-decoration: none;
  cursor: pointer;
}

/*main-menu*/

.top-menu {
  padding: 0px 6px;
  box-sizing: border-box;
  overflow: hidden;
  border-bottom: 1px solid #F7F4F4;
}

.logo {
  float: left;
  padding: 13px 0px 0px 16px;
}

.top-menu {
  .menu {
    overflow: hidden;
  }
  ul {
    float: right;
    li {
      list-style: none;
      display: inline-block;
      a {
        display: inline-block;
        text-decoration: none;
        color: #333333;
        font-size: 14px;
        margin: 0 10px;
        font-weight: 600;
      }
    }
  }
}

.bar-icon {
  display: none;
}

/*end-main-manu*/

/*main-content*/
/*hero*/

.about-hero-section {
  background: image-url("about_hero.jpg");
  background-size: cover;
  min-height: 500px;
  background-position: bottom;
  p {
    color: #fff;
    font-size: 32px;
    line-height: 40px;
  }
  > .hero-content > .small-div {
    color: #fff;
    line-height: 24px;
    font-size: 18px;
  }
  .hero-content {
    width: 50%;
    height: 100%;
    padding: 110px 20px 11px 100px;
    box-sizing: border-box;
  }
}

/*end-hero*/

/*icons-list*/

.icons-list {
  padding: 50px 0px;
  box-sizing: border-box;
  background: #fafafa;
}

.icons-list-head, .values-share-head {
  text-align: center;
  letter-spacing: 0.3px;
  max-width: 750px;
  margin: 0 auto;
  padding-bottom: 50px;
  box-sizing: border-box;
}

.icons-list-head h1, .values-share-head h1 {
  font-size: 24px;
  line-height: 35px;
  color: #ee365c;
  font-weight: normal;
}

.icons-list-head p, .values-share-head p {
  line-height: 25px;
  color: #333;
}

.icons-list-detail ul {
  display: flex;
  flex-wrap: wrap;
  li {
    width: 25%;
    text-align: center;
    padding: 10px 40px;
    box-sizing: border-box;
    h3 {
      font-size: 18px;
      line-height: 40px;
      color: #ee365c;
      font-weight: normal;
    }
    p {
      color: #333;
      line-height: 20px;
    }
  }
}

/*End*/

/*Placing offers*/

.values-share {
  padding: 50px 0;
  box-sizing: border-box;
}

/*end*/

/*tailor*/

.tailor > .tailor-content {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 0px;
  box-sizing: border-box;
  > {
    .user-detail {
      color: #ec365c;
      max-width: 700px;
      margin: 0 auto;
      p {
        font-size: 32px;
        padding: 50px 0;
        box-sizing: border-box;
        text-align: center;
      }
    }
    .user-img > img {
      position: absolute;
      top: 60px;
      right: 0;
    }
  }
}

/*end-tailor*/

.link a {
  color: white !important;
}

/*media queries*/
@media only screen and (max-width: 992px) {
  .tailor > .tailor-content > .user-detail p {
    padding: 50px 20px;
    box-sizing: border-box;
    line-height: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .tailor > .tailor-content > {
    .user-img > img {
      display: none;
    }
    .user-detail {
      width: 100%;
    }
  }
  .social .newsletter, .about-hero-section .hero-content {
    width: 100%;
  }
  .icons-list-detail ul li {
    width: 50%;
  }
  .footer-content > .footer-list > ul > li {
    width: 50%;
    text-align: center;
    &:first-child {
      justify-content: center;
    }
  }
  .social {
    .newsletter {
      text-align: center;
    }
    padding: 20px 0;
    box-sizing: border-box;
    .social-icons {
      width: 100%;
      text-align: center;
      margin-bottom: 20px;
      padding: 20px 0;
      box-sizing: border-box;
      background: #ee365c;
      a .fa {
        font-size: 22px;
        color: #fff;
      }
    }
  }
  .values-img > ul > {
    .add-mt {
      margin: 0;
    }
    li > img {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 540px) {
  .subscribe-form .form-inner button {
    position: static;
    width: 100%;
    margin-top: 10px;
    background: #ee365c;
    color: #fff;
  }
  .tailor > .tailor-content > .user-detail p {
    padding: 0px 20px;
    box-sizing: border-box;
    line-height: 40px;
  }
}

@media only screen and (max-width: 480px) {
  .icons-list-detail ul li {
    width: 100%;
  }
  .footer-content > .footer-list > ul > li {
    &:first-child {
      justify-content: flex-start;
    }
    width: 100%;
    text-align: left;
    margin: 15px 10px;
  }
  .bottom-footer {
    > .bottom-logo {
      width: 100%;
    }
    p {
      width: 100%;
      text-align: center;
      margin: 30px 0;
    }
    > p > a {
      color: #ee365c;
      font-weight: bold;
      border: 1px solid #ee365c;
      padding: 10px;
      box-sizing: border-box;
    }
  }
  #show {
    display: none;
  }
  .bar-icon {
    float: right;
    display: block;
  }
  .top-menu ul, .logo {
    float: none;
  }
  .top-menu ul li {
    display: block;
    margin: 2px 0;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    box-sizing: border-box;
  }
  .values-img > ul > li {
    width: 100%;
  }
}

@media only screen and (max-width: 320px) {
  .social .newsletter > form > {
    input {
      width: 40%;
    }
    button {
      width: 25%;
    }
  }
}
