/*
*= require leaflet
*= require leaflet.markercluster
*= require fullcalendar
*/

@import 'shared';
@import 'navbar';
@import 'planner';
@import 'planner_new';
@import 'devise';
@import 'modals';
@import 'profile';
@import 'forms';
@import 'listings-creation';
@import 'room';
@import 'datepicker';
@import 'user_listings';
@import 'trip_destinations';
@import 'font-face';
@import "font-awesome";
@import 'planner_accommodation';
@import 'detail';
@import 'jquery-ui';
@import 'reserve_payment';

.tb_res {
  overflow: auto;
}


/* START - New session page css */

.new_session_container{
  width: 100%;
  background-color: #fff;
  margin-top: 5px;
  display: flex;
  justify-content: center;
}

.new_session_modal{
  width: 30%;
  padding: 15px;
  background-color: #fff;

  form{
    background-color: #fff;
  }

  .title{
    text-align: center;
    color: red;
    font-size: 25px;
    margin: 30px;
  }

  .find{
    color: red !important;
    background-color: #fff !important;
    border: 1px solid red !important;
    font-family: "Effra-normal" !important;
  }

  .errors{
    color: red;
  }

  select{
    width: 40%;
    background: #fff;
    border: 1px solid #ccc;
  }
}

/* END - New session page css */


/* NAV : START */

.rent_navbar {
  overflow: hidden;

  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
    li {
      display: inline-block;
     
      padding: 10px 17px;
      border-right: 1px solid #ddd;
      margin-bottom: 8px;
      a {
        color: #9f9f9f !important;
      }
      a.active{
        color: #27bdbe !important;
      }
    }
  }
}

.rent_navbar ul li a:after {
  content: '';
  display: block;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width .3s !important;
}
.rent_navbar ul li a:hover:after {
  width: 100%;
  background: #ee365c;
}






/* NAV : END*/

.action_btn {
  display: inline-block;
  line-height: 26px;
  width: auto;
  height: 26px;
  padding: 0px 7px;
  color: white !important;
  font-size: 0.9em;
  font-family: 'Effra-bold';
  margin: 6px 0px;
}

.table_anchor{
  color: #d2cccb !important;
  font-weight: normal !important;
  font-size: 14px;
  display: inline-block;
  position: relative;
}
.table_anchor:after {
  content: '';
  display: block;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width .3s !important;
}
.table_anchor:hover:after {
  width: 100%;
  background: #36a2ee;
}

.table_anchor_delete{
  color: #d2cccb !important;
  font-weight: normal !important;
  font-size: 14px;
  display: inline-block;
  position: relative;
}
.table_anchor_delete:after {
  content: '';
  display: block;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width .3s !important;
}
.table_anchor_delete:hover:after {
  width: 100%;
  background: #ee365c;
 
}
a.success{
  float: right;
  font-size: 15px;
  color: #fff !important;
  background-color: #50bebd;
  border-color: #50bebd;
  border-radius: .25rem;
  padding: .375rem .75rem;
  margin-bottom: 10px;
}
a.success:hover{
  background-color:#ee365c;
  border-color:#ee365c; 
}




.th_font{
  color: #3b3b3b;
}

.left_title{
  font-weight: bold;
  font-size: 25px;
  float: left;
}

.main-container {
  position: relative;
  min-width: 320px;
  height: 650px;
  margin: 0 auto;
  background: image-url("landing_picture_6.jpg");
  background-size: 100%;
}

.main-table {
  /*padding: 30px 45px;*/
  box-sizing: border-box;
  overflow-x:auto;
}
.main-table table {
  border-spacing: 0px;
}
.main-table table tr th {
  font-size: 14px;
  color: #2D2D2D;
}
.main-table table tr td {
  color: #878787;
  font-size: 12px;
}
.main-table table tr td, .main-table table tr th {
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  border-spacing: 0px;
  border: 1px solid #EDEDED;
}
.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 84%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.back-btn{
  background-color: #50bebe;
  border: 1px solid wheat;
  border-radius: 3px;
  float: left;
  color: white;
  padding: 5px !important;
  font-weight: normal !important;
  text-decoration: none !important;
}
.back-btn:hover{
  color: white !important;
}