body, ul, li, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

/*main-menu*/

.top-menu {
  padding: 10px 6px 10px 0px;
  box-sizing: border-box;
  overflow: hidden;
  border-bottom: 1px solid #F7F4F4;
}

.logo {
  float: left;
}

.top-menu {
  .menu {
    overflow: hidden;
  }
  ul {
    float: right;
    li {
      list-style: none;
      display: inline-block;
      margin: 3px 0px 0px 0px;
      a {
        display: inline-block;
        text-decoration: none;
        color: #333333;
        font-size: 14px;
        margin: 0 10px;
        font-weight: 600;
      }
    }
  }
}

.bar-icon {
  display: none;
}

/*end-main-manu*/

/*main-content*/
/*hero*/

.neon-background{
  background-color: #54c7c8;
}

.hero-section {
  background: image-url("business_hero.jpg");
  background-size: cover;
  min-height: 500px;
  background-position: bottom;
  p {
    color: #fff;
    font-size: 32px;
    line-height: 40px;
  }
  .hero-content {
    width: 50%;
    height: 100%;
    padding: 110px 20px 11px 100px;
    box-sizing: border-box;
  }
}

/*end-hero*/

/*why-advertise*/

.why-advertise {
  padding: 50px 0px;
  box-sizing: border-box;
  background: #fafafa;
}

.adertise-head, .palcing-offer-head {
  text-align: center;
  letter-spacing: 0.3px;
  max-width: 700px;
  margin: 0 auto;
  padding-bottom: 50px;
  box-sizing: border-box;
}

.adertise-head h1, .palcing-offer-head h1 {
  font-size: 24px;
  line-height: 35px;
  color: #4fc7c8;
  font-weight: normal;
}

.adertise-head p, .palcing-offer-head p {
  line-height: 25px;
  color: #333;
}

.adertise-details ul {
  display: flex;
  flex-wrap: wrap;
  li {
    width: 25%;
    text-align: center;
    padding: 10px 30px;
    box-sizing: border-box;
    h3 {
      font-size: 18px;
      line-height: 40px;
      color: #4fc7c8;
      font-weight: normal;
    }
    p {
      color: #333;
      line-height: 20px;
      span {
        color: #4fc7c8;
        display: block;
      }
    }
  }
}

/*End*/

/*Placing offers*/

.palcing-offer {
  padding: 50px 0;
  box-sizing: border-box;
}

/*end*/

/*user-help*/

.user-help {
  background: #4fc7c8;
  > .user-help-content {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 50px 0;
    box-sizing: border-box;
    min-height: 455px;
    > {
      .user-detail {
        color: #fff;
        width: 50%;
        p {
          font-size: 26px;
          padding: 100px 20px 20px 50px;
          box-sizing: border-box;
        }
      }
      .user-img > img {
        position: absolute;
        top: 60px;
        right: 0;
      }
    }
  }
}

/*end-user-help*/

/*stay-in-touch*/

.stay-in-touch {
  padding: 50px 0;
  box-sizing: border-box;
  > .stay-in-touch-head {
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    > {
      h1 {
        color: #ee365c;
        font-size: 35px;
        letter-spacing: 0.3px;
        line-height: 50px;
      }
      p {
        color: #333;
      }
    }
  }
}

.subscribe-form {
  padding: 20px 100px;
  box-sizing: border-box;
  .form-inner {
    position: relative;
    input {
      width: 100%;
      padding: 20px;
      box-sizing: border-box;
    }
    button {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 150px;
      border: 1px solid #ccc;
      background: #fff;
      padding: 10px 15px;
      box-sizing: border-box;
    }
  }
}

/*end*/

/*Footer*/

footer {
  border-top: 1px solid #ccc;
}

.footer-content {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
  > .footer-list {
    padding: 50px 0;
    box-sizing: border-box;
    > ul {
      display: flex;
      flex-wrap: wrap;
      > li {
        width: 25%;
        &:first-child {
          display: flex;
          align-items: center;
        }
        > {
          button {
            padding: 10px 35px;
            box-sizing: border-box;
            background: #fff;
            border: 1px solid #ccc;
            color: #4fc7c8;
          }
          a {
            display: block;
            text-decoration: none;
            color: #333;
            font-weight: bold;
            line-height: 24px;
          }
          h3, h2 {
            color: #ee365c;
            font-size: 18px;
            line-height: 30px;
          }
          p {
            color: #ee365c;
            line-height: 20px;
          }
        }
      }
    }
  }
}

.social {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 50px 0;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  .social-icons {
    width: 50%;
    a {
      margin: 0 10px;
      color: #333;
      .fa {
        font-size: 16px;
      }
    }
  }
  .newsletter {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    form {
      width: 100%;
    }
    > form > {
      input {
        width: 60%;
        padding: 10px;
        box-sizing: border-box;
        border: 1px solid #ccc;
      }
      button {
        width: 20%;
        padding: 11px;
        box-sizing: border-box;
        background: #ee365c;
        color: #fff;
        border: none;
      }
    }
  }
}

.bottom-footer {
  padding: 50px 0;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  > .bottom-logo {
    width: 70%;
    > {
      img {
        vertical-align: middle;
        margin-right: 50px;
      }
      a {
        color: #333;
        display: inline-block;
        margin: 0 20px;
      }
    }
  }
  p {
    width: 30%;
    text-align: right;
  }
  > p > a {
    color: #333;
  }
}

.clearfix {
  display: block;
  clear: both;
  font-family: sans-serif;
}

/*media queries*/
@media only screen and (max-width: 992px) {
  .user-help > .user-help-content > .user-detail p {
    padding: 100px 50px 20px 50px;
    box-sizing: border-box;
    line-height: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .user-help > .user-help-content > {
    .user-img > img {
      display: none;
    }
    .user-detail {
      width: 100%;
    }
  }
  .social .newsletter, .hero-section .hero-content {
    width: 100%;
  }
  .adertise-details ul li {
    width: 50%;
  }
  .footer-content > .footer-list > ul > li {
    width: 50%;
    text-align: center;
    &:first-child {
      justify-content: center;
    }
  }
  .social {
    .newsletter {
      text-align: center;
    }
    padding: 20px 0;
    box-sizing: border-box;
    .social-icons {
      width: 100%;
      text-align: center;
      margin-bottom: 20px;
      padding: 20px 0;
      box-sizing: border-box;
      background: #ee365c;
      a .fa {
        font-size: 22px;
        color: #fff;
      }
    }
  }
}

@media only screen and (max-width: 540px) {
  .subscribe-form .form-inner button {
    position: static;
    width: 100%;
    margin-top: 10px;
    background: #ee365c;
    color: #fff;
  }
}

@media only screen and (max-width: 480px) {
  .adertise-details ul li {
    width: 100%;
  }
  .footer-content > .footer-list > ul > li {
    &:first-child {
      justify-content: flex-start;
    }
    width: 100%;
    text-align: left;
    margin: 15px 10px;
  }
  .bottom-footer {
    > .bottom-logo {
      width: 100%;
    }
    p {
      width: 100%;
      text-align: center;
      margin: 30px 0;
    }
    > p > a {
      color: #ee365c;
      font-weight: bold;
      border: 1px solid #ee365c;
      padding: 10px;
      box-sizing: border-box;
    }
  }
  #show {
    display: none;
  }
  .bar-icon {
    float: right;
    display: block;
  }
  .top-menu ul, .logo {
    float: none;
  }
  .top-menu ul li {
    display: block;
    margin: 2px 0;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    box-sizing: border-box;
  }
}

@media only screen and (max-width: 320px) {
  .social .newsletter > form > {
    input {
      width: 40%;
    }
    button {
      width: 25%;
    }
  }
}
