* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
/*.mySlides {display: none}*/
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  /*max-width: 1000px;*/
  width: 100%;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev-slider, .next-slider {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next-slider {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev-slider:hover, .next-slider:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev-slider, .next-slider,.text {font-size: 11px}
}
.contact-info {
  box-shadow: 0px 0px 12px #eceaea; 
  padding: 30px 30px;
  box-sizing: border-box;
}
.contact-profile {
  display: flex;
  align-items: center;
  font-size: 15px;
  padding: 15px 0;
  box-sizing: border-box;
}
.contact-profile img {
  float: left;
  border-radius: 50%;
  margin-right: 10px;
}
.content-details {
  line-height: 25px;
  font-size: 15px;
  color: #454545;
  letter-spacing: 0.5px;
}
.contact-btn {
  display: block;
  text-align: center;
  color: #ed365b;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  line-height: 40px;
  width: 100%;
  background: #fff;
  border-radius: 20px;
  border: 1px solid #ed365b;
  margin-top: 15px;
  cursor: pointer;
}
.contact-btn:hover{
  background:#ed365b;
  color:#fff;
}


.hero {
  position: relative;
  display: block;
}
.text-ovelay {
  position: absolute;
  bottom: 20px;
  left: 50px;
  color: #fff;
}
.text-ovelay h2 {
  line-height: 30px;
  font-size: 28px;
}
.text-ovelay h4 {
  line-height: 40px;
  font-size: 20px;
}
.frame-details {
  padding: 50px 50px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}
.frame-left {
  width: 70%;
}
.frame-about {
  padding: 0 10px;
  box-sizing: border-box;
}
.frame-about h4 {
  font-size: 18px;
  line-height: 20px;
  color: #30292A;
}
.frame-about p {
  font-size: 14px;
  color: #646464 !important;
  line-height: 20px;
}
.frame-right {
  width: 30%;
  position: relative;
}
.frame-position {
  position: absolute;
  right: 0;
  top: -140px;
  width: 100%;
  background: #fff;
}
.the-space {
  padding: 50px 0;
  box-sizing: border-box; 
}
.the-space ul {
  display: flex;
  flex-wrap: wrap;
}
.the-space ul li {
  width: 33.33%;
  line-height: 24px;  
  font-size: 14px;
  color: #454545;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
}
.good-memories h2, .location h2 {
  margin-bottom: 20px;
  line-height: 25px;
}
.good-memories h2 span {
  font-weight: normal;
  font-size: 15px;
}
.memories {
  box-shadow: 0px 0px 12px #eceaea;
  max-width: 700px;
  font-size: 14px;
  color: #646464;
  line-height: 25px;
}
.memories-detail {
  display: flex;
  align-items: flex-start;  
  padding: 15px;
  box-sizing: border-box; 
}
.memories .profile {
  float: left;  
  border-radius: 50%;
  margin-right: 15px;
  width: 10%;
}
.memories-detail p {
  width: 90%;
}
.memories-image {
  display: flex;
  flex-wrap: wrap;
}
.memories-image img {
  width: 25%;
}
.view a {
  display: block;
  color: #ED365B;
  text-transform: uppercase;
  text-decoration: none;
  margin: 30px 0;
  letter-spacing: 0.5px;
  font-weight: bold;
  display: inline-block;
  position: relative;
}

.view a:after {
  content: '';
  display: block;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width .3s !important;
}.view a:hover:after {
  width: 100%;
  background:#ED365B; 
}

.map-fill {
  max-width: 700px;
}
.add-per-day {
  box-shadow: 0px 0px 12px #eceaea;
  text-align: center; 
  padding: 30px 30px;
  box-sizing: border-box;
}
.ammount {
  color: #08b608;
  font-size: 30px;
  line-height: 45px;
  font-weight: normal;
}
.add-plan {
  text-align: center;
  //background: #ed365b;
  background:#50bebd;
  border-radius: 20px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.5px;
  line-height: 40px;
  text-transform: uppercase;
  border: none;
  width: 100%;
  box-sizing: border-box;
  a{
    color: #fff !important;
  }
}
.add-plan:hover
{
  background: #ed365b;
}

.add-per-day p {
  color: #172837 !important;
}
/*responsive*/
@media only screen and (max-width: 991px){
  .frame-left {
    width: 60%;
  }
  .frame-right {
    width: 40%;
  }
}
@media only screen and (max-width: 768px){
  .frame-left {
    width: 100%;
  }
  .frame-right {
    width: 100%;
  }
}
@media only screen and (max-width: 480px){
  .frame-details {
    padding: 50px 15px;
    box-sizing: border-box;
  }
  .the-space ul li {
    width: 100%;
  }
  .memories .profile {
    float: none;
    width: 150px;
  }
  .memories-detail {
    display: block;
    text-align: center;
  }
  .memories-detail p {
    width: 100%;
  }
}