.devise-form-width {
  max-width: 500px;
  margin: 0px auto;
  background: #fff;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.26);
  border-radius: 2px;
  position: absolute;
  top: 25%;
  left: 35%;
}

.devise-signup-form-width {
  max-width: 500px;
  margin: 0px auto;
  background: #fff;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.26);
  border-radius: 2px;
  position: absolute;
  top: 20%;
  left: 32%;
}

.devise-pass-form-width{
  width: 500px;
  margin: 0px auto;
  background: #fff;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.26);
  border-radius: 2px;
  position: absolute;
  top: 20%;
  left: 32%;
}

.devise-form-pd {
  padding: 15px 30px;
  box-sizing: border-box;
}

.devise-form-content p {
  text-align: center;
  font-size: 14px;
  margin: 15px 0;
}

#error_explanation{
  color: red;
}

.devise-form-content .or {
  text-align: center;
  font-size: 20px;
  margin: 15px 0;
}

.devise-form-content form input[type="email"], .devise-form-content form input[type="password"], .devise-form-content form input[type="text"] {
  width: 100%;
  padding: 15px 15px;
  box-sizing: border-box;
  margin-bottom: 15px;
  border: 1px solid #ECECEC;
}
.devise-form-content form input[type="email"]:focus{
  border: 1px solid #ED365B;
}
.devise-form-content form input[type="password"]:focus{
  border: 1px solid #ED365B;
}
.devise-form-content form input[type="text"]:focus{
  border: 1px solid #ED365B;
}


.devise-form-content label {
  display: block;
  font-size: 14px;
  margin: 0px 0px 30px 0px ;
}

.devise-form-content label span {
  float: right;
}

.devise_btn {
  background: #ED365B;
  border: 1px solid #ED365B;
  display: block;
  text-align: center;
  color: #fff;
  font: 14px;
  line-height: 50px;
  width: 100%;
  cursor: pointer;
  font-weight: bold;
}

.forget-pass a, .signup-text a {
  color: #ED365B !important;
  font-weight: normal !important;
}
  
.check {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: 1px solid #eee;
  margin-top: -5px;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.check input:checked ~ .checkmark:after {
  display: block;
}

.check .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #ed365b;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.devise_main{
  background-image: image-url("landing_picture_2.jpg");
  background-size: cover;
  min-height: 685px;
  position: relative;
}

@media only screen and (max-width: 480px) {
  .devise-form-pd {
    padding: 10px 8px;
  }
  .devise-form-width {
    top: 10%;
    left: 12%;
    right: 12%;
  }
}