@mixin form-row {
  margin: 6px 0px;

  input[type=checkbox] {
    display: inline;
    width: auto;
    margin: 0px 5px 0px 0px;
  }
  
  input[type=checkbox]:focus {
    border: 1px solid #ee365c;
  }

  label {
    display: inline;
    width: auto;
  }
}  

:-webkit-inner-spin-button { -webkit-appearance: none;}
::-webkit-outer-spin-button { -webkit-appearance: none;}

.form {
  color: #a9a9a9;
  background-color: #f4f4f4;

  a {
    color: $blue;
    margin-bottom: 12px;
    display: inline-block;
  }

  label {
    font-size: 1.2em;
    display: inline-block;
    width: 100%;
    margin-bottom: 12px;
  }

  input {
    display: inline-block;
    width: 100%;
    font-size: 1em;
    border: 1px solid #cecece;
    padding: 9px 10px;
    color: #a9a9a9;
    margin-bottom: 38px;
  }
  input:focus {
    border: 1px solid #ee365c;
  }

  select {
    padding: 9px 10px;
    margin-bottom: 38px;
    color: #a9a9a9;
    background-color: white;
    font-size: 1em;
  }

  .form-amenities-item {
    @include form-row;
    width: 25%;
    float: left;

    @media screen and (max-width: $screen-sm) {
      width: 50%;
    }

    @media screen and (max-width: $screen-xs) {
      width: 100%;
    }
  }

  .form-row {
    @include form-row;
    width: 100%;
  }

  textarea {
    width: 100%;
    max-width: 100%;
    height: 151px;
    font-size: 1em;
    color: #a9a9a9;
    font-family: 'Effra-normal';
    padding: 9px 10px;
    border-radius: 0;
    border: 1px solid #cecece;
    margin-bottom: 38px;
  }
  textarea:focus {
    border: 1px solid #ee365c;
  }
  input[type=file] {
    display: none;
  }

  input[type=submit] {
    font-size: 1em;
    font-family: 'Effra-bold';
    color: white;
    background-color: #50bebd;
    border: none;
    padding: 7px 35px 10px;
    width: auto;
    cursor: pointer;
    margin-bottom: 0px;
  }
  
  input[type=submit]:hover{
    background-color: #ee365c;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }
  
  input[type=number]:focus {
    border: 1px solid #ee365c;
  }

  input[type=radio] {
    display: inline;
    width: auto;
  }

  .form-section-title {
    font-size: 1.4em;
    margin-bottom: 12px;
  }
  
  .form-help {
    font-size: 0.9em;
    margin: 5px 0px;
  }

  .form-remove {
    position: relative;
    top: 10px;
    font-size: 2em;
    color: $grey-fg;
    cursor: pointer;
  }

  .optional-payment-title {
    font-size: 1.2em;
    color: $grey-fg;
    font-family: 'Effra-bold';
    margin-bottom: 10px;
  }

  .add_fields {
    width: 100%;
  }

  #gallery-editor {
    span.img-wrapper {
      position: relative;
      height: 200px;
      margin-right: 25px;
      margin-bottom: 25px;
      display: inline-block;
      text-shadow: 1px 1px 1px #fff, -1px -1px 1px #fff;

      img {
        height: 200px;
      }

      span.image-delete {
        font-family: 'Effra-bold';
        position: absolute;
        top: 10px;
        right: 10px;
        color: #0f0000;
        line-height: 1em;
        cursor: pointer;
        font-size: 20px;
      }

      span.image-move-right {
        position: absolute;
        bottom: 70px;
        right: 10px;
        font-size: 25px;
        line-height: 2em;
        color: #0f0000;
        cursor: pointer;
      }

      span.image-move-left {
        position: absolute;
        bottom: 70px;
        left: 10px;
        font-size: 25px;
        line-height: 2em;
        color: #0f0000;
        cursor: pointer;
      }
    } 
  }
}

.form-map {
  width: 400px;
  height: 400px;

  @media screen and (max-width: $screen-xs) {
    width: 100%;
    height: 300px;
  }

  a {
    margin: 0;
  }		

  .leaflet-control-zoom a {
    display: block;
  }
}

.modal-content {
  label { margin-bottom: 5px; }
  input, select { margin-bottom: 15px ; }
}

.devise-form {
  width: 320px;
  margin: 10vh auto;

  h2 {
    color: $grey-fg-heavier;
  }
  
  input {
    margin-bottom: 10px;
  }

  .form-row {
    @include form-row;
    width: 100%;
    margin-bottom: 1.5em;
  }

  input[type=submit] {
    margin-bottom: 1.5em;
  }
}

.destination-chooser-form {
  .form-row {
    margin: 0;

    input[type=text] {
      width: 40%;
    }

    .to {
      display: inline-block;
      width: 18%;
      text-align: center;
    }
  }

  a {
    color: $pink;
  }

  .add {
    margin-bottom: 5px;
  }

  .text {
    color: $grey-text-heavier;
    font-size: 13px;
  }
      
  input[type=submit] {
    margin-top: 25px;
    width: 100%;
  }

  .chosen {
    margin: 30px 0 0;
    border-top: 1px solid $grey-fg;
  }
}
