.right-menu{
  margin: 16px 30px 0px 0px;
}
.goto-btn{
  padding: 9px;
}
.logo-menu{
  margin-top: 10px;
}
.arrow-icons {
  .right {
    float: left;
    position: absolute;
    top: 55%;
    left: 20%;
    cursor: pointer;
  }
  .left {
    float: left;
    position: absolute;
    top: 55%;
    right: 20%;
    cursor: pointer;
  }
}

body, ul, li, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: Effra;
  font-size: 14px;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}
/* homepage gallery*/
img.img_gll {
    width: 100%;
    height: 284px;
    margin-bottom: 4px;
}
.img_gallery_inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.img_item {
  flex: 24%;
  padding: 0 4px;
}
/*main-menu*/

.copy-3-top-menu {
  padding: 1px 6px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  z-index: 999;
  color: #fff;
  width: 100%;
}

.logo {
  float: left;
}

.copy-3-top-menu {
  .menu {
    overflow: hidden;
  }
  ul {
    float: right;
    li {
      list-style: none;
      display: inline-block;
      a {
        display: inline-block;
        text-decoration: none;
        color: #fff;
        font-size: 14px;
        margin: 0 10px;
        font-weight: 600;
      }
    }
  }
}

.copy-3-bar-icon {
  display: none;
}

/*end-main-manu*/

/*main-content*/

/*hero*/

.copy-3-hero-section {
  /*background: image-url("home_hero.jpg");*/
  background-size: cover;
  min-height: 500px;
  background-position: bottom;
  p {
    color: #fff;
    font-size: 40px;
    line-height: 47px;
  }
  > .copy-3-hero-content > .small-div {
    color: #fff;
    line-height: 35px;
    font-size: 22px;
    > a {
      color: #fff;
      font-size: 15px;
    }
  }
  .copy-3-hero-content {
    width: 50%;
    height: 100%;
    padding: 0px 0px 0px 100px;
    box-sizing: border-box;
    position: absolute;
    top: 110px;

  }
}

/*end-hero*/

/*slider*/

.destination-slider {
  padding: 50px 0;
  box-sizing: border-box;
  position: relative;
}

.destination-slider-heading {
  color: #ed365b;
  font-size: 30px;
  text-align: center;
  line-height: 40px;
}

.destination-slider-details {
  background: #fff;
  box-shadow: 0px 0px 7px #ccc;
  padding: 15px;
  box-sizing: border-box;
  p {
    color: #ed365b;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 0;
    box-sizing: border-box;
    span {
      float: right;
    }
  }
}

.destination-slider ul {
  display: flex;
  flex-wrap: wrap;
  li {
    max-width: 100%;
    margin: 0 auto;
    img {
      height: 500px;
      object-fit: cover;
      width: 1058px;
    }
  }
}

#slider {
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  border-radius: 4px;
}
/*end*/

/*organize-plan*/

.organize-plan {
  padding: 100px 50px;
  box-sizing: border-box;
  ul {
    display: flex;
    flex-wrap: wrap;
    li {
      width: 50%;
      h2 {
        color: #ed365b;
        font-size: 30px;
        line-height: 35px;
        font-weight: normal;
        padding-top: 50px;
        box-sizing: border-box;
      }
      p {
        color: #333;
        line-height: 20px;
        margin-top: 20px;
        a {
          color: #ed365b;
          line-height: 20px;
          margin-top: 30px;
          font-weight: bold;
        }
      }
      &:first-child {
        display: flex;
        justify-content: center;
      }
    }
  }
}

/*end*/

/*tailor*/
.msg-text{
  font-size: 14px;
  padding: 50px 0;
  box-sizing: border-box;
  text-align: center;
  color: gray;
}
.tailor > .tailor-content {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 50px 0;
  box-sizing: border-box;
  > {
    .user-detail {
      color: #ec365c;
      max-width: 700px;
      margin: 0 auto;
      p {
        font-size: 32px;
        padding: 50px 0;
        box-sizing: border-box;
        text-align: center;
      }
      a{
        color: #ec365c;
      }
    }
    .user-img > img {
      position: absolute;
      top: 60px;
      right: 0;
    }
  }
}

/*end-tailor*/

/*Footer*/

footer {
  border-top: 1px solid #ccc;
}

.footer-content {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
  > .footer-list {
    padding: 50px 0;
    box-sizing: border-box;
    > ul {
      display: flex;
      flex-wrap: wrap;
      > li {
        width: 25%;
        &:first-child {
          display: flex;
          align-items: center;
        }
        > {
          button {
            padding: 10px 35px;
            box-sizing: border-box;
            background: #fff;
            border: 1px solid #ccc;
            color: #4fc7c8;
          }
          a {
            display: block;
            text-decoration: none;
            color: #333;
            font-weight: bold;
            line-height: 24px;
          }
          h3, h2 {
            color: #ee365c;
            font-size: 18px;
            line-height: 30px;
          }
          p {
            color: #ee365c;
            line-height: 20px;
          }
        }
      }
    }
  }
}

/*slider_video css*/
.destination-slider.extra_pd {
  padding: 40px 0px;
}
/*slider_video css*/
.social {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 50px 0;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  .social-icons {
    width: 50%;
    a {
      margin: 0 10px;
      color: #333;
      .fa {
        font-size: 16px;
      }
    }
  }
  .newsletter {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    form {
      width: 100%;
    }
    > form > {
      input {
        width: 40%;
        padding: 10px;
        box-sizing: border-box;
        border: 1px solid #ccc;
      }
      button {
        width: 20%;
        padding: 11px;
        box-sizing: border-box;
        background: #ee365c;
        color: #fff;
        border: none;
      }
    }
  }
}

.bottom-footer {
  padding: 50px 0;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  > .bottom-logo {
    width: 70%;
    > {
      img {
        vertical-align: middle;
        margin-right: 50px;
      }
      a {
        color: #333;
        display: inline-block;
        margin: 0 20px;
      }
    }
  }
  p {
    width: 30%;
    text-align: right;
  }
  > p > a {
    color: #333;
  }
}

.clearfix {
  display: block;
  clear: both;
  font-family: sans-serif;
}
 
/*media queries*/
@media only screen and (max-width: 1800px) {
  .arrow-icons {
    .right {
      float: left;
      position: absolute;
      top: 55%;
      left: 30%;
      cursor: pointer;
      opacity: 0.75;
    }
    .left {
      float: left;
      position: absolute;
      top: 55%;
      right: 30%;
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 1500px) {
  .arrow-icons {
    .right {
      float: left;
      position: absolute;
      top: 45%;
      left: 11%;
      cursor: pointer;
    }
    .left {
      float: left;
      position: absolute;
      top: 45%;
      right: 11%;
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .arrow-icons {
    .right {
      float: left;
      position: absolute;
      top: 55%;
      left: 20%;
      cursor: pointer;
    }
    .left {
      float: left;
      position: absolute;
      top: 55%;
      right: 20%;
      cursor: pointer;
    }
  }
  #video {
    width: 100%;
    height: 448px;
    object-fit: cover;
}
.copy-3-hero-section {
    background-size: cover;
    min-height: 450px;
    background-position: bottom;
}
}

@media only screen and (max-width: 992px) {
  .tailor > .tailor-content > .user-detail p {
    padding: 50px 20px;
    box-sizing: border-box;
    line-height: 30px;
  }
  .arrow-icons {
    .right {
      float: left;
      position: absolute;
      top: 55%;
      left: 10%;
      cursor: pointer;
    }
    .left {
      float: left;
      position: absolute;
      top: 55%;
      right: 10%;
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 767px) {
  .img_item {
      flex: 50%;
      padding: 0 4px;
  }
  img.img_gll {
    width: 100%;
    height: 284px;
    margin-bottom: 5px;
  }
  .tailor > .tailor-content > {
    .user-img > img {
      display: none;
    }
    .user-detail {
      width: 100%;
    }
  }
  .social .newsletter, .copy-3-hero-section .copy-3-hero-content {
    width: 100%;
  }
  .icons-list-detail ul li {
    width: 50%;
  }
  .footer-content > .footer-list > ul > li {
    width: 50%;
    text-align: center;
    &:first-child {
      justify-content: center;
    }
  }
  .social {
    .newsletter {
      text-align: center;
    }
    padding: 20px 0;
    box-sizing: border-box;
    .social-icons {
      width: 100%;
      text-align: center;
      margin-bottom: 20px;
      padding: 20px 0;
      box-sizing: border-box;
      background: #ee365c;
      a .fa {
        font-size: 22px;
        color: #fff;
      }
    }
  }
  .organize-plan {
    padding: 50px 0px;
    box-sizing: border-box;
    ul li {
      width: 100%;
      img {
        width: 300px;
      }
      h2, p {
        text-align: center;
        padding: 0 10px;
        box-sizing: border-box;
      }
    }
  }
}

@media only screen and (max-width: 540px) {
  .subscribe-form .form-inner button {
    position: static;
    width: 100%;
    margin-top: 10px;
    background: #ee365c;
    color: #fff;
  }
  .tailor > .tailor-content > .user-detail p {
    padding: 0px 20px;
    box-sizing: border-box;
    line-height: 40px;
  }
}

@media only screen and (max-width: 480px) {
  .icons-list-detail ul li {
    width: 100%;
  }
  .social .social-icons {
    width: 100% !important;
  }
  .footer-content > .footer-list > ul {
    padding: 0px 38px 0px 38px;
  }
  .social .newsletter {
    width: 100% !important;
  }
  .social .newsletter > form > input {
    width: 100% !important;
  }
  .social .newsletter > form > button {
    width: 30% !important;
    margin: 5px !important;
  }
  .bottom-footer {
    padding: 16px !important;
  }
  .bottom-footer > .bottom-logo img{
    margin: 10px 100px 10px 100px !important;
  }
  .bottom-footer > .bottom-logo a{
    margin: 0px !important;
  }
  .bottom-footer p{
    margin: 0px !important;
    width: 100% !important;
  }
  .footer-content > .footer-list > ul > li {
    width: 100% !important;
    /*&:first-child {
      justify-content: flex-start;
    }*/
    text-align: left;
    margin: 15px 10px;
  }
  .subscribe-form .form-inner button {
    position: static;
    width: 60%;
    margin: 10px 64px 10px 62px;
  }
  .bottom-footer {
    > .bottom-logo {
      width: 100%;
    }
    p {
      width: 100%;
      text-align: center;
      margin: 30px 0;
    }
    > p > a {
      color: #ee365c;
      font-weight: bold;
      border: 1px solid #ee365c;
      padding: 10px;
      box-sizing: border-box;
    }
  }
  #show {
    display: none;
  }
  .copy-3-bar-icon {
    float: right;
    display: block;
  }
  .copy-3-top-menu ul, .logo {
    float: none;
    margin-top: 20px;
  }
  .copy-3-top-menu ul li {
    display: block;
    margin: 2px;
    border-bottom: 1px solid #ee365c;
    padding: 10px 0;
    box-sizing: border-box;
    background: #fff;
    a {
      color: #333;
    }
  }
  .goto-btn{
    width: 80px;
  }
  .subscribe-form .form-inner input {
    width: 100%;
  }
  .subscribe-form {
    padding: 2px;
  }
}

@media only screen and (max-width: 320px) {
  .social .newsletter > form > {
    input {
      width: 40%;
    }
    button {
      width: 25%;
    }
  }
  .goto-btn{
    width: 100px;
  }
  .white-background font{
    padding: 8px !important;
  }
  .red-background font{
    padding: 8px !important;
  }
}
