/* for ie */
@import '_variables.scss';
@import '_tipography.scss';



#about-panel-3 .flex-horizontal {
	@extend .clearfix;
	display: block;
	.flex-item{
		width:25%;
		float:left;
		display:block;
		
		.flex-upper{
			position: absolute;
			top: 0;
			left:0;
			right:0;
			text-align: center;
		}
		.flex-lower{
			position: absolute;
			text-align: center;
			bottom:10%;
			left:0;
			right:0;
		}
	}
}

#about-panel-6 .flex-horizontal {
	@extend .clearfix;
	display: block;
	.flex-item{
		width:50%;
		float:left;
	}
	.pink-background{
		padding-bottom: 7%;
	}
}



@media #{$breakpoint-big}{

    #about-panel-6 {
        .flex-horizontal
        {
            flex-direction: row;
        }
        .flex-item
        {
            padding: 15px 100px;
        }       
    }

}
 

@media #{$breakpoint-medium}{
	#about-panel-3
        {
        .flex-horizontal .flex-item{
            width: 50%;
            float: left;
        }


    }
    #about-panel-6 .flex-horizontal {
	.flex-item{
		width:100%;
	}
}
}
@media #{$breakpoint-small}{
#about-panel-6 .flex-horizontal {
	.flex-item{
		width:100%;
	}
}

	#about-panel-3
        {
        .flex-horizontal .flex-item{
            width: 100%;
            float: left;
        }


    }
	}







