// colors
$pink: #ee365b;
$pink-dark: #b82a4e;
$blue: #20bdbe;
$green: #44b96d;
$yellow: #ffe800;
$grey-bg: #f4f4f4;
$grey-bd: #dbdada;
$grey-text-heavier: #747474;
$grey-text-lighter: #939393;

// general variables
$screen-lg: 1280px;
$screen-md: 1024px;
$screen-sm: 768px;
$screen-xs: 480px;
$margin-lg: 40px;
$margin-md: 40px;
$margin-sm: 10px;
$margin-xs: 10px;
$navbar-height: 40px;
$navbar-height-sm: 30px;
$anchor-color: $blue;

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
  box-shadow: none;
}

input:invalid {
  outline: none;
  box-shadow: none;
}

body {
  font-family: "Effra-normal", "Helvetica", "Arial", "sans-serif";
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  margin: 0px;
  width: 100%;
  height: 100%;
}

a, a:hover, a:focus, a:visited {
  font-weight: bold;
  text-decoration: none;
  color: $grey-text-heavier;
}

img {
  border: 0px;
}

.container-fluid {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

@media screen and (min-width: $screen-sm) {
  .container-fluid {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: $screen-sm) {
  .container-fluid {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@font-face {
  font-family: 'Effra-normal';
  src: font-url('Effra-Regular.eot');
  src: font-url('Effra-Regular.eot?#iefix') format('embedded-opentype'),
       font-url('Effra-Regular.woff2') format('woff2'),
       font-url('Effra-Regular.woff') format('woff'),
       font-url('Effra-Regular.ttf') format('truetype'),
       font-url('Effra-Regular.svg#Effra-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Effra-bold';
  src: font-url('Effra-Bold.eot');
  src: font-url('Effra-Bold.eot?#iefix') format('embedded-opentype'),
       font-url('Effra-Bold.woff2') format('woff2'),
       font-url('Effra-Bold.woff') format('woff'),
       font-url('Effra-Bold.ttf') format('truetype'),
       font-url('Effra-Bold.svg#Effra-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Effra-lighter';
  src: font-url('EffraLight-Regular.eot');
  src: font-url('EffraLight-Regular.eot?#iefix') format('embedded-opentype'),
       font-url('EffraLight-Regular.woff2') format('woff2'),
       font-url('EffraLight-Regular.woff') format('woff'),
       font-url('EffraLight-Regular.ttf') format('truetype'),
       font-url('EffraLight-Regular.svg#EffraLight-Regular') format('svg');
  font-weight: lighter;
  font-style: normal;
}

#media-wrapper {
  position: fixed;
  overflow: hidden;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  overflow: hidden;
}

#media-overlay {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.17);
}

#slideshow {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: -1;

  img {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }
  img.active {
    z-index: 1;
    display: block;
  }
  img.next {
    display: block;
  }
}

#video {
  width: 100%;
  height: 100%;
}

#landing-page-container {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  color: white;

  .memories {
    font-family: 'Effra-bold';
    font-weight: bold;
    padding: 0px;
    font-size: 46px;
    margin: 0px;
    margin-top: 22px;
  }

  .plan {
    margin: 3px 0px 0px 2px;
    font-size: 17px;
  }

  span.em {
    font-family: 'Effra-normal';
  }
}

#content-bottom {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;

  .visiting {
    font-family: 'Effra-lighter';
    font-size: 32px;
  }
}

#signup-wrapper {
  display: table;
  width: 100%;
  padding: 10px 0px;
  background: rgba(0, 0, 0, 0.43);

  #cell-wrapper {
    display: table-cell;
    vertical-align: middle;
    padding: 0px 12.5%;
  }

  .signed-up {
    font-size: 20px;
    width: 210px;
    margin: 20px auto;
  }

  form {
    color: white;

    > * {
      float: left;
      padding-top: 29px; // offset for checkbox
    }

    #email-input-wrapper {
      min-width: 150px;
      max-width: 500px;
      width: 40%;
      margin-left: 5px;
    }

    label {
      font-family: 'Effra-lighter';
    }

    input {
      font-family: 'Effra-normal';
    }

    label[for=user_subscription_email] {
      font-size: 30px;
      margin-right: 10px;
    }

    input#user_subscription_email {
      color: #404040;
      font-size: 18px;
      margin: 0px -2px 5px 0px;
      padding: 0px 10px;
      border: none;
      box-shadow: none;
      height: 36px;
      width: 100%;

      :after {
	content: '<br>';
      }
    }

    input[type=checkbox] {
      position:absolute;
      z-index:-1000;
      left:-1000px;
      overflow: hidden;
      clip: rect(0 0 0 0);
      height:1px;
      width:1px;
      margin:-1px;
      padding:0;
      border:0;
    }

    input[type=checkbox] + label[for=user_subscription_is_business] {
      padding-left: 22px;
      height: 20px;
      display: inline-block;
      line-height: 20px;
      background-repeat: no-repeat;
      background-position: -3px 0px;
      font-size: 16px;
      vertical-align: middle;
      cursor: pointer;
    }

    input[type=checkbox]:checked + label[for=user_subscription_is_business] {
      background-position: -3px -20px;
    }

    label[for=user_subscription_is_business] {
      font-family: 'Effra-normal';
      background-image: image-url('checkbox-background.png');
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    input[type=submit] {
      font-family: 'Effra-bold';
      font-size: 16px;
      color: white;
      background: $pink;
      padding: 7px 30px;
      border: 0px;
      height: 36px;
      margin-top: 29px; // offset for checkbox;
      cursor: pointer;
    }

    input[type=submit]:hover {
      background: $pink-dark;
    }

    .field_with_errors {
      input#user_subscription_email {
	:after { content: ''; }
      }
    }
  }
}

// tablet
@media screen and (min-width: $screen-xs) and (max-width: $screen-md) {
  #signup-wrapper {
    #cell-wrapper {
      padding: 0px 8%;
    }

    form {
      label[for=user_subscription_email] {
	font-size: 24px;
      }
    }
  }
}

// small tablet
@media screen and (max-width: $screen-sm) {
  #landing-page-container {
    .memories {
      font-size: 36px;
    }
    .plan {
      font-size: 16px;
    }
    .visiting {
      margin: 10px 0px;
      font-size: 25px;
      bottom: 10px;
    }
  }

  #signup-wrapper {
    #cell-wrapper {
      padding: 0px 20px;

      form {
	label[for=user_subscription_email] {
	  font-size: 20px;
	  padding-top: 29px;
	}

	input#user_subscription_email {
	  min-width: 170px;
	}
      }
    }
  }
}

// mobile
@media screen and (max-width: $screen-xs) {
  #landing-page-container {
    .memories {
      font-size: 28px;
    }
    .plan {
      font-size: 16px;
    }
    .visiting {
      margin: 5px 0px;
      font-size: 18px;
      bottom: 5px;
    }
  }

  #signup-wrapper {
    #cell-wrapper {
      padding: 0px 20px;

      form {
	> * {
	  clear: both;
	}

	#email-input-wrapper {
	  margin: 5px 0px 0px 0px;
	  padding: 0px;
	  width: 100%;
	}

	label[for=user_subscription_email] {
	  font-size: 18px;
	  padding: 0px;
	}

	input[type=submit] {
	  margin: 5px 0px;
	}
      }
    }
  }
}

nav.navbar {
  background: transparent;
  height: $navbar-height;
}

ul.navbar {
  float: right;
  display: inline-block;
  margin: 0;
  padding-top: 7px;

  li {
    list-style: none;
    float: left;
    padding: 9px 12px;
    color: white;
    font-weight: bold;

    a {
      color: $grey-text-heavier;
    }
  }

  li#navbar-button-green {
    background: $green;
    padding: 0px;

    a {
      display: block;
      color: white;
      padding: 9px 26px;
    }
  }
}

.navbar-brand {
  display: inline-block;
  margin: 0px;
}

@media screen and (max-width: $screen-sm) {
  nav.navbar {
    height: $navbar-height-sm;
  }

  .navbar-brand > img {
    height: $navbar-height-sm;
  }
}