#create-listing {
  margin-top: $navbar-height;

  .title {
    text-align: center;
    font-family: 'Effra-bold';
    font-size: 28px;
    color: $grey-text-heavier;
    margin: 0px 0px 95px 0px;
    padding-top: 45px;
  }

  .top-colors {
    position: relative;
    top: auto;
    z-index: -1;
  }

  .caption-container {
    display: inline-block;
    width: 120px;
    text-align: center;
  }

  .caption {
    text-transform: uppercase;
    color: $grey-text-heavier;
    margin: 0px;
    clear: both;
  }

  .table {
    display: table;
    width: 100%;
  }

  .table-row {
    display: table-row;
  }

  .table-cell {
    display: table-cell;
    font-family: 'Effra-bold';
    padding: 30px 0px;
  }

  .cell-left {
    width: 36.25%;
    color: $blue;
    font-size: 20px;
    padding-left: 10%;
    vertical-align: middle;
  }
}

#hotel-form {
  .amenities-column {
    float: left;
    width: 33%;
  }

  #thumbnail-container img {
    height: 120px;
  }
}