.modal-wrapper {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1001;
  display: table;
  width: 100%;
  height: 100%;
  
  .modal-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.43);
  }

  .modal-content {
    display: table-cell;
    vertical-align: middle;
    
    .modal-inner-content {
      position: relative;
      width: 320px;
      margin: 0px auto;
      padding: 15px;
      color: $grey-text-heavier;
      background-color: #fff;
      .modal-header{
        color: #a9a9a9;
        border-bottom: 1px solid #a9a9a9;
        h4.modal-title{        
          font-size: 18px;
          margin-top: 0px;
          margin-bottom: 12px;
        }
      }
    }
    .modal-close{
      float: right;
    }
    form{
      background-color: #fff;
      margin-top: 10px;
      label{
        font-size: 15px;
      }
      textarea{
        margin-bottom: 20px;
      }
    }
  }
}

.tabs {
  width: 100%;
  height: 22px;
  margin-bottom: 10px;

  .tab {
    text-align: center;
    line-height: 20px;
    width: 50%;
    float: left;
    cursor: pointer;
  }

  .tab-active {
    color: $pink;
    background-color: white;
    border-bottom: 2px solid $pink;
  }
}
