nav#navbar {
  width: 100%;
  height: $navbar-height;
  line-height: $navbar-height;
  background: white;
  font-size: 0.9em;
  color: $grey-fg;
  border-bottom: 1px solid #eaeaea;

  .blue-button {
    background-color: $blue;
    padding: 0px 33px;
    line-height: 30px;
    display: inline-block;
    color: white;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 11px;
  }
  
  .blue-button:hover {
  background-color: #ee365c;
}




  ul.navbar-right {
    float: right;
    display: inline-block;
    padding: 0px !important;
    margin: 0 28px 0 0 !important;

    li {
      list-style: none;
      float: left;
      padding: 0px 12px !important;
      color: white;
      font-weight: bold;

      &.avatar {
        padding: 0px;
      }

     a {
        color: #919191;
        font-size: 14px;
        line-height: 15px;
        text-transform: capitalize;
        font-weight: 600;

        &.active {
          border-bottom: 3px solid $pink;
        }
      }
    }
  }


  #logo {
    display: inline-block;
    height: 28px;
    vertical-align: middle;
    margin-left: 16px;
  }

  #avatar {
    height: 34px;
    width: 34px;
    vertical-align: middle;
    border-radius: 50%;
  }
}
