.clearfix {
  display: block;
  clear: both;
  font-family: sans-serif;
  font-size: 14px;
}
ul,li {
  list-style: none;
}
.left {
  width: 60%;
}
.filters {
  padding: 3px 0px 0px 12px;
  box-sizing: border-box;
}
.filters p {
  font-weight: bold;
  letter-spacing: 0.2px;
}
.filters p .fa {
  font-weight: bold;
  margin-right: 10px;
}
.filters label {
  font-weight: normal;
  color: #A9A9A9;
  margin-left: 23%;
  margin-right: 10px;
}
.filters input {
  padding: 2px 10px;
  border: 1px solid #898989;
  font-size: 14px;
  color: #2D2D2D; 
  box-sizing: border-box;
}
.right {
  width: 40%;
}
.left select {
  border: none;
  background: #fff;
  float: right;
}
.content-part {
  padding: 0 10px;
  box-sizing: border-box;
}
.content-part  {
  display: flex;
  flex-wrap: wrap;
}
.content-part  {
  overflow: hidden;
  margin: 20px 0;
  box-sizing: border-box;
  position: relative;
  padding: 0px 8px 0px 8px;
  box-sizing: border-box;
}
.villa h4 {
  font-size: 16px;
  line-height: 35px;
  a{  
    color: #2D2D2D !important;
  }
  small{
    float: right;
    font-weight: normal;
    font-size: 14px;
    color: #333333;
    padding-right: 10px;
  }
}


.villa p {
  font-size: 14px;
  color: #333;
  margin-bottom: 8px !important;
}
.stars img {
  width: 11px;
  height: auto;
}
.stars a {
  display: inline-block;
  float: right;
  text-decoration: none;
  color: #ED365B;
  font-size: 14px;
  font-weight: bold;
  padding-right: 10px;
}
.overlay {
  background: #fff;
  color: #2D2D2D;
  font-size: 14px;
  position: absolute;
  top: 10px;
  right: 0;
  padding: 5px 8px;
  box-sizing: border-box;
}
.villa_img {
  width: 379.3px !important;
  height: 245.48px !important;
}

/*responsive*/
@media only screen and (max-width: 768px){
  .filters p label {
    margin-left: 25px;
  }
  .left {
    width: 100%;
  }
  .right {
    width: 100%;
  }
  .right{
    padding: 10px 20px;
    box-sizing: border-box;
  }
}
@media only screen and (max-width: 480px){
  .left select {
    margin-top: 10px;
  }
  .filters p input {
    width: 150px;
  }
  .filters p label {
    font-size: 12px;
    margin-left: 15px;
    margin-right: 2px;
  }
  .content-part div li {
    width: 100%;
  }
}
