#planner {
  #map {
    width: 100%;
    height: 90vh;
  }

  #panel-left {
    padding-left: 10px;
    width: 65%;
    float: left;
    .villa{
      width: 100%;
    }
  }

  #panel-right {
    width: 35%;
    float: left;
    position: relative;
  }

  #date-menu {
    display: flex;
    border-bottom: 3px solid white;
  }

  #date-menu-right, #date-menu-left {
    width: 100px;
  }

  #date-menu-content {
    line-height: 50px;
    white-space: nowrap;
    overflow: hidden;

    a {
      display: inline-block;
      text-align: center;
      color: $grey-fg;

      &.active {
        color: $pink;
      }
    }
  }

  #payment-widget {
    line-height: 30px;
    position: absolute;
    bottom: 60px;
    left: 50px;
    right: 40%;
  }
}

#date-widget {
  position: absolute;
  top: 20px;
  left: 200px;
  color: $grey-fg-heavier;

  input {
    border: none;
    cursor: pointer;
  }

  input[type=text] {
    margin-right: -1em;
    padding-left: 1em;
  }

  input[type=submit] {
    font-family: 'Effra-bold';
    background-color: white;
    color: $pink;
  }
}

.planner-panel-left {
  float: left;
  padding-right: 12.5px;
  width: 50%;
}

.planner-panel-right {
  float: left;
  padding-left: 12.5px;
  padding-right: 25px;
  width: 50%;
}

.planner-title {
  display: block;
  color: $grey-fg;
  line-height: 45px;
  font-family: 'Effra-bold';
}

.planner-add {
  display: inline-block;
  line-height: 30px;
  font-family: 'Effra-bold';
  color: $pink;
  border: 1px solid $pink;
  padding: 0px 25px;
}

.listing {
  width: 50%;
  float: left;
  padding: 0px 16px 0px 0px;
  position: relative;

  img {
    width: 100%;
    height: 302px;
  }
}

.listing-fit-border {
  padding: 0px 23px 30px 0px;
}

.image {
  position: relative;
  overflow: hidden;
}

.price {
  line-height: 26px;
  font-family: 'Effra-bold';
  padding: 0px 12px;
  display: inline-block;
  background-color: $green;
  color: white;
  position: absolute;
  top: 22px;
  right: 0px;
}

.control-details {
  font-family: 'Effra-bold';
  color: $grey-fg;
}

.control-add {
  font-family: 'Effra-bold';
  color: $pink;
  float: right;
}

.planner-panel-left, .planner-panel-right {
  .listing {
    width: 100%;
  }
}

.planner-navigation {
  line-height: 50px;
  font-family: 'Effra-bold';
  color: $grey-fg-heavier;
  overflow: hidden;

  a {
    color: $grey-fg-heavier;
  }
}

.planner-choose-type-title {
  color: $grey-fg;
  line-height: 40px;
}

.remove-accommodation, .remove-activity {
  font-size: 2em;
  color: $grey-fg;
  position: absolute;
  bottom: 30px;
}

.remove-accommodation {
  right: 30px;
}

.remove-activity {
  right: 43px;
}
.search_form_new {
	display: inline-block;
	margin-left: 30px;
	float: right;
	margin-right: 3%;
}
.my_input_txt {

    border-radius: 0px !important;
    box-shadow: none;
    border: 1px solid #ddd;
    height: 28px;

}
.list_left_items h4 {

    font-size: 15px;
    font-weight: 300;
    color: #9f9f9f;
    margin: 0;

}
.list_left_items h4 b {

    font-weight: bold;
    color: #000;

}
.list_left_items p {

    margin: 0;
    font-size: 15px;
    color: #9f9f9f;

}
.rating_star {

    list-style: none;
    margin: 0;

}
.rating_star li {

    display: inline-block;

}
.rating_star li i {
  font-size: 12px;

}
.list_left_items {
  display: inline-block;
  width: 60%;
}
.list_right_items {
  display: inline-block;
  float: right;
  width: 40%;
  text-align: right;
}
.list_title {
  overflow: hidden;
}
.green_txt {
  color: green;
  font-size: 14px;
  line-height: 21px;
  float: right;
}
.add_btn{
  font-family: 'Effra-bold';
  color: #ee365c;
}
.fa.fa-star.yellow {

    color: orange;

}
  .img_sect_round img {

    width: 100px;
    height: 100px;
    border-radius: 100px;

}
.one_thrd_page {

    padding: 2px 33px;
    background: #fff;

}
.one_furth {

    width: 30%;
    float: left;

}
.one_eth {

    width: 70%;
    float: left;

}
.on-3 {

    float: left;
    overflow: hidden;
    padding: 20px 30px;

}
.on-9 {

    float: left;
    overflow: hidden;
    padding: 20px;

}
.img_btm {

    font-size: 14px;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #7e7e7e;

}
.group_btn_list {

    list-style: none;
    padding: 0;
   
}
.group_btn_list li {

    display: inline-block;

}
.pink_brder_btn {

    border: 1px solid #ee365c;
    font-weight: bold;
    font-size: 12px;
    width: 100%;
    height: 43px;
    line-height: 43px;
    text-align: center;
    padding: 8px 12px;
    margin-top: 20px;
    color: #ee365c !important;

}
.grey_brder_btn {

    border: 1px solid #dfdfdf !important;
    font-weight: bold;
    font-size: 12px;
    width: 100%;
    height: 43px;
    line-height: 43px;
    text-align: center;
    padding: 8px 12px;
    margin-top: 20px;
    color: #dfdfdf !important;
    text-transform: uppercase;

}
.grey_brder_btn i {

    margin-right: 4px;
    font-size: 16px;

}
.title_head {

    margin: 0;
    font-size: 22px;
    font-weight: 200;
    color: #606060;
    line-height: 33px;

}
.title_head_sub {

    margin: 0;
    font-weight: 100;
    font-size: 14px;
    text-transform: capitalize;
    color: #606060;

}
.title_sml {

    margin: 0;
    font-size: 12px;
    color: #cfcaca;
    line-height: 18px;

}
.group_btn_list li:first-child {
    padding: 0px 20px 0px 0px;

}
.aside_pannl {

    border: 2px solid #ddd;

}
.list_whit {

    padding: 0;
    list-style: none;

}
.list_whit li {

    overflow: hidden;
    border-bottom: 2px solid #ddd;
    padding: 10px;

}
.list_whit li:last-child{
  border:none;
}
.list_whit li:last-child .rate_txt{
 color: #ee365c;

font-size: 18px;

}
.list_whit li:last-child .value_txt{
color: #ee365c;

font-size: 18px;
}
.list_whit {

    padding: 0;
    list-style: none;

}
.rate_txt {

    float: left;

}
.value_txt {

    float: right;
    overflow: hidden;

}
.full_col {
padding: 0px 69px 0px 0px;

box-sizing: border-box;

overflow: hidden;

}
.abut_body_box {
background: #ffff;


}
.about_box-3 {

    width: 30%;
    float: left;

}
.about_box-9 {

    width: 70%;
    float: left;

}
.contain_about h4 {

    color: #646464;
    font-weight: bold;
    font-size: 18px;

}
.contain_about{
  padding: 2px 33px;
box-sizing: border-box;
border-top: 1px solid #ddd;
border-bottom: 1px solid #ddd;
}
.contain_about p {

    color: #717171;
    font-size: 14px;
    line-height: 21px;

}
.contain_about_next {

    padding: 2px 15px;
    box-sizing: border-box;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
   
    overflow: hidden;

}
.whit_bg{
   background: #fff!important;
}
.gr_bg{
  background: #f8f7f7!important;
}
.col-left_p{
  float: left;
  padding: 10px 20px;
}
.col-right_p{
  float: left;
  padding: 10px 20px;
}
.col-midd_p{
  float: left;
  padding: 10px 20px;
}
.col-midd_p p {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  color: #717171;
  margin-bottom: 0 !important;
}
.col-right_p p {

    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    color: #717171;

}
.col-midd_p p b {

    font-size: 14px;
    color: #646464;

}
.col-right_p p b {

    font-size: 14px;
    color: #646464;

}
.col-left_p h4 {

    color: #646464;

}
.contain_about_next_new {

    padding: 2px 33px;
    box-sizing: border-box;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    overflow: hidden;

}
.col-22 {

    float: left;
    padding: 10px 20px;
    width: 30%;

}
.col-22 h2 {

    font-size: 16px;
    color: #646464;
    line-height: 24px;
    margin: 0;
    padding: 0;

}
.col-23 {

    float: left;
    padding: 10px 20px;
    overflow: hidden;
    width: 70%;

}
.col-23 h2 {

    font-size: 16px;
    color: #646464;
    line-height: 24px;
    margin: 0;
    padding: 0;

}
.col-23 p {

    margin: 0;
    color: #717171;
    padding-top: 20px;

}

.list_heading{
  padding-left: 18px;
  color: #646464;
  font-weight: bold;
  font-size: 18px;
}
.list_detail{
  width:25% !important;
}
