#planner_calendar {
  height:500px;
  overflow:hidden;
  position: relative;
}

.top_arrow{
  position: relative;
  z-index: 99;
  margin: 0px 20px 0px 20px;
  a{
    position: absolute;
    left: 4.4%;
    i{
      color: #898989;
      font-weight: bolder;
      font-size: 22px;
      line-height: 28px;
    }
  } 
}

.planner_active_pay{
  color: #ee325c !important;
  display: inline-block;
  position: relative;
}
.planner_active_pay:after {
  content: '';
  display: block;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width .3s !important;
}
.planner_active_pay:hover:after {
  width: 100%;
  background:  #ee325c;
}

.bottom_arrow{
  position: relative;
  z-index: 99;
  top: 94%;
  margin: -14px 20px 0px 20px;
  a{
    position: absolute;
    bottom: 0px;
    left: 4.4%;
    i{
      color: #898989;
      font-weight: bolder;
      font-size: 22px;
      line-height: 28px;
    }
  }
}

.edit{
  color: #b8b9b8;
}
.lodging{
  font-weight: bold;
}
.activity_120{
  font-weight: bold;
}
.icon_img{
  width: 41px;
  cursor: pointer;
}
.close_bnt_box {
  position: relative;
}
.down_arrow_bottom {
  position: absolute;
  bottom: 5%;
  left: 52px;
  cursor: pointer;
}
.up_arrow_up {
  position: absolute;
  top: 17%;
  left: 52px;
  cursor: pointer;
}
.image {
  position: relative;
  overflow: hidden;
}

.price {
  line-height: 26px;
  font-family: 'Effra-bold';
  padding: 0px 12px;
  display: inline-block;
  background-color: $green;
  color: white;
  position: absolute;
  top: 22px;
  right: 0px;
}
.planner_container {
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background: #fff;
}
span.add_panner a b {
  color: #000;
  }.colo_grey_dark{
   color:#898989!important;
 }
 .planner_right {
  width: 35%;
  float: left;
  background: #fff;
}
.planner_left {
  width: 65%;
  float: left;

  }.planner_grey {
    background: #f4f4f4;
  }
  .planner_grey ul {

    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;

  }

  .planner_grey ul li {
    display: grid;
    padding: 13px 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    float: left;
    text-align: center;
    min-height: 50px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
  }
  .planner_grey ul li :first-child{
    color: #c5c5c5;
  }
  .planner_grey2{
    background:#fff;
  }
  .planner_grey2 ul {

    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;

    }.planner_grey2 ul li {

      display: grid;
      box-sizing: border-box;
      border: 1px solid #ddd;
      float: left;
      text-align: center;
      min-height: 100px;

    }
    .planner_grey5 ul li:last-child{
      float: right;
    }
    .planner_grey3{
      background:#f4f4f4;
    }
    .planner_grey3 ul li:last-child {
     border-left: none!important;
    }
    .planner_grey2 ul li:last-child {
      border-left: none!important;
    }
    .planner_grey4 ul li:last-child {
      border-left: 1px solid #ddd!important;
    }
    .planner_grey ul li:last-child {
    border-left: none!important;
    }
    .planner_grey3 ul {

      margin: 0;
      padding: 0;
      list-style: none;
      overflow: hidden;

      }.planner_grey3 ul li {

        display: grid;
        box-sizing: border-box;
        border: 1px solid #ddd;
        float: left;
        text-align: center;
        min-height: 100px;

      }
      .planner_grey4{
        background: #fff;
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
      }
      .planner_grey4 ul {

        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        display: flex;
        justify-content: space-between;

      }
      .pl-38{
        padding-left: 38px;
      }
      .planner_grey4 ul li {
        padding: 36px 10px 18px 0px;
        box-sizing: border-box;
        border: none;
        float: left;
        text-align: center;
      }
      .date_value {
        font-size: 29px;
        line-height: 12px;
        margin-bottom: 0px;
        padding-bottom: 0;
        font-weight: bolder;
      }
      .add_panner {
        margin: 18px auto;
      }
      .add_panner2{
        margin: 10px;
      }
      .add_panner a {
        font-size: 16px;
        line-height: 20px;
        color: #ddd;
        text-align: center; 
      }
      .add_panner > a > i {
        font-size: 23px;
        font-weight: bolder;

      }
      .down_arrow_bottom > i {
        font-size: 23px;
        font-weight: bolder;
        color: #898989 !important;
      }
      .up_arrow_up > i {
        font-size: 23px;
        font-weight: bolder;
        color: #898989 !important;  
      }
      a.planner_active{
        color: #ee325c !important;
      }
      .croffer_color{
        color: #898989 !important;
      }
      img.planner_img {
        width: 100%;
        height: 251px;
      }
      .planner_right_img {
        width: 100%;
        height: 200px;
      }
      .planner_plus_txt {
        overflow: hidden;
        width: 100%;
        padding: 0px 40px 20px 40px;
        box-sizing: border-box;
        margin-top: 42px;
      }
      .planner_l_img {
        float: left;
        width: 30%;
      }
      .planner_r_txt {
        float: left;
        width: 70%;
      }
      img.p_img {
        width: 80px;
        height: 80px;
        border-radius: 100%;
        display: block;
        margin: 0 auto;
      }
      span.planner_name {
        text-align: center; 
        display: block;
        color: #898989;
      }
      .rating_bdy{
        overflow: hidden;
      }
      ul.star_list {
        padding: 0;
        margin: 0;
        list-style: none;
        float: left;
      }
      ul.star_list li {
        display: inline-block;
      }
      ul.star_list li i{
        font-size:10px;
        color: #59cbcc;
      }
      .planner_memories{
        margin-left:10px;
        color: #898989;
        font-size: 14px;
      }
      .p_bold_txt {
        color: #2d2d2d;
        font-size: 15px;
        line-height: 17px;
        padding: 0px;
        margin: 0px;
      }
      p.planner_sb_hed {
        margin: 2px 0px 2px 0px;
        color: #8d8d8d;
        font-size: 15px;
        line-height: 22px;
      }
      .mail_btn {
        padding: 5px 40px;
      }
      .mail_btn a {
        border: 1px solid #a8a8a8;
        display: block;
        padding: 12px 20px;
      }
      .mail_btn a i{
        font-size: 20px;
        color:#a8a8a8;
      }
      .btn_spn{
        margin-left: 75px;
        font-size: 13px;
        color: #3e3e3e;
        line-height: 18px;
        text-transform: uppercase;
        letter-spacing: 0.6px;
      }
      .availablity_list {
        padding: 20px 40px;
        box-sizing: border-box;
        overflow: hidden;
      }
      .availablity_list_left {
        float: left;
        width: 50%;
      }
      .availablity_list_left p {
        margin: 4px 0px;
        color: #898989;
        font-size: 14px;
        line-height: 18px;
        font-weight: bold;
      }
      .availablity_list_left p span{
        color:#2d2d2d;
        font-weight: bold;
      }
      .availablity_list_right {
        float: right;
        width: 50%
      }
      .availablity_list_right p {
        margin: 4px 0px;
        color: #898989;
        font-size: 14px;
        line-height: 18px;
        font-weight: bold;
      }
      .availablity_list_right p span{
        color:#2d2d2d;
        font-weight: bold;
      }
      .planner_grey5 {
        background: #fff;
        padding: 5px 40px;
        box-sizing: border-box;
        margin-top: 11px;
      }
      .planner_grey5 ul {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
      }
      .planner_grey5 ul li {
        display: grid;
        box-sizing: border-box;
        border: none;
        float: left;
        min-height: 100px;
      }
      .add_panner5 a {
        font-size: 14px;
        line-height: 20px;
        color: #b8b9b8;
        text-transform: uppercase;
      }
      .mr_30px{
        margin-right: 90px;
      }
      .mr_108{
        margin-right: 103px;
      }
      .width_80{
       width: 121px;
     }
     .width_40{
      width: 60px;
    }
    .width_120{
      width: 544px;
    }
    .width_170{
      width: 188px;
    }
    .mr_58{
      margin-right: 58px;
    }
    @media screen and (max-width: 1800px) {
      .planner_left {
        width: 65%;
        float: left;
      }
      .planner_right {
        width: 35%;
        float: left;
      }
      .width_120 {
        width: 751px;
      }
      .width_80 {
        width: 168px;
      }
      .width_40 {
        width: 80px;
      }
      .list_activities{
        width: 702px !important;
      }
    }
    @media screen and (max-width: 1650px){
      .width_120 {
        width: 692px;
      }
      .width_40 {
        width: 65px;
      }
      .width_80 {
        width: 157px;
      }
      .width_170 {
        width: 253px;
      }
      .down_arrow_bottom{
        bottom: 15%;
      }
      .up_arrow_up{
        top: 15%;
      }
      .list_activities{
        width: 644px !important;
      }
    }
    @media screen and (max-width: 1600px){
      .width_120 {
        width: 674px;
      }
      .width_40 {
        width: 55px;
      }
      .width_80 {
        width: 155px;
      }
      .up_arrow_up{
        top: 16%;
        left: 54px;
      }
      .down_arrow_bottom {
        bottom: 12%;
        left: 52px;
      }
      .list_activities {
        width: 624px !important;
      }
    }
    @media screen and (max-width: 1550px){
      .width_40 {
        width: 56px;
      }
      .width_80 {
        width: 149px;
      }
      .width_120 {
        width: 651px;
      }
      .width_170 {
        width: 251px;
      }
      .down_arrow_bottom{
        bottom: 10%;
      }
      .up_arrow_up{
        top:17%;
      }
      .list_activities {
        width: 605px !important;
      }
    }
    @media screen and (max-width: 1500px){
      .width_120 {
        width: 630px;
      }
      .width_80 {
        width: 144px;
      }
      .down_arrow_bottom{
        bottom: 6% !important;
      }
      .up_arrow_up{
        top:17%;
      }
      .list_activities {
        width: 585px !important;
      }
    }
    @media screen and (max-width: 1450px){
      .width_40 {
        width: 57px;
      }
      .width_80 {
        width: 138px!important;
      }
      .width_120 {
        width: 609px;
      }
      .width_170 {
        width: 233px;
      }
      .down_arrow_bottom {
        bottom: 2% !important;
      }
      .list_activities {
        width: 562px !important;
      }
    }
    @media screen and (max-width: 1425px){
      .list_activities {
        width: 555px !important;
      }
    }
    @media screen and (max-width: 1400px){
      .width_80 {
       width: 122px !important;
     }
     .width_120 {
      width: 543px !important;
    }
    .width_170 {
      width: 204px !important;
    }
    .down_arrow_bottom {
      bottom: 0% !important;
    }
    .up_arrow_up {
      top: 17%;
    }
    .list_activities {
      width: 532px !important;
    }
  }
  @media screen and (max-width: 1350px){
    .width_80 {
      width: 127px;
    }
    .width_120 {
      width: 565px;
    }
    .width_170 {
      width: 219px;
    }
    .down_arrow_bottom {
      bottom: 4% !important;
    }
    .list_activities {
      width: 527px !important;
    }
  }
  @media screen and (max-width: 1320px){
    .list_activities {
      width: 508px !important;
    }
  }
  @media screen and (max-width: 1300px){
    .width_40 {
      width: 59px;
    }
    .width_80 {
      width: 121px;
    }
    .width_120 {
      width: 542px;
    }
    .up_arrow_up {
      top: 19%;
    }
    .down_arrow_bottom {
      bottom: -9% !important;
    }
    .list_activities {
      width: 507px !important;
    }
  }
  @media screen and (max-width: 1280px){
    .width_80 {
      width: 119px;
    }
    .width_120 {
      width: 532px;
    }
    .width_170 {
      width: 207px;
    }
    .down_arrow_bottom {
      bottom: -6% !important;
    }
    .list_activities {
      width: 500px !important;
    }
  }
  @media screen and (max-width: 1200px){
    .width_40 {
      width: 60px;
    }
    .width_80 {
      width: 110px;
    }
    .width_120 {
      width: 500px;
    }
    .width_170 {
      width: 194px;
    }
    .down_arrow_bottom {
      bottom: -11% !important;
    }
    .up_arrow_up {
      top: 20%;
    }
    .list_activities {
      width: 468px !important;
    }
  }
  @media screen and (max-width: 1150px){
    .width_40 {
      width: 58px;
    }
    .width_80 {
      width: 105px;
    }
    .width_120 {
      width: 478px;
    }
    .width_170 {
      width: 186px;
    }
    .list_activities {
      width: 449px !important;
    }
  }
  @media screen and (max-width: 1150px){
    .width_40 {
      width: 56px;
    }
    .width_80 {
      width: 92px;
    }
    .width_120 {
      width: 423px;
    }
    .width_170 {
      width: 166px;
    }
  }
  @media screen and (max-width: 1024px){
    .mr_108 {
      margin-right: 10px;
    }
    .mr_30px {
      margin-right: 20px;
    }
    .list_activities {
      width: 400px !important;
    }
  }
  @media screen and (max-width: 991px){
    .width_80 {
      width: 88px;
    }
    .width_120 {
      width: 409px;
    }
    .width_170 {
      width: 152px;
    }
    .list_activities {
      width: 387px !important;
    }

  }
  @media screen and (max-width: 768px){
    .width_120 {
      width: 318px;
    }
    .width_40 {
      width: 42px;
    }
    .width_80 {
      width: 69px;
    }
    .width_170 {
      width: 121px;
    }
    .mail_btn {
      padding: 5px 10px;
    }
    .btn_spn {
      margin-left: 42px;
    }
    .availablity_list {
      padding: 20px 5px;
    }
    .planner_l_img {
      float: none;
      width: 100%;
    }
    .planner_r_txt {
      float: none;
      width: 80%;
      margin: auto;
    }
    .planner_grey5{
      padding: 5px 0px;
    }
    .mr_58 {
      margin-right: 8px;
    }
    .list_activities {
      width: 300px !important;
    }
  }
  @media screen and (max-width: 767px){
    .planner_left {
      width: 100%;
      float: none;
    }
    .planner_right {
      width: 100%;
      float: none;
    }
    .width_40 {
      width: 53px;
    }
    .width_80 {
      width: 110px;
    }
    .width_120 {
      width: 493px;
    }
    .planner_r_txt {
      float: right;
      width: 70%;
      margin: auto;
    }
    .planner_l_img {
      float: left;
      width: 30%;
    }
    .mail_btn {
      padding: 5px 40px;
    }
    .availablity_list {
      padding: 20px 40px;
    }
    .planner_grey5 {
      padding: 5px 40px;
    }
    .list_activities {
      width: 460px !important;
    }
    
  }
  @media screen and (max-width: 600px){
    .width_80 {
      width: 82px;
    }
    .width_120 {
      width: 381px;
    }
    .list_activities {
      width: 360px !important;
    }
  }
  @media screen and (max-width: 440px){

    .width_80 {
      width: 58px;
    }
    .width_40 {
      width: 45px;
    }
    .planner_grey ul li{
      padding: 13px 0px !important;
      font-size: 13px;
    }
    .width_120 {
      width: 277px;
    }
    .width_170 {
      width: 109px;
    }
    .add_panner2 {
      margin: 10px 0px;
    }
    .list_activities {
      width: 264px !important;
    }
  }
  @media screen and (max-width: 360px){
    .width_80 {
      width: 45px;
    }
    .width_120 {
      width: 224px;
    }
    .width_170 {
      width: 88px;
    }
    li.width_170 .add_panner a {
      font-size: 13px;
    }
    span.add_panner2 a img {
      width: 40px;
    }
    .add_panner2 {
      margin: 20px 0px;
    }
    .list_activities {
      width: 216px !important;
    }
  }

  .l_planner_content{
/*  max-height:600px;
overflow-y:scroll;*/
}

.list_activities{
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  display: flex;
  flex-wrap: nowrap;
  width: 507px;
}

ul.list_activities > li {
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  white-space: nowrap;
}
