#profile-navbar {
  width: 100%;
  background-color: $grey-bg;
  border-bottom: 3px solid white;
  font-size: 1em;
  margin: 0px;

  ul {
    padding: 0px;
    margin: 0px;
  }

  li {
    display: inline-block;
    height: 45px;
    padding-right: 30px;
    list-decoration: none;
    color: white;
    background-color: #f4f4f4;

    @media screen and (max-width: $screen-xs) {
      padding-right: 12px;
    }

    &.active {
      margin-bottom: -3px;

      a {
        border-bottom: 3px solid $pink;
        height: 48px;
      }
    }

    &:last-child {
      padding-right: 0px;
    }
  }

  a {
    font-family: 'Effra-bold';
    display: inline-block;
    width: 100%;
    height: 100%;
    padding-top: 16px;
    color: #969696;
  }
}

#profile-main {
  background-color: $grey-bg;
  padding-top: 26px;
  color: $grey-fg;
  min-height: 100vh;

  a {
    color: black;
  }

  h1 {
    color: $grey-fg;
    margin-top: 0px;
    font-size: 1.6em;
  }

  p {
    margin-bottom: 2em;
  }
}

#avatar_preview img {
  height: 200px;
  width: auto;
  margin-right: 40px;
}

#listings-twopane {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;

  #twopane-left {
    width: 30%;
  }

  .subsection-heading {
    font-size: 1.2em;
    line-height: 44px;
  }

  #twopane-right {
    width: 70%;
  }

  .sidepane-item {
    max-height: 44px;
    line-height: 44px;
    overflow: hidden;
  }

  .image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    vertical-align: middle;
  }
  
  .title {
    vertical-align: middle;
    margin-left: 25px;
  }

  a {
    font-weight: normal;
    color: $grey-text-heavier;
  }

  .thread-message-container-receiver {
    border: 1px solid $grey-bd;
    margin-bottom: 40px;
    width: 70%;
    margin: 0 auto;
  }

  .thread-message-container-sender {
    border: 1px solid $grey-bd;
    margin-bottom: 40px;
    margin-left: 20%;
  }

  .thread-message-sender {
    border-bottom: 1px solid $grey-bd;
    background-color: $grey-bg;
    line-height: 50px;
    padding: 0px 20px;
  }

  .thread-message-content {
    padding: 0 1em 1em;

    p { margin: 1em 0; }
  }

  .thread-message-sender-text-left {
    margin-left: 24px;
  }

  .thread-message-sender-text-right {
    margin-right: 24px;
  }

  .thread-message-time {
    font-size: 0.8em;
  }

  .text-align-right {
    text-align: right;
  }

  .reservation-package-reservation-row {
    display: table;
    width: 100%;
    line-height: 50px;
    border-bottom: 2px solid white;
  }

  .reservation-package-reservation-row-element {
    display: table-cell;
    width: 20%;
  }
}


  .lft_box{
    display: inline-block;
    float: left;
    width:30%;
  }
   .rght_box{
    display: inline-block;
    float: left;
    width:70%;
  }
  .my_style_fr{
    background:#fff!important;
  }
  #profile-main{
     background:#fff!important;
  }
  .heading_txt_a{
    color:#8e8d8d !important;
    letter-spacing: 0.8px!important;
  }
  .sma{
    display: block;
    width: 100%;
  }
  span.pra_des {
    display: block;
    font-size: 14px;
    font-weight: 100;
    margin: 6px 0px;
}
.file-upload-two {
  position: relative;
  display: block;
}

.file-upload__label {
  display: block;
  color: #969696;
  background: #fff;
  border: 1px solid #ddd;
  text-align: center;
  padding: 3px;
  letter-spacing: 0.8px;
 
}
.file-upload__label:hover {
  cursor: pointer;

}

.file-upload__input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  font-size: 1;
  width: 0;
  height: 100%;
  opacity: 0;
}
.box_boder {
    border: 1px solid #ddd;
    
    box-sizing: border-box;
}
.bordr_bx_heading {
    background-color: #f4f4f4;
    width: 100%;
    margin: 0;
}
.bordr_bx_heading h3 {
    margin: 0;
    padding: 10px 14px;
    border-bottom: 1px solid #ddd;
}
.inp_field_bd {
    padding: 10px;
}
.on_sv {
    height: 7;
    width: 70%;
    float: left;
}
.on_sv input{
  margin-bottom: 0px!important;
}
.on_sv select{
  margin-bottom: 0px!important;
}
.on_th {
  width: 30%;
  float: left;
}
.on_th label {
    text-align: right;
    padding-right: 16px;
}
a.btn_plus {
    color: #949292!important;
    font-size: 14px;
    font-weight: 300;
    margin: 5px 0 0px 0;
    display: block;
}
a.btn_plus i{
  color:#ddd!important;
}
.frm_row {
    padding-bottom: 80px!important;
}
.on_full {
    float: none;
    text-align: center;
}
.on_full input[type=submit] {
    font-size: 1em;
    font-family: 'Effra-bold';
    color: white;
    background-color: #ee365c;
    border: none;
    padding: 7px 35px 10px;
    width: auto;
    cursor: pointer;
    margin-bottom: 0px;
    border-radius: 30px;
}


  .img_list>ul{
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .img_list>ul>li{
    display: block
  }

.img_list > ul>li > a >.img_pnl> img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  vertical-align: middle;
  position: relative;
}

.pink_bg{
  position: absolute;
  background: #ee325c;
  color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: -9px;
  text-align: center;
}

.img_pnl{
  display: inline-block;
}

.pcontent_img{
  display: inline-block;
  padding-left: 20px;
  box-sizing: border-box;
}

.pcontent_img > h4 {
 
  font-size: 14px;
  line-height: 21px;
  color: #cecece;
}

.pcontent_img > .active {
  color: #9f9f9f;
}

.pcontent_img > h4:hover{
   color:#9f9f9f;
}

.msg_box_border {
  border: 1px solid #ddd;
  margin: 0 auto;
  padding: 10px 10px;
  box-sizing: border-box;
  border-radius: 15px;
  margin-top: 20px;
  overflow: hidden;
}

.submit_round{
  border-radius: 30px;
  font-size: 1em;
  font-family: 'Effra-bold';
  color: white;
  background-color: #27bdbe;
  border: none;
  padding: 7px 35px 10px;
  width: auto;
  cursor: pointer;
}
.submit_round:hover{
  background-color: #ee365c; 
}

.pform {
    color: #a9a9a9;
    padding: 10px 15px;
    box-sizing: border-box;
}
.pform textarea{
  width: 100%;
  max-width: 100%;
  height: 50px;
  font-size: 1em;
  color: #a9a9a9;
  font-family: 'Effra-normal';
  padding: 9px 10px;
  border-radius: 0;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}
.pform textarea:focus{
 border: 1px solid #ee365c; 
}



.tim_sp{
  font-size: 15px !important;
  color: #cecece !important;
  float: right
}
.p_heading_mg{
  color: #cecece !important;
}
.hosting_heading h3 {

    font-weight: normal;

}
