@media #{$breakpoint-big}{
    .container-fluid
    {
        padding-left:100px;
        padding-right:100px
    }
    .slicknav_menu {
        display: none;
    }

    .marketing-slide .container-fluid{
        padding-left:40px;
        padding-right:48px
    }

    #marketing-more-details 
    {
        .item
        {
            width:25%;
            padding:30px 2%;
        }
        .title{
            font-size:2.7em;
        }
        .left-margin{
            margin-left: 25%;
        }
        .right-margin{
            margin-right:25%;
        }
        #close{
            top:20px;
            right: 20px;
        }
    }
    #about-panel-3 {
        height:315px;
        .flex-horizontal{
            flex-direction: row;
        }
        .flex-vertical{
            height: 315px;
        }

        .next-arrow {
            position: absolute;
            top: 41%;
            right: -27px;
            z-index: 1;
       }

    }

    #about-panel-4
    {
        img
        {
            margin: -5% auto 0;
        }
    }

    #about-panel-6 {
        .flex-horizontal
        {
            flex-direction: row;
                padding-bottom: 2px;
        }     
    }

    #business-slide-2
    {
            div.text-wrapper
        {
            width: 60%;
        }
            p.top-text
        {
            margin:20px auto 95px auto
        }
            div.icon
        {
            width:25%;
            padding: 85px 10px 0;
        }
        .main-title {
            font-size: 1.6em;
        }

    }


    #business-slide-3
    {
    padding-bottom: 9%;
        div.text-wrapper
        {
            width:35%;
            padding: 68px 0 135px;
        }
        p.title
        {
                    margin-bottom: 14px;
    line-height: 1.2;
        }
          


        p.description
        {
            padding-right:20px;
        }
            img
        {
            position: absolute;
            bottom: 0;
            right: 0px;
            width: 60%;
            max-width: 800px;
            margin:0;
        }
    }
    #business-slide-4 {
        img
        {
        width: 85%;
        }
        .text p{
            font-size: 1.6em;
        }
    }
    #business-slide-3 div.text-wrapper .title {
    font-size: 1.6em;
}    
}



@media #{$breakpoint-medium}{
    .container-fluid
    {
        padding-left:20px;
        padding-right:20px
    }
    #menu {
        display: none;
    }
    .big-text
    {
        width: 90%;
        left: 5%;
        p{
            font-size: 2em;
        }
    }
        #marketing-more-details 
    {

        .title{
            font-size:2.3em;
            margin-top: 5%;
        }
        .description{
            top: 60%;
        }

    }
    #about-panel-5 .big-text{
        margin-left: 5%;
    }
    #about-panel-2 p{
        font-size: 1.4em;
    }
    #about-panel-3
        {
        .flex-horizontal{
            flex-direction: row;
            -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
        }
        .flex-vertical{
            height: 315px;
        }
        .flex-item{
            flex: 0 1 50%;
            -webkit-flex: 50%; /* Safari 6.1+ */
            -ms-flex: 50%; /* IE 10 */ 
            margin-bottom: 1px;
        }

        .next-arrow {
            display: none;
       }


    }
        #about-panel-6{
        .title
        {
            font-size: 1.4em;
        }
        .telephone a
        {
            font-size:1.4em
        }
        
    }
    #business-slide-2
    {
            div.text-wrapper
        {
            width: 80%;
        }
        div.icon
        {
            width:50%;
            &:nth-child(3) {
               clear: both;
            }
        }
    }

    #business-slide-3 img
    {
        margin-right: -20px;
    }
    #business-slide-4 .text 
    {
        margin: 0 5%;
        img
        {
            width: 90%;
        }
    }
}




@media #{$breakpoint-small}{
    .container-fluid
    {
        padding:0 10px;
    }
    #menu {
        display: none;
    }
    nav img {
        margin: 21px 0px 0px 10px;
    }
    .big-text
    {
        p{
            font-size: 1.5em;
        }
    }
        #marketing-more-details 
    {

        .title{
            font-size:1.8em;
            margin-top: 5%;
            line-height: 1;
        }
        .description{
            bottom: 5%;
            font-size:0.9em;
        }

    }
    #marketing-slide-4 .select p {
        display: block;
        margin-right: 0;
    }
    #about-panel-1 .big-text, #business-slide-1 .big-text
    {
        width: 90%;
        left: 5%;
    }
            #business-slide-3
    {
            img
        {
            margin-right: 0px;
        }
    }
    #about-panel-2 p{
        font-size: 1.1em;
    }
    #about-panel-6{
        .title
        {
            font-size: 1.2em;
        }
        .telephone a
        {
            font-size:1.2em
        }
        
    }

    #business-slide-4 .text 
    {
        margin: 0;
    }
    #business-slide-4 img
    {
        width: 100%;
    }

  .flex-horizontal {
    flex-direction: column !important;
  }
}





