// colors
$pink: #ee365c;
$pink-dark: #b82a4e;
$blue: #27bdbe;
$green: #49b96d;
$yellow: #ffe600;
$grey-bg: #f4f4f4;
$grey-fg: #9f9f9f;
$grey-fg-heavier: #959595;
$grey-bd: #dbdada;
$grey-text-heavier: #747474;
$grey-text-lighter: #939393;

// general variables
$screen-lg: 1280px;
$screen-md: 1024px;
$screen-sm: 768px;
$screen-xs: 480px;
$margin-lg: 40px;
$margin-md: 40px;
$margin-sm: 10px;
$margin-xs: 10px;
$navbar-height: 60px;
$anchor-color: $blue;

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
  box-shadow: none;
}

input:invalid {
  outline: none;
  box-shadow: none;
}

body {
  font-family: "Effra-normal";
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
  margin: 0px;
  width: 100%;
  height: 100%;
}

a, a:hover, a:focus, a:visited {
  font-weight: bold;
  text-decoration: none;
#  color: white;
}

a:hover {
  cursor: pointer;
}

img {
  border: 0px;
}

.container-fluid {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 0px 50px;
}

.row {
  margin-left: -20px;
  margin-right: -20px;

  &:after {
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
  }
}

.col-lg-33 {
  padding: 0px 20px 40px 20px;
  width: 33.3%;
  float: left;
}

.col-lg-50 {
  padding: 0px 20px 40px 20px;
  width: 50%;
  float: left;
}

.col-lg-66 {
  padding: 0px 20px 40px 20px;
  width: 66.66%;
  float: left;
}

.col-lg-100 {
  padding: 0px 20px 40px 20px;
  width: 100%;
  float: left;
}

.col-sm-100 {
  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

div.message {
  border: 1px solid;
  margin: 20px 0px;
  padding: 10px;
  font-weight: bold;

  p {
    margin: 10px 0px !important;
  }
}

div.notice {
  color: $green;
  border-color: $green;
  margin-left: 15px;
  margin-right: 15px;
}

div.error {
  color: red;
  border-color: red;
}

.top-colors {
  margin:0px;
  width:100%;
  height:3px;

  div {
    float:left;
    width:25%;
    height:100%
  }
}

.yellow-text {
  color: $yellow;
}

.green-text {
  color: $green;
}

.red-text {
  color: red;
}

.pink-text {
  color: $pink !important;
}

.darkgrey-text {
  color: $grey-fg-heavier;
}

.grey-text {
  color: $grey-fg;
}

.pink-background {
  //background-color: $pink;
  background-color:#50bebd;
}
.pink-background:hover{
 background-color: $pink; 
}

.blue-background {
  background-color: $blue;
}

.yellow-background {
  background-color: $yellow;
}

.green-background {
  background-color: $green;
}

.grey-background {
  background-color: #a1a1a1;
}

.info-background {
  background-color: #6c757d;
}


.pink-border {
  border: 1px solid $pink;
}

.button {
  display: inline-block;
  line-height: 30px;
  padding: 0px 30px;
  color: white !important;
  font-size: 0.9em;
  font-family: 'Effra-bold';
}

.padded-row {
  padding: 2em 0;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.hidden {
  display: none;
}

.icon-row {
  @media screen and (min-width: $screen-sm) {
    margin-left: -35px;
  }
}

.icon-wrapper {
  text-align: center;
  width: 120px;
  display: inline-block;
  margin-bottom: 2em;

  img {
    width: 50px;
    height: auto;
    margin: 0px auto;
  }
}

.icon-caption {
  font-family: 'Effra-bold';
  font-size: 0.9em;
  color: $grey-fg;
  margin-top: 8px;
  position: relative;
}

.icon-caption:after {
  content: '';
  display: block;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width .3s !important;
}
.icon-caption:hover:after {
  width: 100%;
  background:#ee365c;
}







@media screen and (min-width: $screen-sm) and (max-width: $screen-md) {
  .container-fluid {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: $screen-sm) {
  .container-fluid {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@font-face {
  font-family: 'Effra-normal';
  src: font-url('Effra-Regular.eot');
  src: font-url('Effra-Regular.eot?#iefix') format('embedded-opentype'),
       font-url('Effra-Regular.woff2') format('woff2'),
       font-url('Effra-Regular.woff') format('woff'),
       font-url('Effra-Regular.ttf') format('truetype'),
       font-url('Effra-Regular.svg#Effra-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Effra-bold';
  src: font-url('Effra-Bold.eot');
  src: font-url('Effra-Bold.eot?#iefix') format('embedded-opentype'),
       font-url('Effra-Bold.woff2') format('woff2'),
       font-url('Effra-Bold.woff') format('woff'),
       font-url('Effra-Bold.ttf') format('truetype'),
       font-url('Effra-Bold.svg#Effra-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Effra-lighter';
  src: font-url('EffraLight-Regular.eot');
  src: font-url('EffraLight-Regular.eot?#iefix') format('embedded-opentype'),
       font-url('EffraLight-Regular.woff2') format('woff2'),
       font-url('EffraLight-Regular.woff') format('woff'),
       font-url('EffraLight-Regular.ttf') format('truetype'),
       font-url('EffraLight-Regular.svg#EffraLight-Regular') format('svg');
  font-weight: lighter;
  font-style: normal;
}
