/*
 *= require slicknav
 */

@import 'shared';
@import '_variables';
@import '_font-face';
@import '_typography';
@import '_components';
@import 'responsive';
@import 'modals';
@import 'about';
@import 'business';
@import 'home';

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 84%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 2;
}
.copy-3-hero-section .copy-3-hero-content{
  z-index:9;
}