// Place all the styles related to the trip_destinations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new_find{
  width: 100%;
  height: 38px;
  font-size: 16px;
  color: red !important;
  background-color: #fff !important;
  border: 1px solid red !important;
  font-family: "Effra-normal" !important;
  margin-top: 25px;
  cursor: pointer;
}

.new_find_anchor{
  color: red !important;
}

.add_more_destination{
  margin-bottom: 5px !important;
  color: #ee365c !important;
  background-color: #fff !important;
  display: inline-block !important;
  font-weight: bold !important;
  text-decoration: none !important;
  text-align: left;
  padding: 0px 0px 0px !important;
}

.new_chosen{
  margin: 30px 0 0;
  border-top: 1px solid #9f9f9f;
  color: #a9a9a9;
}