#listings-list {
  width: 100%;
  font-size: 1.1em;
  margin-top: -26px;
  color: #969696;

  #new-business {
    margin: 32px 0px 28px;
  }

  a {
    color: #969696;
    display: inline-block;
  }

  select {
    border: none;
    font-family: 'Effra-bold';
    font-size: 1em;
    color: #969696;
    background: transparent;
    width: 24%;
    appearance: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    @media screen and (min-width: $screen-sm) {
      width: 12%;
    }
  }

  .listing-root {
    margin-top: 32px;
    margin-bottom: 8px;
    border-bottom: 2px solid white;
  }

  .listing-children {
    padding: 10px 0px 28px 25px;
  }

  .listing-child {
    padding: 5px 0;
  }

  .listing-name {
    @media screen and (min-width: $screen-sm) {
      float: left;
    }
    width: 40%;
  }

  .listing-buttons {
    font-size: 0.9em;
    a {
      display: inline-block;
      width: 24%;
      @media screen and (min-width: $screen-sm) {
        width: 12%;
      }
    }
  }
}
  
.new-business-title {
  margin-bottom: 30px;
}

.add_user_list_btn{
  float: right;
  margin-top: 4px;
  background-color: #50bdbe;
}

.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 6px;
  font-size: 13px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 5px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}