<p class="title">Choose listing type:</p>

<div class="top-colors">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>

<div class="table">
  <div class="table-row">
    <div class="table-cell cell-left">
      Location
    </div>
    <div class="table-cell cell-right">
      <input type="text" id="location">
    </div>
  </div>

  <div class="table-row">
    <div class="table-cell cell-left">
      Accommodation
    </div>
    <div class="table-cell cell-right">
      <a href="/app/hotel/new">
	<div class="caption-container">
	  <%= image_tag 'icon-hotel.png' %>
	  <p class="caption">Hotel</p>
	</div>
      </a>
      <div class="caption-container">
	<%= image_tag 'icon-hostel.png' %>
	<p class="caption">Hostel</p>
      </div>
      <a href="/app/create_listing/private_accommodation">
	<div class="caption-container">
	  <%= image_tag 'icon-accommodation.png' %>
	  <p class="caption">Private accommodation</p>
	</div>
      </a>
      <div class="caption-container">
	<%= image_tag 'icon-island.png' %>
	<p class="caption">Private island</p>
      </div>
      <div class="caption-container">
	<%= image_tag 'icon-lighthouse.png' %>
	<p class="caption">Lighthouse</p>
      </div>
    </div>
  </div>

  <div class="table-row">
    <div class="table-cell cell-left">
      Transport
    </div>
    <div class="table-cell cell-right">
      <div class="caption-container">
	<%= image_tag 'icon-taxi.png' %>
	<p class="caption">Taxi</p>
      </div>
      <div class="caption-container">
	<%= image_tag 'icon-plane.png' %>
	<p class="caption">Plane</p>
      </div>
      <div class="caption-container">
	<%= image_tag 'icon-yacht.png' %>
	<p class="caption">Boat</p>
      </div>
    </div>
  </div>

  <div class="table-row">
    <div class="table-cell cell-left">
      Rent-a
    </div>
    <div class="table-cell cell-right">
      <div class="caption-container">
	<%= image_tag 'icon-car.png' %>
	<p class="caption">Car</p>
      </div>
      <div class="caption-container">
	<%= image_tag 'icon-rent-boat.png' %>
	<p class="caption">Boat</p>
      </div>
      <div class="caption-container">
	<%= image_tag 'icon-bike.png' %>
	<p class="caption">Bike</p>
      </div>
      <div class="caption-container">
	<%= image_tag 'icon-scooter.png' %>
	<p class="caption">Scooter</p>
      </div>
      <div class="caption-container">
	<%= image_tag 'icon-boat.png' %>
	<p class="caption">Kayak</p>
      </div>
    </div>
  </div>

  <div class="table-row">
    <div class="table-cell cell-left">
      Activities
    </div>
    <div class="table-cell cell-right">
      <div class="caption-container">
	<%= image_tag 'icon-excursion.png' %>
	<p class="caption">Excursion</p>
      </div>
      <div class="caption-container">
	<%= image_tag 'icon-sport.png' %>
	<p class="caption">Marathon</p>
      </div>
      <div class="caption-container">
	<%= image_tag 'icon-biking.png' %>
	<p class="caption">Biking</p>
      </div>
      <div class="caption-container">
	<%= image_tag 'icon-diving.png' %>
	<p class="caption">Diving</p>
      </div>
      <div class="caption-container">
	<%= image_tag 'icon-rowing.png' %>
	<p class="caption">Rafting</p>
      </div>
      <div class="caption-container">
	<%= image_tag 'icon-events.png' %>
	<p class="caption">Events</p>
      </div>
    </div>
  </div>
</div>
