<form class="hotel">
  <div class="general">
    <label for="name">Name</label>
    <input id="name" type="text">

    <label for="description">Description</label>
    <input id="description" type="text">

    <label for="check_in">Check in</label>
    <input id="check_in" type="time">

    <label for="check_out">Check out</label>
    <input id="check_out" type="time">
  </div>
</form>

<form class="gallery">
  <input type="file" id="images" multiple="true">
  <div id="thumbnail-container">
  </div>
</form>

<form class="hotel">
  <div class="amenities-column">
    <div class="line">
      <input id="front_desk" type="checkbox">
      <label for="front_desk">24-hour front desk</label>
    </div>

    <div class="line">
      <input id="adult_only" type="checkbox">
      <label for="adult_only">Adult only</label>
    </div>

    <div class="line">
      <input id="air_conditioning" type="checkbox">
      <label for="air_conditioning">Air conditioning</label>
    </div>

    <div class="line">
      <input id="allergy_free" type="checkbox">
      <label for="allergy_free">Allergy-free room available</label>
    </div>

    <div class="line">
      <input id="non_smoking_all" type="checkbox">
      <label for="non_smoking_all">All public and private spaces
	non-smoking</label>
    </div>

    <div class="line">
      <input id="bar" type="checkbox">
      <label for="bar">Bar</label>
    </div>

    <div class="line">
      <input id="breakfast_buffet" type="checkbox">
      <label for="breakfast_buffet">Breakfast buffet</label>
    </div>

    <div class="line">
      <input id="chapel" type="checkbox">
      <label for="chapel">Chapel/shrine</label>
    </div>

    <div class="line">
      <input id="smoking_area" type="checkbox">
      <label for="smoking_area">Designated smoking area</label>
    </div>

    <div class="line">
      <input id="design_hotel" type="checkbox">
      <label for="design_hotel">Design hotel</label>
    </div>

    <div class="line">
      <input id="elevator" type="checkbox">
      <label for="elevator">Elevator</label>
    </div>

    <div class="line">
      <input id="express_check" type="checkbox">
      <label for="express_check">Express check-in/check-out</label>
    </div>

    <div class="line">
      <input id="family_rooms" type="checkbox">
      <label for="family_rooms">Family rooms</label>
    </div>

    <div class="line">
      <input id="garden" type="checkbox">
      <label for="garden">Garden</label>
    </div>

    <div class="line">
      <input id="gay_friendly" type="checkbox">
      <label for="gay_friendly">Gay friendly</label>
    </div>

    <div class="line">
      <input id="heating" type="checkbox">
      <label for="heating">Heating</label>
    </div>

    <div class="line">
      <input id="luggage_storage" type="checkbox">
      <label for="luggage_storage">Luggage storage</label>
    </div>

    <div class="line">
      <input id="mini_market" type="checkbox">
      <label for="mini_market">Mini-market on site</label>
    </div>

    <div class="line">
      <input id="newspapers" type="checkbox">
      <label for="newspapers">Newspapers</label>
    </div>

    <div class="line">
      <input id="non_smoking_rooms" type="checkbox">
      <label for="non_smoking_rooms">Non smoking rooms</label>
    </div>

    <div class="line">
      <input id="private_beach" type="checkbox">
      <label for="private_beach">Private beach area</label>
    </div>

    <div class="line">
      <input id="restaurant" type="checkbox">
      <label for="restaurant">Restaurant</label>
    </div>

    <div class="line">
      <input id="restaurant_carte" type="checkbox">
      <label for="restaurant_carte">Restaurant (à la carte)</label>
    </div>

    <div class="line">
      <input id="restaurant_buffet" type="checkbox">
      <label for="restaurant_buffet">Restaurant (buffet)</label>
    </div>

    <div class="line">
      <input id="disabled" type="checkbox">
      <label for="disabled">Rooms/facilities for disabled guests</label>
    </div>

    <div class="line">
      <input id="safe" type="checkbox">
      <label for="safe">Safety deposit box</label>
    </div>

    <div class="line">
      <input id="kitchen" type="checkbox">
      <label for="kitchen">Shared kitchen</label>
    </div>

    <div class="line">
      <input id="shops" type="checkbox">
      <label for="shops">Shops in hotel</label>
    </div>

    <div class="line">
      <input id="ski_storage" type="checkbox">
      <label for="ski_storage">Ski storage</label>
    </div>

    <div class="line">
      <input id="snack_bar" type="checkbox">
      <label for="snack_bar">Snack bar</label>
    </div>

    <div class="line">
      <input id="soundproof" type="checkbox">
      <label for="soundproof">Soundproofed rooms</label>
    </div>

    <div class="line">
      <input id="sun_terrace" type="checkbox">
      <label for="sun_terrace">Sun terrace</label>
    </div>

    <div class="line">
      <input id="terrace" type="checkbox">
      <label for="terrace">Terrace</label>
    </div>

    <div class="line">
      <input id="valet_parking" type="checkbox">
      <label for="valet_parking">Valet parking</label>
    </div>
  </div>

  <div class="amenities-column">
    <div class="line">
      <input id="aqua" type="checkbox">
      <label for="aqua">Aqua park</label>
    </div>

    <div class="line">
      <input id="bbq" type="checkbox">
      <label for="bbq">BBQ Facilities</label>
    </div>

    <div class="line">
      <input id="beachfront" type="checkbox">
      <label for="beachfront">Beachfront</label>
    </div>

    <div class="line">
      <input id="billiards" type="checkbox">
      <label for="billiards">Billiards</label>
    </div>

    <div class="line">
      <input id="bowling" type="checkbox">
      <label for="bowling">Bowling</label>
    </div>

    <div class="line">
      <input id="canoeing" type="checkbox">
      <label for="canoeing">Canoeing</label>
    </div>

    <div class="line">
      <input id="casino" type="checkbox">
      <label for="casino">Casino</label>
    </div>

    <div class="line">
      <input id="playground" type="checkbox">
      <label for="playground">Children's playground</label>
    </div>

    <div class="line">
      <input id="cycling" type="checkbox">
      <label for="cycling">Cycling</label>
    </div>

    <div class="line">
      <input id="darts" type="checkbox">
      <label for="darts">Darts</label>
    </div>

    <div class="line">
      <input id="diving" type="checkbox">
      <label for="diving">Diving</label>
    </div>

    <div class="line">
      <input id="evening_entertainment" type="checkbox">
      <label for="evening_entertainment">Evening entertainment</label>
    </div>

    <div class="line">
      <input id="fishing" type="checkbox">
      <label for="fishing">Fishing</label>
    </div>

    <div class="line">
      <input id="fitness" type="checkbox">
      <label for="fitness">Fitness centre</label>
    </div>

    <div class="line">
      <input id="games" type="checkbox">
      <label for="games">Games room</label>
    </div>

    <div class="line">
      <input id="golf" type="checkbox">
      <label for="golf">Golf</label>
    </div>

    <div class="line">
      <input id="hiking" type="checkbox">
      <label for="hiking">Hiking</label>
    </div>

    <div class="line">
      <input id="riding" type="checkbox">
      <label for="riding">Horse riding</label>
    </div>

    <div class="line">
      <input id="bath" type="checkbox">
      <label for="bath">Hot spring bath</label>
    </div>

    <div class="line">
      <input id="tub" type="checkbox">
      <label for="tub">Hot tub</label>
    </div>

    <div class="line">
      <input id="pool_all" type="checkbox">
      <label for="pool_all">Indoor pool (all year)</label>
    </div>

    <div class="line">
      <input id="pool_season" type="checkbox">
      <label for="pool_season">Indoor pool (seasonal)</label>
    </div>

    <div class="line">
      <input id="pool_swimming" type="checkbox">
      <label for="pool_swimming">Indoor swimming pool</label>
    </div>

    <div class="line">
      <input id="karaoke" type="checkbox">
      <label for="karaoke">Karaoke</label>
    </div>

    <div class="line">
      <input id="kids_club" type="checkbox">
      <label for="kids_club">Kid's club</label>
    </div>

    <div class="line">
      <input id="library" type="checkbox">
      <label for="library">Library</label>
    </div>

    <div class="line">
      <input id="massage" type="checkbox">
      <label for="massage">Massage</label>
    </div>

    <div class="line">
      <input id="minigolf" type="checkbox">
      <label for="minigolf">Mini golf</label>
    </div>

    <div class="line">
      <input id="out_pool_all" type="checkbox">
      <label for="out_pool_all">Outdoor pool (all year)</label>
    </div>

    <div class="line">
      <input id="out_pool_season" type="checkbox">
      <label for="out_pool_season">Outdoor pool (seasonal)</label>
    </div>

    <div class="line">
      <input id="sauna" type="checkbox">
      <label for="sauna">Sauna</label>
    </div>

    <div class="line">
      <input id="skiing" type="checkbox">
      <label for="skiing">Skiing</label>
    </div>

    <div class="line">
      <input id="ski_school" type="checkbox">
      <label for="ski_school">Ski school</label>
    </div>

    <div class="line">
      <input id="snorkeling" type="checkbox">
      <label for="snorkeling">Snorkeling</label>
    </div>

    <div class="line">
      <input id="solarium" type="checkbox">
      <label for="solarium">Solarium</label>
    </div>

    <div class="line">
      <input id="spa" type="checkbox">
      <label for="spa">Spa & wellness centre</label>
    </div>

    <div class="line">
      <input id="squash" type="checkbox">
      <label for="squash">Squash</label>
    </div>

    <div class="line">
      <input id="table_tennis" type="checkbox">
      <label for="table_tennis">Table tennis</label>
    </div>

    <div class="line">
      <input id="tennis" type="checkbox">
      <label for="tennis">Tennis court</label>
    </div>

    <div class="line">
      <input id="steam" type="checkbox">
      <label for="steam">Steam bath</label>
    </div>

    <div class="line">
      <input id="windsurfing" type="checkbox">
      <label for="windsurfing">Windsurfing</label>
    </div>
  </div>

  <div class="amenities-column">
    <div class="line">
      <input id="airport_shuttle" type="checkbox">
      <label for="airport_shuttle">Airport shuttle</label>
    </div>

    <div class="line">
      <input id="atm" type="checkbox">
      <label for="atm">ATM on site</label>
    </div>

    <div class="line">
      <input id="babysitting" type="checkbox">
      <label for="babysitting">Babysitting/child service</label>
    </div>

    <div class="line">
      <input id="barber" type="checkbox">
      <label for="barber">Barber/beauty shop</label>
    </div>

    <div class="line">
      <input id="bicycle" type="checkbox">
      <label for="bicycle">Bicycle rental</label>
    </div>

    <div class="line">
      <input id="room_breakfast" type="checkbox">
      <label for="room_breakfast">Breakfast in the room</label>
    </div>

    <div class="line">
      <input id="bridal_suite" type="checkbox">
      <label for="bridal_suite">Bridal suite</label>
    </div>

    <div class="line">
      <input id="business_centre" type="checkbox">
      <label for="business_centre">Business centre</label>
    </div>

    <div class="line">
      <input id="car_rental" type="checkbox">
      <label for="car_rental">Car rental</label>
    </div>

    <div class="line">
      <input id="concierge" type="checkbox">
      <label for="concierge">Concierge service</label>
    </div>

    <div class="line">
      <input id="exchange" type="checkbox">
      <label for="exchange">Currency exchange</label>
    </div>

    <div class="line">
      <input id="maid" type="checkbox">
      <label for="maid">Daily maid service</label>
    </div>

    <div class="line">
      <input id="dry_cleaning" type="checkbox">
      <label for="dry_cleaning">Dry cleaning</label>
    </div>

    <div class="line">
      <input id="entertainment_staff" type="checkbox">
      <label for="entertainment_staff">Entertainment staff</label>
    </div>

    <div class="line">
      <input id="fax" type="checkbox">
      <label for="fax">Fax/photocopying</label>
    </div>

    <div class="line">
      <input id="groceries" type="checkbox">
      <label for="groceries">Grocery delivery</label>
    </div>

    <div class="line">
      <input id="ironing" type="checkbox">
      <label for="ironing">Ironing service</label>
    </div>

    <div class="line">
      <input id="laundry" type="checkbox">
      <label for="laundry">Laundry</label>
    </div>

    <div class="line">
      <input id="lockers" type="checkbox">
      <label for="lockers">Lockers</label>
    </div>

    <div class="line">
      <input id="meeting" type="checkbox">
      <label for="meeting">Meeting/banquet facilities</label>
    </div>

    <div class="line">
      <input id="nightclub" type="checkbox">
      <label for="nightclub">Nightclub/DJ</label>
    </div>

    <div class="line">
      <input id="lunches" type="checkbox">
      <label for="lunches">Packed lunches</label>
    </div>

    <div class="line">
      <input id="private_check" type="checkbox">
      <label for="private_check">Private check-in/check-out</label>
    </div>

    <div class="line">
      <input id="room_service" type="checkbox">
      <label for="room_service">Room service</label>
    </div>

    <div class="line">
      <input id="lounge" type="checkbox">
      <label for="lounge">Shared lounge/TV area</label>
    </div>

    <div class="line">
      <input id="shoe_shine" type="checkbox">
      <label for="shoe_shine">Shoe shine</label>
    </div>

    <div class="line">
      <input id="shuttle" type="checkbox">
      <label for="shuttle">Shuttle service</label>
    </div>

    <div class="line">
      <input id="ski_hire" type="checkbox">
      <label for="ski_hire">Ski equipment hire on site</label>
    </div>

    <div class="line">
      <input id="ski_pass" type="checkbox">
      <label for="ski_pass">Ski pass vendor</label>
    </div>

    <div class="line">
      <input id="ski_to_door" type="checkbox">
      <label for="ski_to_door">Ski to door access</label>
    </div>

    <div class="line">
      <input id="souvenirs" type="checkbox">
      <label for="souvenirs">Souvenirs/gift shop</label>
    </div>

    <div class="line">
      <input id="special_diet" type="checkbox">
      <label for="special_diet">Special diet menus</label>
    </div>

    <div class="line">
      <input id="tickets" type="checkbox">
      <label for="tickets">Ticket service</label>
    </div>

    <div class="line">
      <input id="tour" type="checkbox">
      <label for="tour">Tour desk</label>
    </div>

    <div class="line">
      <input id="trouser_press" type="checkbox">
      <label for="trouser_press">Trouser press</label>
    </div>

    <div class="line">
      <input id="vending_drinks" type="checkbox">
      <label for="vending_drinks">Vending machine (drinks)</label>
    </div>

    <div class="line">
      <input id="vending_snacks" type="checkbox">
      <label for="vending_snacks">Vending machine (snacks)</label>
    </div>

    <div class="line">
      <input id="vip_room" type="checkbox">
      <label for="vip_room">VIP room facilities</label>
    </div>

    <div class="line">
      <input id="water_sports" type="checkbox">
      <label for="water_sports">Water sports facilities on site</label>
    </div>
  </div>
</form>

<input type="submit">
