<div class="modal-overlay">
  <div class="table">
    <div class="cell">
      <div class="content">
	<p class="oauth">Log in with <a href="#">Facebook</a> or <a href="#">
	    Google</a></p>
	<div class="hr"><span class="or">or</span><hr></div>

	<form>
	  <input id="email" type="email" placeholder="Email address">
	  <input id="password" type="password" placeholder="Password">

	  <input type="submit" value="Log in" class="button">
	</form>

	<hr>
	<p>Not a Croffers member? <a id="signup">Sign up</a></p>
      </div>
    </div>
  </div>
</div>
