<div id="offers-list">
  <div id="offers-sidebar">
    <div id="sidebar-planner-link">
      <p>Planner</p>
    </div>
    <div class="sidebar-icon">
      <img src="<%= image_path 'icon-accommodation.png' %>">
      <p>Accommodation</p>
    </div>
    <div class="sidebar-icon">
      <%= image_tag 'icon-yacht.png' %>
      <p>Transfer</p>
    </div>
    <div class="sidebar-icon">
      <%= image_tag 'icon-taxi.png' %>
      <p>Rent a</p>
    </div>
    <div class="sidebar-icon">
      <%= image_tag 'icon-sport.png' %>
      <p>Activities</p>
    </div>
    <div class="sidebar-icon">
      <%= image_tag 'icon-excursion.png' %>
      <p>Excursions</p>
    </div>
  </div>

  <div id="offers-wrapper">
    <div id="offers">
      <div class="container-fluid">
	<div id="offers-top">
	  <div id="filters"><p>Filters</p></div>
	  <div id="search"><p>Search</p></div>
	  <div id="display-mode"><p><span>List</span> / <span>Map<span></p></div>
	</div>

	<div class="row">
	  <div id="offers-main">
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
