<div class="offer-image"></div>

<p class="offer-title">
  <%= name %>

  <% if(rating !== undefined) { %>
    <% for(var i = 0; i < rating; ++i) { %>
    <span>*</span>
  <% } %>
<% } %>
</p>

<p class="offer-details">
  <%= description %>
</p>

<div class="price">
  <%= price %>
</div>

<a class="details" href="#">Details</a>
<p class="planner-add">+ Add to planner</p>

<div class="offer-colors <%= color %>-stripe">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>
