<!-- TODO: remove ID-s used for adding city and accommodation -->

<div id="planner">
  <ul id="planner-menu">
    <li class="blue">Day<span class="plus">+</span></li>
    <li class="blue">Destination<span class="plus">+</span></li>
    <li class="blue">Accommodation<span class="plus">+</span></li>
    <li class="blue">Activity<span class="plus">+</span></li>
    <li class="pink">Book it<span id="price"></span></li>
  </ul>

  <div class="cell">
    <div id="planner-day-picker">
      <div class="arrow">&lt;</div>
      <div class="scroll-container">
	<div class="days">
	  <div class="active">Day 1</div>
	  <div>Day 2</div>
	  <div>Day 3</div>
	  <div>Day 4</div>
	  <div>Day 5</div>
	  <div>Day 6</div>
	  <div>Day 7</div>
	  <div>Day 8</div>
	  <div>Day 9</div>
	  <div>Day 10</div>
	</div>
      </div>
      <div class="arrow">&gt;</div>
    </div>

    <div id="planner-day-view">
      <div class="column-left">
	<p class="planner-title">Destination:</p>
	<!-- remove #city -->
	<p id="city" class="planner-item undefined">undefined</p>
	<p class="planner-date"><%= new Date(Date.now()).toLocaleDateString() %></p>
	<p class="planner-day"><%= new Date(Date.now()).toDateString().slice(0,3) %></p>
	<div class="weather-icon">Icon</div>
	<p class="weather-text">23C Sunny</p>
      </div>

      <div class="column-right">
	<p class="planner-title">Accommodation:</p>
	<!-- remove #acc -->
	<p id="acc" class="planner-item">Ispod bora<span class="delete">[X]</span></p>
	<p class="planner-title">Activity:</p>
	<div class="planner-activities">
	  <ul>
	    <li class="planner-item"
		><span>smth</span><span class="delete">[X]</span>
	    </li>
	    <li class="planner-item">
	      <span>smth</span><span class="delete">[X]</span>
	    </li>
	    <li class="planner-item">
	      <span>smth</span><span class="delete">[X]</span>
	    </li>
	    <li class="planner-item">
	      <span>smth</span><span class="delete">[X]</span>
	    </li>
	    <li class="planner-item">
	      <span>smth</span><span class="delete">[X]</span>
	    </li>
	    <li class="planner-item">
	      <span>smthjkfsjklsdfjklsjkdlloooonnonnngngngggggjk</span><span class="delete">[X]</span>
	    </li>
	    <li class="planner-item">
	      <span>smth</span><span class="delete">[X]</span>
	    </li>
	    <li class="planner-item">
	      <span>smth</span><span class="delete">[X]</span>
	    </li>
	  </ul>
	</div>
      </div>
    </div>
  </div>

  <div id="planner-map">
  </div>
</div>
