<form class="form">
  <% if (Croffers.current_user &&
    Croffers.current_user.get('user_type') === 'company') { %>
    <label for="company_name">Company name</label>
    <input id="company_name" type="text">

    <label for="vat_id">VAT ID</label>
    <input id="vat_id" type="text">
  <% } else { %>
    <label for="first_name">First name</label>
    <input id="first_name" type="text">

    <label for="last_name">Last name</label>
    <input id="last_name" type="text">

    <label for="gender">Gender</label>
    <select id="gender">
      <option value="null">Gender</option>
      <option value="female">Female</option>
      <option value="male">Male</option>
      <option value="other">Other</option>
    </select>

    <label for="birth_day">Birth date</label>
    <select id="birth_day">
      <% for (i = 1; i < 32; ++i) { %>
      <option value="<%= i %>"><%= i %></option>
      <% } %>
    </select>
    <select id="birth_month">
      <option value="1">January</option>
      <option value="2">February</option>
      <option value="3">March</option>
      <option value="4">April</option>
      <option value="5">May</option>
      <option value="6">June</option>
      <option value="7">July</option>
      <option value="8">August</option>
      <option value="9">September</option>
      <option value="10">October</option>
      <option value="11">November</option>
      <option value="12">December</option>
    </select>
    <input id="birth_year" type="number" min="1920" max="2015">
  <% } %>

  <label for="email">Email</label>
  <input id="email" type="email">

  <label for="oib">OIB</label>
  <input id="oib" type="number">

  <label for="tel_no">Telephone number</label>
  <input id="tel_no" type="telephone"></label>

  <br>

  <input type="submit" value="Save changes"></input>
</form>
