<div id="profile-sidebar">
  <ul>
    <li><a href="/app/profile/dashboard">Dashboard</a></li>
    <li><a href="/app/profile/listings">Listings</a></li>
    <li><a href="/app/profile/inbox">Inbox</a></li>
    <li><a href="/app/profile/profile">Profile</a></li>
    <li><a href="/app/profile/reservations">Reservations</a></li>
  </ul>
</div>

<div id="profile-main">

</div>
