<div class="modal-overlay">
  <div class="table">
    <div class="cell">
      <div class="content">
	<p class="oauth">Sign up with <a href="#">Facebook</a> or <a href="#">
	    Google</a></p>
	<div class="hr"><span class="or">or</span><hr></div>

	<form>
	  <input id="first_name" type="text" placeholder="First name">
	  <input id="last_name" type="text" placeholder="Last name">
	  <input id="email" type="email" placeholder="Email address">
	  <input id="password" type="password" placeholder="Password">

	  <p class="legal">By signing up, I agree to
	    Croffers <a href="#">Terms of service</a>, <a href="#">Privacy
	      Policy</a>,
	    <a href="#">Guest refund policy</a> and <a href="#">Host
	      guarantee terms</a>
	  </p>

	  <input type="submit" value="Sign up" class="button">
	</form>

	<hr>
	<p>Already a Croffers member? <a id="login">Log in</a></p>
      </div>
    </div>
  </div>
</div>
