<!DOCTYPE html>
<html>
  <head>
    <title>Croffers</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= csrf_meta_tags %>
    <%= render 'shared/ga' %>
 </head>

  <body>
    <%= render 'shared/navbar' %>

    <div id="planner">
      <div id="panel-left">
        <%= yield %>
      </div>
      <div id="panel-right">
        <div id="map"></div>
      </div>
    </div>
         
    <script type="text/javascript">
      var markers = L.markerClusterGroup({animate: false});
      var map = L.map('map', { center: [44.5435052132082, 16.50146484375],
      zoom: 6});

      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap</a> contributors'
      }).addTo(map);

     $(window).on('load', function () {
       map.addLayer(markers);
     });
    </script>
  </body>
</html>
