<!DOCTYPE html>
<html>
  <head>
    <title>Croffers</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= csrf_meta_tags %>
    <%= render 'shared/ga' %>
 </head>

  <body>
    <%= render 'shared/navbar' %>
    <div id="planner">
      <%= yield %>
    </div>
  </body>
</html>
