<!DOCTYPE html>
<html>
<head>
  <title>Croffers</title>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= stylesheet_link_tag    'static', media: 'all' %>
  <%= javascript_include_tag 'static' %>

  <%= csrf_meta_tags %>
  <%= render 'shared/ga' %>
</head>

<body>
  <%= yield %>
</body>

</html>
