<!DOCTYPE html>
<html>
  <head>
    <title>Croffers</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= csrf_meta_tags %>
    <%= render 'shared/ga' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>

    <div id="profile-navbar">
      <div class="container-fluid">
				<ul>
					<% if current_user.is_business? %>
						<li id="profile-navbar-listings">
							<%= link_to 'Vaše ponude', user_listings_path, class: 'cool-link-profile' %>
						</li>
					<% end %>
					
					<li id="profile-navbar-packages">
						<%= link_to 'Paketi', reservation_packages_path, class: 'cool-link-profile' %>
					</li>
					
					<% if current_user.is_business? %>
						<li id="profile-navbar-reservations">
							<%= link_to 'Rezervacije', reservations_path, class: 'cool-link-profile' %>
						</li>
					<% end %>
					
					<li id="profile-navbar-payments">
						<%= link_to 'Plaćanja', payments_path, class: 'cool-link-profile' %>
					</li>
					
					<li id="profile-navbar-inbox">
						<%= link_to 'Poruke', message_threads_path, class: 'cool-link-profile' %>
					</li>
					
          <li id="profile-navbar-trips">
            <%= link_to 'Trips', trips_path, class: 'cool-link-profile' %>
          </li>

					<li id="profile-navbar-profile">
						<%= link_to 'Profil', edit_user_profile_path, class: 'cool-link-profile' %>
					</li>

				</ul>
      </div>
    </div>

    <div id="profile-main">
      <%= yield %>
    </div>
  </body>
</html>
<style type="text/css">

.cool-link-profile {
  display: inline-block;
  color: #969696;
  text-decoration: none;
}

.cool-link-profile::after {
  content: '';
  display: block;
  width: 0px;
  height: 1px;
  margin: 10px 0px;
  background: #ee365c;
  transition: width .3s;
  border-bottom: 2px solid #ee365c;
}

.cool-link-profile:hover::after {
  width: 100%;
  //transition: width .3s;
}
</style>
<script>
  $('#profile-navbar div ul li a').each(function(){
  var url = window.location.pathname,
    urlRegExp = new RegExp(url.replace(/\/$/,''));
    if(urlRegExp.test(this.href)){
      $(this).parent().addClass('active');  
    }
  });
</script>